<nz-card nzTitle="{{filter.status|titlecase}} ({{ total }})" [nzExtra]="extraTemplate" [nzBodyStyle]="{padding:0}">
    <div class="filter" [hidden]="!filter_extra">
        <form nz-form [nzLayout]="'vertical'" role="form">
            <div nz-row [nzGutter]="8">
                <div nz-col [nzXl]="{ span: 6}" [nzLg]="{ span: 8}" [nzMd]="{ span: 12}" [nzXs]="{ span: 24}">
                    <nz-form-item>
                        <nz-form-label>&nbsp;</nz-form-label>
                        <nz-form-control>
                            <nz-input-group nzSearch [nzAddOnBefore]="addOnBeforeTemplate"
                                [nzAddOnAfter]="suffixIconButton" style="width: 100%;">
                                <input type="text" nz-input placeholder="{{'search'|translate|titlecase}}"
                                    [(ngModel)]="search" name="search" (keyup.enter)="searchData()" />
                            </nz-input-group>
                            <ng-template #suffixIconButton>
                                <button nz-button nzType="default" nzSearch (click)="searchData()"><span nz-icon
                                        nzType="search"></span></button>
                            </ng-template>
                            <ng-template #addOnBeforeTemplate>
                                <span nz-icon nzTheme="twotone" nzType="question-circle" nz-popover
                                    nzPopoverTitle="Pencarian berdasarkan" [nzPopoverContent]="tipsPencarian"
                                    nzPopoverPlacement="top"></span>
                                <ng-template #tipsPencarian>
                                    <div>
                                        <ul>
                                            <li *ngFor="let item of search_field">{{ item | translate }}</li>
                                        </ul>
                                    </div>
                                </ng-template>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'dateAcc' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-range-picker
                            [(ngModel)]="filter.dateAccRange"
                            name="dateAccRange"
                            nzFormat="YYYY-MM-DD"
                            nzPlaceHolder="['Dari', 'Sampai']"
                            style="width: 100%;">
                        </nz-range-picker>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'endDateWp' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-range-picker
                            [(ngModel)]="filter.endDateWpRange"
                            name="endDateWpRange"
                            nzFormat="YYYY-MM-DD"
                            nzPlaceHolder="['Dari', 'Sampai']"
                            style="width: 100%;">
                        </nz-range-picker>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'endHours' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.endHoursMin" name="endHoursMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.endHoursMax" name="endHoursMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'idAircraft' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-select [(ngModel)]="filter.idAircraft" name="idAircraft" nzAllowClear>
                            <nz-option *ngFor="let item of listAircraft" [nzValue]="item.idAircraft" [nzLabel]="item.namaAircraft"></nz-option>
                        </nz-select>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'idUserMm' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-select [(ngModel)]="filter.idUserMm" name="idUserMm" nzAllowClear>
                            <nz-option *ngFor="let item of listUserMm" [nzValue]="item.idUserMm" [nzLabel]="item.namaUserMm"></nz-option>
                        </nz-select>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'idUserMpc' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-select [(ngModel)]="filter.idUserMpc" name="idUserMpc" nzAllowClear>
                            <nz-option *ngFor="let item of listUserMpc" [nzValue]="item.idUserMpc" [nzLabel]="item.namaUserMpc"></nz-option>
                        </nz-select>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'onSite' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.onSiteMin" name="onSiteMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.onSiteMax" name="onSiteMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'periodYear' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.periodYearMin" name="periodYearMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.periodYearMax" name="periodYearMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'startDateWp' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-range-picker
                            [(ngModel)]="filter.startDateWpRange"
                            name="startDateWpRange"
                            nzFormat="YYYY-MM-DD"
                            nzPlaceHolder="['Dari', 'Sampai']"
                            style="width: 100%;">
                        </nz-range-picker>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'startHours' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.startHoursMin" name="startHoursMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.startHoursMax" name="startHoursMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'validated' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.validatedMin" name="validatedMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.validatedMax" name="validatedMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                
 
                <div nz-col nzSpan="24">

                    <nz-form-item>
                        <nz-form-control>
                            <button nz-button nzType="primary" (click)="print()" style="margin-right: 5px;">
                                <span nz-icon nzType="printer"></span>
                                Print
                            </button>
                            <button nz-button nzType="primary" (click)="searchData()" [nzLoading]="loading"
                                style="margin-right: 10px;"><span nz-icon nzType="filter"></span>Filter</button>
                            <button nz-button nzType="default" (click)="resetData()" [nzLoading]="loading"
                                style="margin-right: 10px;"><span nz-icon nzType="reload"></span>Reset</button>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </div>
    <div style="overflow: auto; background-color: white;">
        <nz-table nzShowSizeChanger [nzData]="listOfData" [nzFrontPagination]="false" [nzLoading]="loading"
            [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
            (nzQueryParams)="onQueryParamsChange($event)" nzSize="small">
            <thead>
                <tr>
                    <th   [nzAlign]="'right'">#ID</th>
                    
                    <th [nzSortFn]="true" nzColumnKey="createdAt" *ngIf="isColVisible('createdAt')">
                        {{ 'createdAt' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="dateAcc" *ngIf="isColVisible('dateAcc')">
                        {{ 'dateAcc' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="endDateWp" *ngIf="isColVisible('endDateWp')">
                        {{ 'endDateWp' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="endHours" *ngIf="isColVisible('endHours')">
                        {{ 'endHours' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="engineEnd" *ngIf="isColVisible('engineEnd')">
                        {{ 'engineEnd' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="engineStart" *ngIf="isColVisible('engineStart')">
                        {{ 'engineStart' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="noteWp" *ngIf="isColVisible('noteWp')">
                        {{ 'noteWp' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="numberWp" *ngIf="isColVisible('numberWp')">
                        {{ 'numberWp' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="onSite" *ngIf="isColVisible('onSite')">
                        {{ 'onSite' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="period" *ngIf="isColVisible('period')">
                        {{ 'period' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="periodYear" *ngIf="isColVisible('periodYear')">
                        {{ 'periodYear' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="place" *ngIf="isColVisible('place')">
                        {{ 'place' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="reason" *ngIf="isColVisible('reason')">
                        {{ 'reason' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="startDateWp" *ngIf="isColVisible('startDateWp')">
                        {{ 'startDateWp' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="startHours" *ngIf="isColVisible('startHours')">
                        {{ 'startHours' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="statusWp" *ngIf="isColVisible('statusWp')">
                        {{ 'statusWp' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="typeWork" *ngIf="isColVisible('typeWork')">
                        {{ 'typeWork' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="updatedAt" *ngIf="isColVisible('updatedAt')">
                        {{ 'updatedAt' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="validated" *ngIf="isColVisible('validated')">
                        {{ 'validated' | translate }}
                     </th>
                    
                    <th nzWidth="7%" [nzAlign]="'right'">Action</th>
                </tr> 
            </thead>
            <tbody>
                <ng-container *ngFor="let data of listOfData" style="vertical-align: top;">
                    <tr>
                        <td [nzExpand]="expandSet.has(data.idMpcWp)"
                            (nzExpandChange)="onExpandChange(data.idMpcWp, $event)">
                            <nz-badge *ngIf="data.idMpcWp!=null" nzColor="{{ data.idMpcWp?.toLowerCase() | status }}"
                                nzText="{{data.idMpcWp?.toLowerCase() }}"></nz-badge>  
                        </td>
                        
                        
                            <td *ngIf="isColVisible('createdAt')">
                                
                                        {{ data.createdAt | date: 'short' }}
                                            
                            </td>
                            
                            <td *ngIf="isColVisible('dateAcc')">
                                
                                                        {{ data.dateAcc  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('endDateWp')">
                                
                                                        {{ data.endDateWp  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('endHours')">
                                
                                                        {{ data.endHours  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('engineEnd')">
                                
                                                        {{ data.engineEnd  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('engineStart')">
                                
                                                        {{ data.engineStart  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('noteWp')">
                                
                                                        {{ data.noteWp  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('numberWp')">
                                
                                                        {{ data.numberWp  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('onSite')">
                                
                                                        {{ data.onSite  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('period')">
                                
                                                        {{ data.period  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('periodYear')">
                                
                                                        {{ data.periodYear  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('place')">
                                
                                                        {{ data.place  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('reason')">
                                
                                                        {{ data.reason  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('startDateWp')">
                                
                                                        {{ data.startDateWp  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('startHours')">
                                
                                                        {{ data.startHours  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('statusWp')">
                                
                                                        {{ data.statusWp  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('typeWork')">
                                
                                                        {{ data.typeWork  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('updatedAt')">
                                
                                        {{ data.updatedAt | date: 'short' }}
                                            
                            </td>
                            
                            <td *ngIf="isColVisible('validated')">
                                
                                                        {{ data.validated  }}
                                                            
                            </td>
                            

                        <td [nzAlign]="'right'">
                            <button nz-button nz-dropdown [nzDropdownMenu]="menu">
                                Actions
                                <span nz-icon nzType="down"></span>
                            </button>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item (click)="detail(data)">
                                        <span nz-icon nzType="pic-center" nzTheme="outline"></span>&nbsp;&nbsp;Detail
                                    </li>
                                    <!--  -->
                                    <li nz-menu-item (click)="update(data)" *ngIf="data.status=='draft'">
                                        <span nz-icon nzType="edit" nzTheme="outline"></span>&nbsp;&nbsp;Update
                                    </li>
                                    <li nz-menu-divider *ngIf="data.status=='draft'"></li>
                                    <li nz-menu-item nz-menu-item nz-popconfirm class="text-danger"
                                        *ngIf="data.status=='draft'"
                                        nzPopconfirmTitle="Apakah Anda yakin akan menghapus data ini?"
                                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data.idMpcWp)"><span
                                            nz-icon nzType="delete" nzTheme="outline"></span>
                                        <a class="m-1 text-danger">&nbsp;&nbsp;Delete</a>
                                    </li>
                                </ul>
                            </nz-dropdown-menu>
                        </td>
                    </tr>
                    <tr [nzExpand]="expandSet.has(data.idMpcWp)">
                        <app-mpc-wp-share-header [data]="data"></app-mpc-wp-share-header> 
                    </tr>
                </ng-container>
                 
            </tbody>
        </nz-table>
    </div>
</nz-card>
<ng-template #extraTemplate>
    <ng-container *ngIf="!filter_extra">
        <nz-input-group nzSearch [nzAddOnBefore]="addOnBeforeTemplate" [nzAddOnAfter]="suffixIconButton"
            style="max-width: 180px;">
            <input type="text" nz-input placeholder="{{'search'|translate|titlecase}}" [(ngModel)]="search"
                name="search" (keyup.enter)="searchData()" />
        </nz-input-group>
        <ng-template #suffixIconButton>
            <button nz-button nzType="default" nzSearch (click)="searchData()"><span nz-icon
                    nzType="search"></span></button>
        </ng-template>
        <ng-template #addOnBeforeTemplate>
            <span nz-icon nzTheme="twotone" nzType="question-circle" nz-popover nzPopoverTitle="Pencarian berdasarkan"
                [nzPopoverContent]="tipsPencarian" nzPopoverPlacement="top"></span>
            <ng-template #tipsPencarian>
                <div>
                    <ul>
                        <li *ngFor="let item of search_field">{{ item | translate }}</li>
                    </ul>
                </div>
            </ng-template>
        </ng-template>
    </ng-container>
    <button nz-button [nzType]="filter_extra ? 'primary' :'default'" style="margin-bottom: 8px;margin-left: 10px;"
        (click)="filter_extra=!filter_extra">
        <span nz-icon nzType="filter" nzTheme="outline"></span> Filter
    </button>
    <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzTy [nzPlacement]="'topRight'"><i nz-icon nzType="appstore"></i></button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item *ngFor="let col of columns">
                <label nz-checkbox [(ngModel)]="col.show" (ngModelChange)="onColumnToggle()">
                    {{ col.key | translate }}
                </label>
            </li>
        </ul>
    </nz-dropdown-menu> 
    <button nz-button nzType="link" (click)="resetColumns()" nz-tooltip nzTooltipTitle="{{ 'Reset Kolom' | translate }}"><i nz-icon nzType="undo"></i></button>

    <button nz-button style="margin-bottom: 8px;margin-left: 10px;" nzType="primary" (click)="add()">
        <span nz-icon nzType="plus" nzTheme="outline"></span> Add New
    </button>
</ng-template>