<nz-spin [nzSpinning]="is_loading">
    <form [formGroup]="form" (ngSubmit)="submit()" nz-form [nzLayout]="'vertical'">
        
        <nz-form-item>
            <nz-form-label nzFor="dateInstall">{{ 'dateInstall' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-date-picker formControlName="dateInstall" style="width: 100%" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idEngineerRti">{{ 'idEngineerRti' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idEngineerRti" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idEngineerRti' | translate }}"> 
                    <nz-option *ngFor="let item of listEngineerRti" nzLabel="{{ item.idEngineerRti }}" nzValue="{{ item.idEngineerRti }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idPart">{{ 'idPart' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idPart" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idPart' | translate }}"> 
                    <nz-option *ngFor="let item of listPart" nzLabel="{{ item.idPart }}" nzValue="{{ item.idPart }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idPartInstall">{{ 'idPartInstall' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idPartInstall" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idPartInstall' | translate }}"> 
                    <nz-option *ngFor="let item of listPartInstall" nzLabel="{{ item.idPartInstall }}" nzValue="{{ item.idPartInstall }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="parent">{{ 'parent' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="parent" formControlName="parent" placeholder="Masukkan {{ 'parent' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tsiCycle">{{ 'tsiCycle' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="tsiCycle" formControlName="tsiCycle" placeholder="Masukkan {{ 'tsiCycle' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tsiHours">{{ 'tsiHours' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="tsiHours" formControlName="tsiHours" placeholder="Masukkan {{ 'tsiHours' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tsiVal">{{ 'tsiVal' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="tsiVal" formControlName="tsiVal" placeholder="Masukkan {{ 'tsiVal' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tsiVar">{{ 'tsiVar' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="tsiVar" formControlName="tsiVar" placeholder="Masukkan {{ 'tsiVar' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tsnCycle">{{ 'tsnCycle' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="tsnCycle" formControlName="tsnCycle" placeholder="Masukkan {{ 'tsnCycle' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tsnHours">{{ 'tsnHours' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="tsnHours" formControlName="tsnHours" placeholder="Masukkan {{ 'tsnHours' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tsnVal">{{ 'tsnVal' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="tsnVal" formControlName="tsnVal" placeholder="Masukkan {{ 'tsnVal' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tsnVar">{{ 'tsnVar' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="tsnVar" formControlName="tsnVar" placeholder="Masukkan {{ 'tsnVar' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tsoCycle">{{ 'tsoCycle' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="tsoCycle" formControlName="tsoCycle" placeholder="Masukkan {{ 'tsoCycle' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tsoHours">{{ 'tsoHours' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="tsoHours" formControlName="tsoHours" placeholder="Masukkan {{ 'tsoHours' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tsoVal">{{ 'tsoVal' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="tsoVal" formControlName="tsoVal" placeholder="Masukkan {{ 'tsoVal' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tsoVar">{{ 'tsoVar' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="tsoVar" formControlName="tsoVar" placeholder="Masukkan {{ 'tsoVar' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="warantyStartCycle">{{ 'warantyStartCycle' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="warantyStartCycle" formControlName="warantyStartCycle" placeholder="Masukkan {{ 'warantyStartCycle' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="warantyStartDate">{{ 'warantyStartDate' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-date-picker formControlName="warantyStartDate" style="width: 100%" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="warantyStartDays">{{ 'warantyStartDays' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="warantyStartDays" formControlName="warantyStartDays" placeholder="Masukkan {{ 'warantyStartDays' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="warantyStartHours">{{ 'warantyStartHours' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="warantyStartHours" formControlName="warantyStartHours" placeholder="Masukkan {{ 'warantyStartHours' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-control>
                <button nz-button nzType="primary" [disabled]="form.invalid">Simpan</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-spin>