<nz-spin [nzSpinning]="is_loading">
    <form [formGroup]="form" (ngSubmit)="submit()" nz-form [nzLayout]="'vertical'">
        
        <nz-form-item>
            <nz-form-label nzFor="alamat">{{ 'alamat' | translate }}</nz-form-label>
            <nz-form-control>
                <textarea nz-input id="alamat" formControlName="alamat" placeholder="Masukkan {{ 'alamat' | translate }}"></textarea>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="catatan">{{ 'catatan' | translate }}</nz-form-label>
            <nz-form-control>
                <textarea nz-input id="catatan" formControlName="catatan" placeholder="Masukkan {{ 'catatan' | translate }}"></textarea>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="emailPerusahaan">{{ 'emailPerusahaan' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="emailPerusahaan" formControlName="emailPerusahaan" placeholder="Masukkan {{ 'emailPerusahaan' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-control>
                <label nz-checkbox formControlName="isAktif">{{ 'isAktif' | translate }}</label>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="jenisClient">{{ 'jenisClient' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="jenisClient" formControlName="jenisClient" placeholder="Masukkan {{ 'jenisClient' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="kodeClient">{{ 'kodeClient' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="kodeClient" formControlName="kodeClient" placeholder="Masukkan {{ 'kodeClient' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="kodePos">{{ 'kodePos' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="kodePos" formControlName="kodePos" placeholder="Masukkan {{ 'kodePos' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="kota">{{ 'kota' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="kota" formControlName="kota" placeholder="Masukkan {{ 'kota' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="logoUrl">{{ 'logoUrl' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="logoUrl" formControlName="logoUrl" placeholder="Masukkan {{ 'logoUrl' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="namaFamiliar">{{ 'namaFamiliar' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="namaFamiliar" formControlName="namaFamiliar" placeholder="Masukkan {{ 'namaFamiliar' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="namaResmi">{{ 'namaResmi' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="namaResmi" formControlName="namaResmi" placeholder="Masukkan {{ 'namaResmi' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="npwp">{{ 'npwp' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="npwp" formControlName="npwp" placeholder="Masukkan {{ 'npwp' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="primaryPic">{{ 'primaryPic' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="primaryPic" formControlName="primaryPic" placeholder="Masukkan {{ 'primaryPic' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="provinsi">{{ 'provinsi' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="provinsi" formControlName="provinsi" placeholder="Masukkan {{ 'provinsi' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="telepon">{{ 'telepon' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="telepon" formControlName="telepon" placeholder="Masukkan {{ 'telepon' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="website">{{ 'website' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="website" formControlName="website" placeholder="Masukkan {{ 'website' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-control>
                <button nz-button nzType="primary" [disabled]="form.invalid">Simpan</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-spin>