<nz-spin [nzSpinning]="is_loading">
    <form [formGroup]="form" (ngSubmit)="submit()" nz-form [nzLayout]="'vertical'">
        <%- formHtml %>

        <nz-form-item>
            <nz-form-control>
                <button nz-button nzType="primary" [disabled]="form.invalid">Simpan</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-spin>