



<!-- ✅ Start rendering -->
<div class="row">
  
    
  
    
  <div class="col-md-3" *ngIf="data?.alamatPenagihan !== undefined && data?.alamatPenagihan !== null">
    <div class="text-secondary small">
      {{ 'alamatPenagihan' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.alamatPenagihan || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.catatan !== undefined && data?.catatan !== null">
    <div class="text-secondary small">
      {{ 'catatan' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.catatan || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.createdAt !== undefined && data?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.createdAt | date:'short' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.createdBy !== undefined && data?.createdBy !== null">
    <div class="text-secondary small">
      {{ 'createdBy' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.createdBy | date:'short' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.dpp !== undefined && data?.dpp !== null">
    <div class="text-secondary small">
      {{ 'dpp' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.dpp | number:'1.0-0' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idContract !== undefined && data?.idContract !== null">
    <div class="text-secondary small">
      {{ 'idContract' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.idContract || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idInvoice !== undefined && data?.idInvoice !== null">
    <div class="text-secondary small">
      {{ 'idInvoice' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.idInvoice || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.jenisInvoice !== undefined && data?.jenisInvoice !== null">
    <div class="text-secondary small">
      {{ 'jenisInvoice' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.jenisInvoice || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.metodePembayaran !== undefined && data?.metodePembayaran !== null">
    <div class="text-secondary small">
      {{ 'metodePembayaran' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.metodePembayaran || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.nilaiInvoice !== undefined && data?.nilaiInvoice !== null">
    <div class="text-secondary small">
      {{ 'nilaiInvoice' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.nilaiInvoice | number:'1.0-0' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.nomorInvoice !== undefined && data?.nomorInvoice !== null">
    <div class="text-secondary small">
      {{ 'nomorInvoice' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.nomorInvoice || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.npwp !== undefined && data?.npwp !== null">
    <div class="text-secondary small">
      {{ 'npwp' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.npwp || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.periode !== undefined && data?.periode !== null">
    <div class="text-secondary small">
      {{ 'periode' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.periode || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.picPenagihan !== undefined && data?.picPenagihan !== null">
    <div class="text-secondary small">
      {{ 'picPenagihan' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.picPenagihan || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.ppn !== undefined && data?.ppn !== null">
    <div class="text-secondary small">
      {{ 'ppn' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.ppn | number:'1.0-0' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.statusInvoice !== undefined && data?.statusInvoice !== null">
    <div class="text-secondary small">
      {{ 'statusInvoice' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag nzColor="green">{{ data.statusInvoice }}</nz-tag>
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.tanggalDibayar !== undefined && data?.tanggalDibayar !== null">
    <div class="text-secondary small">
      {{ 'tanggalDibayar' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.tanggalDibayar | date:'short' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.tanggalJatuhTempo !== undefined && data?.tanggalJatuhTempo !== null">
    <div class="text-secondary small">
      {{ 'tanggalJatuhTempo' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.tanggalJatuhTempo | date:'short' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.tanggalTerbit !== undefined && data?.tanggalTerbit !== null">
    <div class="text-secondary small">
      {{ 'tanggalTerbit' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.tanggalTerbit | date:'short' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.updatedAt !== undefined && data?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.updatedAt | date:'short' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.updatedBy !== undefined && data?.updatedBy !== null">
    <div class="text-secondary small">
      {{ 'updatedBy' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.updatedBy | date:'short' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    <div class="col-12 mt-4" *ngIf="data?.contract">
      <div class="fw-bold border-bottom mb-2">
        {{ 'contract' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.catatanKontrak !== undefined && data.contract?.catatanKontrak !== null">
    <div class="text-secondary small">
      {{ 'catatanKontrak' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.catatanKontrak || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.createdAt !== undefined && data.contract?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.dokumenUrl !== undefined && data.contract?.dokumenUrl !== null">
    <div class="text-secondary small">
      {{ 'dokumenUrl' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.dokumenUrl || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.durasiBulan !== undefined && data.contract?.durasiBulan !== null">
    <div class="text-secondary small">
      {{ 'durasiBulan' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.durasiBulan | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.feeSales !== undefined && data.contract?.feeSales !== null">
    <div class="text-secondary small">
      {{ 'feeSales' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.feeSales | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.idClient !== undefined && data.contract?.idClient !== null">
    <div class="text-secondary small">
      {{ 'idClient' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.idClient || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.idContract !== undefined && data.contract?.idContract !== null">
    <div class="text-secondary small">
      {{ 'idContract' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.idContract || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.idContractJenis !== undefined && data.contract?.idContractJenis !== null">
    <div class="text-secondary small">
      {{ 'idContractJenis' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.idContractJenis || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.idDocument !== undefined && data.contract?.idDocument !== null">
    <div class="text-secondary small">
      {{ 'idDocument' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.idDocument || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.idKantor !== undefined && data.contract?.idKantor !== null">
    <div class="text-secondary small">
      {{ 'idKantor' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.idKantor || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.isAutoInvoice !== undefined && data.contract?.isAutoInvoice !== null">
    <div class="text-secondary small">
      {{ 'isAutoInvoice' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.contract.isAutoInvoice" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.contract.isAutoInvoice">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.namaSales !== undefined && data.contract?.namaSales !== null">
    <div class="text-secondary small">
      {{ 'namaSales' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.namaSales || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.nilaiAkhir !== undefined && data.contract?.nilaiAkhir !== null">
    <div class="text-secondary small">
      {{ 'nilaiAkhir' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.nilaiAkhir | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.nilaiBulanan !== undefined && data.contract?.nilaiBulanan !== null">
    <div class="text-secondary small">
      {{ 'nilaiBulanan' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.nilaiBulanan | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.nilaiDiawal !== undefined && data.contract?.nilaiDiawal !== null">
    <div class="text-secondary small">
      {{ 'nilaiDiawal' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.nilaiDiawal | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.nilaiKontrak !== undefined && data.contract?.nilaiKontrak !== null">
    <div class="text-secondary small">
      {{ 'nilaiKontrak' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.nilaiKontrak | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.nomorKontrak !== undefined && data.contract?.nomorKontrak !== null">
    <div class="text-secondary small">
      {{ 'nomorKontrak' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.nomorKontrak || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.presentaseFee !== undefined && data.contract?.presentaseFee !== null">
    <div class="text-secondary small">
      {{ 'presentaseFee' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.presentaseFee | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.refKontrakSebelumnya !== undefined && data.contract?.refKontrakSebelumnya !== null">
    <div class="text-secondary small">
      {{ 'refKontrakSebelumnya' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.refKontrakSebelumnya || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.statusContract !== undefined && data.contract?.statusContract !== null">
    <div class="text-secondary small">
      {{ 'statusContract' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag nzColor="green">{{ data.contract.statusContract }}</nz-tag>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.tanggalAkhir !== undefined && data.contract?.tanggalAkhir !== null">
    <div class="text-secondary small">
      {{ 'tanggalAkhir' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.tanggalAkhir | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.tanggalKontrak !== undefined && data.contract?.tanggalKontrak !== null">
    <div class="text-secondary small">
      {{ 'tanggalKontrak' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.tanggalKontrak | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.tanggalMulai !== undefined && data.contract?.tanggalMulai !== null">
    <div class="text-secondary small">
      {{ 'tanggalMulai' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.tanggalMulai | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.updatedAt !== undefined && data.contract?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.updatedAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    <div class="col-12 mt-4" *ngIf="data.contract?.client">
      <div class="fw-bold border-bottom mb-2">
        {{ 'contract.client' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.client?.catatan !== undefined && data.contract.client?.catatan !== null">
    <div class="text-secondary small">
      {{ 'catatan' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.client.catatan || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.client?.createdAt !== undefined && data.contract.client?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.client.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.client?.divisi !== undefined && data.contract.client?.divisi !== null">
    <div class="text-secondary small">
      {{ 'divisi' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.client.divisi || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.client?.email !== undefined && data.contract.client?.email !== null">
    <div class="text-secondary small">
      {{ 'email' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.client.email || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.client?.idClient !== undefined && data.contract.client?.idClient !== null">
    <div class="text-secondary small">
      {{ 'idClient' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.client.idClient || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.client?.idClientContact !== undefined && data.contract.client?.idClientContact !== null">
    <div class="text-secondary small">
      {{ 'idClientContact' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.client.idClientContact || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.client?.isPrimary !== undefined && data.contract.client?.isPrimary !== null">
    <div class="text-secondary small">
      {{ 'isPrimary' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.contract.client.isPrimary" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.contract.client.isPrimary">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.client?.jabatan !== undefined && data.contract.client?.jabatan !== null">
    <div class="text-secondary small">
      {{ 'jabatan' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.client.jabatan || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.client?.jenisContact !== undefined && data.contract.client?.jenisContact !== null">
    <div class="text-secondary small">
      {{ 'jenisContact' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.client.jenisContact || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.client?.namaContact !== undefined && data.contract.client?.namaContact !== null">
    <div class="text-secondary small">
      {{ 'namaContact' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.client.namaContact || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.client?.telepon !== undefined && data.contract.client?.telepon !== null">
    <div class="text-secondary small">
      {{ 'telepon' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.client.telepon || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.client?.updatedAt !== undefined && data.contract.client?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.client.updatedAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    <div class="col-12 mt-4" *ngIf="data.contract.client?.clientContact">
      <div class="fw-bold border-bottom mb-2">
        {{ 'contract.client.clientContact' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.client.clientContact?.catatan !== undefined && data.contract.client.clientContact?.catatan !== null">
    <div class="text-secondary small">
      {{ 'catatan' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.client.clientContact.catatan || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.client.clientContact?.createdAt !== undefined && data.contract.client.clientContact?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.client.clientContact.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.client.clientContact?.divisi !== undefined && data.contract.client.clientContact?.divisi !== null">
    <div class="text-secondary small">
      {{ 'divisi' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.client.clientContact.divisi || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.client.clientContact?.email !== undefined && data.contract.client.clientContact?.email !== null">
    <div class="text-secondary small">
      {{ 'email' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.client.clientContact.email || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.client.clientContact?.idClient !== undefined && data.contract.client.clientContact?.idClient !== null">
    <div class="text-secondary small">
      {{ 'idClient' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.client.clientContact.idClient || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.client.clientContact?.idClientContact !== undefined && data.contract.client.clientContact?.idClientContact !== null">
    <div class="text-secondary small">
      {{ 'idClientContact' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.client.clientContact.idClientContact || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.client.clientContact?.isPrimary !== undefined && data.contract.client.clientContact?.isPrimary !== null">
    <div class="text-secondary small">
      {{ 'isPrimary' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.contract.client.clientContact.isPrimary" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.contract.client.clientContact.isPrimary">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.client.clientContact?.jabatan !== undefined && data.contract.client.clientContact?.jabatan !== null">
    <div class="text-secondary small">
      {{ 'jabatan' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.client.clientContact.jabatan || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.client.clientContact?.jenisContact !== undefined && data.contract.client.clientContact?.jenisContact !== null">
    <div class="text-secondary small">
      {{ 'jenisContact' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.client.clientContact.jenisContact || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.client.clientContact?.namaContact !== undefined && data.contract.client.clientContact?.namaContact !== null">
    <div class="text-secondary small">
      {{ 'namaContact' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.client.clientContact.namaContact || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.client.clientContact?.telepon !== undefined && data.contract.client.clientContact?.telepon !== null">
    <div class="text-secondary small">
      {{ 'telepon' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.client.clientContact.telepon || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.client.clientContact?.updatedAt !== undefined && data.contract.client.clientContact?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.client.clientContact.updatedAt | date:'short' }}
      
    </div>
  </div>

  

        
      </div>
    </div>
  

        
      </div>
    </div>
  

        
          
  
    <div class="col-12 mt-4" *ngIf="data.contract?.contractJenis">
      <div class="fw-bold border-bottom mb-2">
        {{ 'contract.contractJenis' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.contractJenis?.createdAt !== undefined && data.contract.contractJenis?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.contractJenis.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.contractJenis?.idContractJenis !== undefined && data.contract.contractJenis?.idContractJenis !== null">
    <div class="text-secondary small">
      {{ 'idContractJenis' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.contractJenis.idContractJenis || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.contractJenis?.keterangan !== undefined && data.contract.contractJenis?.keterangan !== null">
    <div class="text-secondary small">
      {{ 'keterangan' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.contractJenis.keterangan || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.contractJenis?.namaContractJenis !== undefined && data.contract.contractJenis?.namaContractJenis !== null">
    <div class="text-secondary small">
      {{ 'namaContractJenis' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.contractJenis.namaContractJenis || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.contractJenis?.role !== undefined && data.contract.contractJenis?.role !== null">
    <div class="text-secondary small">
      {{ 'role' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.contractJenis.role || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.contractJenis?.statusContractJenis !== undefined && data.contract.contractJenis?.statusContractJenis !== null">
    <div class="text-secondary small">
      {{ 'statusContractJenis' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag nzColor="green">{{ data.contract.contractJenis.statusContractJenis }}</nz-tag>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.contractJenis?.updatedAt !== undefined && data.contract.contractJenis?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.contractJenis.updatedAt | date:'short' }}
      
    </div>
  </div>

  

        
      </div>
    </div>
  

        
          
  
    <div class="col-12 mt-4" *ngIf="data.contract?.document">
      <div class="fw-bold border-bottom mb-2">
        {{ 'contract.document' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document?.createdAt !== undefined && data.contract.document?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.document.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document?.enableDownload !== undefined && data.contract.document?.enableDownload !== null">
    <div class="text-secondary small">
      {{ 'enableDownload' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.document.enableDownload || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document?.fileExt !== undefined && data.contract.document?.fileExt !== null">
    <div class="text-secondary small">
      {{ 'fileExt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.document.fileExt || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document?.fileLocation !== undefined && data.contract.document?.fileLocation !== null">
    <div class="text-secondary small">
      {{ 'fileLocation' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.document.fileLocation || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document?.fileName !== undefined && data.contract.document?.fileName !== null">
    <div class="text-secondary small">
      {{ 'fileName' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.document.fileName || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document?.forModule !== undefined && data.contract.document?.forModule !== null">
    <div class="text-secondary small">
      {{ 'forModule' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.document.forModule || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document?.forModuleId !== undefined && data.contract.document?.forModuleId !== null">
    <div class="text-secondary small">
      {{ 'forModuleId' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.document.forModuleId || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document?.forTable !== undefined && data.contract.document?.forTable !== null">
    <div class="text-secondary small">
      {{ 'forTable' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.document.forTable || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document?.idDocument !== undefined && data.contract.document?.idDocument !== null">
    <div class="text-secondary small">
      {{ 'idDocument' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.document.idDocument || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document?.idUsers !== undefined && data.contract.document?.idUsers !== null">
    <div class="text-secondary small">
      {{ 'idUsers' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.document.idUsers || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document?.name !== undefined && data.contract.document?.name !== null">
    <div class="text-secondary small">
      {{ 'name' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.document.name || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document?.nomor !== undefined && data.contract.document?.nomor !== null">
    <div class="text-secondary small">
      {{ 'nomor' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.document.nomor || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document?.revisi !== undefined && data.contract.document?.revisi !== null">
    <div class="text-secondary small">
      {{ 'revisi' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.document.revisi || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document?.tanggal !== undefined && data.contract.document?.tanggal !== null">
    <div class="text-secondary small">
      {{ 'tanggal' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.document.tanggal | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document?.updatedAt !== undefined && data.contract.document?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.document.updatedAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    <div class="col-12 mt-4" *ngIf="data.contract.document?.users">
      <div class="fw-bold border-bottom mb-2">
        {{ 'contract.document.users' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document.users?.createdAt !== undefined && data.contract.document.users?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.document.users.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document.users?.email !== undefined && data.contract.document.users?.email !== null">
    <div class="text-secondary small">
      {{ 'email' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.document.users.email || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document.users?.idUserGroup !== undefined && data.contract.document.users?.idUserGroup !== null">
    <div class="text-secondary small">
      {{ 'idUserGroup' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.document.users.idUserGroup || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document.users?.idUsers !== undefined && data.contract.document.users?.idUsers !== null">
    <div class="text-secondary small">
      {{ 'idUsers' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.document.users.idUsers || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document.users?.lastLogin !== undefined && data.contract.document.users?.lastLogin !== null">
    <div class="text-secondary small">
      {{ 'lastLogin' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.document.users.lastLogin || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document.users?.nama !== undefined && data.contract.document.users?.nama !== null">
    <div class="text-secondary small">
      {{ 'nama' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.document.users.nama || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document.users?.password !== undefined && data.contract.document.users?.password !== null">
    <div class="text-secondary small">
      {{ 'password' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.document.users.password || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document.users?.status !== undefined && data.contract.document.users?.status !== null">
    <div class="text-secondary small">
      {{ 'status' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag nzColor="green">{{ data.contract.document.users.status }}</nz-tag>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document.users?.wajibResetPassword !== undefined && data.contract.document.users?.wajibResetPassword !== null">
    <div class="text-secondary small">
      {{ 'wajibResetPassword' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.contract.document.users.wajibResetPassword" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.contract.document.users.wajibResetPassword">-</span>
      
    </div>
  </div>

  

        
          
  
    <div class="col-12 mt-4" *ngIf="data.contract.document.users?.userGroup">
      <div class="fw-bold border-bottom mb-2">
        {{ 'contract.document.users.userGroup' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document.users.userGroup?.createdAt !== undefined && data.contract.document.users.userGroup?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.document.users.userGroup.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document.users.userGroup?.deskripsi !== undefined && data.contract.document.users.userGroup?.deskripsi !== null">
    <div class="text-secondary small">
      {{ 'deskripsi' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.document.users.userGroup.deskripsi || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document.users.userGroup?.idUserGroup !== undefined && data.contract.document.users.userGroup?.idUserGroup !== null">
    <div class="text-secondary small">
      {{ 'idUserGroup' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.document.users.userGroup.idUserGroup || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document.users.userGroup?.namaUserGroup !== undefined && data.contract.document.users.userGroup?.namaUserGroup !== null">
    <div class="text-secondary small">
      {{ 'namaUserGroup' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.document.users.userGroup.namaUserGroup || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.document.users.userGroup?.status !== undefined && data.contract.document.users.userGroup?.status !== null">
    <div class="text-secondary small">
      {{ 'status' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag nzColor="green">{{ data.contract.document.users.userGroup.status }}</nz-tag>
      
    </div>
  </div>

  

        
      </div>
    </div>
  

        
      </div>
    </div>
  

        
      </div>
    </div>
  

        
          
  
    <div class="col-12 mt-4" *ngIf="data.contract?.kantor">
      <div class="fw-bold border-bottom mb-2">
        {{ 'contract.kantor' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.kantor?.alamat !== undefined && data.contract.kantor?.alamat !== null">
    <div class="text-secondary small">
      {{ 'alamat' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.kantor.alamat || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.kantor?.catatan !== undefined && data.contract.kantor?.catatan !== null">
    <div class="text-secondary small">
      {{ 'catatan' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.kantor.catatan || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.kantor?.createdAt !== undefined && data.contract.kantor?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.kantor.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.kantor?.idKantor !== undefined && data.contract.kantor?.idKantor !== null">
    <div class="text-secondary small">
      {{ 'idKantor' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.kantor.idKantor || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.kantor?.isAktif !== undefined && data.contract.kantor?.isAktif !== null">
    <div class="text-secondary small">
      {{ 'isAktif' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.contract.kantor.isAktif" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.contract.kantor.isAktif">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.kantor?.isPusat !== undefined && data.contract.kantor?.isPusat !== null">
    <div class="text-secondary small">
      {{ 'isPusat' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.contract.kantor.isPusat" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.contract.kantor.isPusat">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.kantor?.kodeKantor !== undefined && data.contract.kantor?.kodeKantor !== null">
    <div class="text-secondary small">
      {{ 'kodeKantor' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.kantor.kodeKantor || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.kantor?.kota !== undefined && data.contract.kantor?.kota !== null">
    <div class="text-secondary small">
      {{ 'kota' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.kantor.kota || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.kantor?.namaKantor !== undefined && data.contract.kantor?.namaKantor !== null">
    <div class="text-secondary small">
      {{ 'namaKantor' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.kantor.namaKantor || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.kantor?.provinsi !== undefined && data.contract.kantor?.provinsi !== null">
    <div class="text-secondary small">
      {{ 'provinsi' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.kantor.provinsi || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.kantor?.updatedAt !== undefined && data.contract.kantor?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.kantor.updatedAt | date:'short' }}
      
    </div>
  </div>

  

        
      </div>
    </div>
  

        
      </div>
    </div>
  
 <br> 
  
</div>
