<nz-card nzTitle="{{filter.status|titlecase}} ({{ total }})" [nzExtra]="extraTemplate" [nzBodyStyle]="{padding:0}">
    <div class="filter" [hidden]="!filter_extra">
        <form nz-form [nzLayout]="'vertical'" role="form">
            <div nz-row [nzGutter]="8">
                <div nz-col [nzXl]="{ span: 6}" [nzLg]="{ span: 8}" [nzMd]="{ span: 12}" [nzXs]="{ span: 24}">
                    <nz-form-item>
                        <nz-form-label>&nbsp;</nz-form-label>
                        <nz-form-control>
                            <nz-input-group nzSearch [nzAddOnBefore]="addOnBeforeTemplate"
                                [nzAddOnAfter]="suffixIconButton" style="width: 100%;">
                                <input type="text" nz-input placeholder="{{'search'|translate|titlecase}}"
                                    [(ngModel)]="search" name="search" (keyup.enter)="searchData()" />
                            </nz-input-group>
                            <ng-template #suffixIconButton>
                                <button nz-button nzType="default" nzSearch (click)="searchData()"><span nz-icon
                                        nzType="search"></span></button>
                            </ng-template>
                            <ng-template #addOnBeforeTemplate>
                                <span nz-icon nzTheme="twotone" nzType="question-circle" nz-popover
                                    nzPopoverTitle="Pencarian berdasarkan" [nzPopoverContent]="tipsPencarian"
                                    nzPopoverPlacement="top"></span>
                                <ng-template #tipsPencarian>
                                    <div>
                                        <ul>
                                            <li *ngFor="let item of search_field">{{ item | translate }}</li>
                                        </ul>
                                    </div>
                                </ng-template>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'dueC' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.dueCMin" name="dueCMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.dueCMax" name="dueCMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'dueH' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.dueHMin" name="dueHMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.dueHMax" name="dueHMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'dueT' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.dueTMin" name="dueTMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.dueTMax" name="dueTMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'idAircraft' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-select [(ngModel)]="filter.idAircraft" name="idAircraft" nzAllowClear>
                            <nz-option *ngFor="let item of listAircraft" [nzValue]="item.idAircraft" [nzLabel]="item.namaAircraft"></nz-option>
                        </nz-select>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'idDueList' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-select [(ngModel)]="filter.idDueList" name="idDueList" nzAllowClear>
                            <nz-option *ngFor="let item of listDueList" [nzValue]="item.idDueList" [nzLabel]="item.namaDueList"></nz-option>
                        </nz-select>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'idMpart' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-select [(ngModel)]="filter.idMpart" name="idMpart" nzAllowClear>
                            <nz-option *ngFor="let item of listMpart" [nzValue]="item.idMpart" [nzLabel]="item.namaMpart"></nz-option>
                        </nz-select>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'idPart' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-select [(ngModel)]="filter.idPart" name="idPart" nzAllowClear>
                            <nz-option *ngFor="let item of listPart" [nzValue]="item.idPart" [nzLabel]="item.namaPart"></nz-option>
                        </nz-select>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'ramaining' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.ramainingMin" name="ramainingMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.ramainingMax" name="ramainingMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'toDue' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.toDueMin" name="toDueMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.toDueMax" name="toDueMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                
 
                <div nz-col nzSpan="24">

                    <nz-form-item>
                        <nz-form-control>
                            <button nz-button nzType="primary" (click)="print()" style="margin-right: 5px;">
                                <span nz-icon nzType="printer"></span>
                                Print
                            </button>
                            <button nz-button nzType="primary" (click)="searchData()" [nzLoading]="loading"
                                style="margin-right: 10px;"><span nz-icon nzType="filter"></span>Filter</button>
                            <button nz-button nzType="default" (click)="resetData()" [nzLoading]="loading"
                                style="margin-right: 10px;"><span nz-icon nzType="reload"></span>Reset</button>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </div>
    <div style="overflow: auto; background-color: white;">
        <nz-table nzShowSizeChanger [nzData]="listOfData" [nzFrontPagination]="false" [nzLoading]="loading"
            [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
            (nzQueryParams)="onQueryParamsChange($event)" nzSize="small">
            <thead>
                <tr>
                    <th   [nzAlign]="'right'">#ID</th>
                    
                    <th [nzSortFn]="true" nzColumnKey="atInstall" *ngIf="isColVisible('atInstall')">
                        {{ 'atInstall' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="ata" *ngIf="isColVisible('ata')">
                        {{ 'ata' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="code" *ngIf="isColVisible('code')">
                        {{ 'code' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="currentPart" *ngIf="isColVisible('currentPart')">
                        {{ 'currentPart' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="dueAt" *ngIf="isColVisible('dueAt')">
                        {{ 'dueAt' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="dueC" *ngIf="isColVisible('dueC')">
                        {{ 'dueC' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="dueH" *ngIf="isColVisible('dueH')">
                        {{ 'dueH' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="dueT" *ngIf="isColVisible('dueT')">
                        {{ 'dueT' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="installPart" *ngIf="isColVisible('installPart')">
                        {{ 'installPart' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="keyword" *ngIf="isColVisible('keyword')">
                        {{ 'keyword' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="noteDue" *ngIf="isColVisible('noteDue')">
                        {{ 'noteDue' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="partNumber" *ngIf="isColVisible('partNumber')">
                        {{ 'partNumber' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="peruntukan" *ngIf="isColVisible('peruntukan')">
                        {{ 'peruntukan' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="ramaining" *ngIf="isColVisible('ramaining')">
                        {{ 'ramaining' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="sn" *ngIf="isColVisible('sn')">
                        {{ 'sn' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="toDue" *ngIf="isColVisible('toDue')">
                        {{ 'toDue' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="typeDue" *ngIf="isColVisible('typeDue')">
                        {{ 'typeDue' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="typeOfwork" *ngIf="isColVisible('typeOfwork')">
                        {{ 'typeOfwork' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="variabel" *ngIf="isColVisible('variabel')">
                        {{ 'variabel' | translate }}
                     </th>
                    
                    <th nzWidth="7%" [nzAlign]="'right'">Action</th>
                </tr> 
            </thead>
            <tbody>
                <ng-container *ngFor="let data of listOfData" style="vertical-align: top;">
                    <tr>
                        <td [nzExpand]="expandSet.has(data.idDueListOutput)"
                            (nzExpandChange)="onExpandChange(data.idDueListOutput, $event)">
                            <nz-badge *ngIf="data.idDueListOutput!=null" nzColor="{{ data.idDueListOutput?.toLowerCase() | status }}"
                                nzText="{{data.idDueListOutput?.toLowerCase() }}"></nz-badge>  
                        </td>
                        
                        
                            <td *ngIf="isColVisible('atInstall')">
                                
                                                        {{ data.atInstall  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('ata')">
                                
                                                        {{ data.ata  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('code')">
                                
                                                        {{ data.code  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('currentPart')">
                                
                                                        {{ data.currentPart  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('dueAt')">
                                
                                                        {{ data.dueAt  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('dueC')">
                                
                                                        {{ data.dueC  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('dueH')">
                                
                                                        {{ data.dueH  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('dueT')">
                                
                                                        {{ data.dueT  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('installPart')">
                                
                                                        {{ data.installPart  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('keyword')">
                                
                                                        {{ data.keyword  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('noteDue')">
                                
                                                        {{ data.noteDue  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('partNumber')">
                                
                                                        {{ data.partNumber  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('peruntukan')">
                                
                                                        {{ data.peruntukan  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('ramaining')">
                                
                                                        {{ data.ramaining  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('sn')">
                                
                                                        {{ data.sn  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('toDue')">
                                
                                                        {{ data.toDue  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('typeDue')">
                                
                                                        {{ data.typeDue  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('typeOfwork')">
                                
                                                        {{ data.typeOfwork  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('variabel')">
                                
                                                        {{ data.variabel  }}
                                                            
                            </td>
                            

                        <td [nzAlign]="'right'">
                            <button nz-button nz-dropdown [nzDropdownMenu]="menu">
                                Actions
                                <span nz-icon nzType="down"></span>
                            </button>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item (click)="detail(data)">
                                        <span nz-icon nzType="pic-center" nzTheme="outline"></span>&nbsp;&nbsp;Detail
                                    </li>
                                    <!--  -->
                                    <li nz-menu-item (click)="update(data)" *ngIf="data.status=='draft'">
                                        <span nz-icon nzType="edit" nzTheme="outline"></span>&nbsp;&nbsp;Update
                                    </li>
                                    <li nz-menu-divider *ngIf="data.status=='draft'"></li>
                                    <li nz-menu-item nz-menu-item nz-popconfirm class="text-danger"
                                        *ngIf="data.status=='draft'"
                                        nzPopconfirmTitle="Apakah Anda yakin akan menghapus data ini?"
                                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data.idDueListOutput)"><span
                                            nz-icon nzType="delete" nzTheme="outline"></span>
                                        <a class="m-1 text-danger">&nbsp;&nbsp;Delete</a>
                                    </li>
                                </ul>
                            </nz-dropdown-menu>
                        </td>
                    </tr>
                    <tr [nzExpand]="expandSet.has(data.idDueListOutput)">
                        <app-due-list-output-share-header [data]="data"></app-due-list-output-share-header> 
                    </tr>
                </ng-container>
                 
            </tbody>
        </nz-table>
    </div>
</nz-card>
<ng-template #extraTemplate>
    <ng-container *ngIf="!filter_extra">
        <nz-input-group nzSearch [nzAddOnBefore]="addOnBeforeTemplate" [nzAddOnAfter]="suffixIconButton"
            style="max-width: 180px;">
            <input type="text" nz-input placeholder="{{'search'|translate|titlecase}}" [(ngModel)]="search"
                name="search" (keyup.enter)="searchData()" />
        </nz-input-group>
        <ng-template #suffixIconButton>
            <button nz-button nzType="default" nzSearch (click)="searchData()"><span nz-icon
                    nzType="search"></span></button>
        </ng-template>
        <ng-template #addOnBeforeTemplate>
            <span nz-icon nzTheme="twotone" nzType="question-circle" nz-popover nzPopoverTitle="Pencarian berdasarkan"
                [nzPopoverContent]="tipsPencarian" nzPopoverPlacement="top"></span>
            <ng-template #tipsPencarian>
                <div>
                    <ul>
                        <li *ngFor="let item of search_field">{{ item | translate }}</li>
                    </ul>
                </div>
            </ng-template>
        </ng-template>
    </ng-container>
    <button nz-button [nzType]="filter_extra ? 'primary' :'default'" style="margin-bottom: 8px;margin-left: 10px;"
        (click)="filter_extra=!filter_extra">
        <span nz-icon nzType="filter" nzTheme="outline"></span> Filter
    </button>
    <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzTy [nzPlacement]="'topRight'"><i nz-icon nzType="appstore"></i></button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item *ngFor="let col of columns">
                <label nz-checkbox [(ngModel)]="col.show" (ngModelChange)="onColumnToggle()">
                    {{ col.key | translate }}
                </label>
            </li>
        </ul>
    </nz-dropdown-menu> 
    <button nz-button nzType="link" (click)="resetColumns()" nz-tooltip nzTooltipTitle="{{ 'Reset Kolom' | translate }}"><i nz-icon nzType="undo"></i></button>

    <button nz-button style="margin-bottom: 8px;margin-left: 10px;" nzType="primary" (click)="add()">
        <span nz-icon nzType="plus" nzTheme="outline"></span> Add New
    </button>
</ng-template>