<!-- ✅ Start rendering -->
<div class="row">

    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'currentCycle' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.currentCycle | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'currentHours' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.currentHours | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'cycleFrom' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.cycleFrom | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'cycleTo' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.cycleTo | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'dateDue' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.dateDue || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'dueAcCycle' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.dueAcCycle | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'dueAcHours' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.dueAcHours | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'dueCycle' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.dueCycle | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'dueDate' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.dueDate || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'dueHours' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.dueHours | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'hoursFrom' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.hoursFrom | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'hoursTo' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.hoursTo | number:'1.0-0' }}

        </div>
    </div>
    
    
    
    
    
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'lastCycle' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.lastCycle | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'lastDate' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.lastDate || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'lastHours' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.lastHours | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'noteDue' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.noteDue || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'onSite' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.onSite | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'parentAss' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.parentAss || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'parentCycle' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.parentCycle | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'parentHours' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.parentHours | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'parentTime' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.parentTime | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'remainingCycle' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.remainingCycle | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'remainingDay' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.remainingDay || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'remainingHours' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.remainingHours | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'sn' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.sn || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'timeFrom' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.timeFrom | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'timeTo' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.timeTo | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'timeUnit' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.timeUnit || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'typeDue' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.typeDue || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'typeOfwork' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.typeOfwork || '-' }}

        </div>
    </div>
    <div class="col-12 {{ expand_aircraft.hidden ? 'mb-0' : 'mb-4' }} " *ngIf="data?.aircraft">
    <div class="fw-bold border-bottom mb-2">
      {{ 'aircraft' | translate }}
      <button class="btn btn-link btn-sm" (click)="expand_aircraft.hidden = !expand_aircraft.hidden">
        <span *ngIf="expand_aircraft.hidden">Expand</span>
        <span *ngIf="!expand_aircraft.hidden">Collapse</span>
        <span *ngIf="expand_aircraft.hidden" nz-icon nzType="down" nzTheme="outline"></span>
        <span *ngIf="!expand_aircraft.hidden" nz-icon nzType="up" nzTheme="outline"></span>
      </button>
    </div>
    <div class="row" #expand_aircraft hidden>

            <div class="col-md-3" *ngIf="data?.aircraft?.acFoto !== undefined && data?.aircraft?.acFoto !== null">
                <div class="text-secondary small">
                    {{ 'acFoto' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.acFoto || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.aircraft?.createdAt !== undefined && data?.aircraft?.createdAt !== null">
                <div class="text-secondary small">
                    {{ 'createdAt' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.createdAt | date: 'yyyy-MM-dd' }}

                </div>
            </div>
            <div class="col-md-3"
                *ngIf="data?.aircraft?.descriptionAircraft !== undefined && data?.aircraft?.descriptionAircraft !== null">
                <div class="text-secondary small">
                    {{ 'descriptionAircraft' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.descriptionAircraft || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.aircraft?.hasapu !== undefined && data?.aircraft?.hasapu !== null">
                <div class="text-secondary small">
                    {{ 'hasapu' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.hasapu || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.aircraft?.isDeleted !== undefined && data?.aircraft?.isDeleted !== null">
                <div class="text-secondary small">
                    {{ 'isDeleted' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag *ngIf="data?.aircraft.isDeleted" nzColor="blue">Ya</nz-tag>
                    <span *ngIf="!data?.aircraft.isDeleted">-</span>

                </div>
            </div>
            <div class="col-md-3"
                *ngIf="data?.aircraft?.keywordAircraft !== undefined && data?.aircraft?.keywordAircraft !== null">
                <div class="text-secondary small">
                    {{ 'keywordAircraft' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.keywordAircraft || '-' }}

                </div>
            </div>
            <div class="col-md-3"
                *ngIf="data?.aircraft?.manufactureAircraft !== undefined && data?.aircraft?.manufactureAircraft !== null">
                <div class="text-secondary small">
                    {{ 'manufactureAircraft' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.manufactureAircraft || '-' }}

                </div>
            </div>
            <div class="col-md-3"
                *ngIf="data?.aircraft?.manufactureDate !== undefined && data?.aircraft?.manufactureDate !== null">
                <div class="text-secondary small">
                    {{ 'manufactureDate' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.manufactureDate || '-' }}

                </div>
            </div>
            <div class="col-md-3"
                *ngIf="data?.aircraft?.manufactureEngine !== undefined && data?.aircraft?.manufactureEngine !== null">
                <div class="text-secondary small">
                    {{ 'manufactureEngine' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.manufactureEngine || '-' }}

                </div>
            </div>
            <div class="col-md-3"
                *ngIf="data?.aircraft?.manufacturedBy !== undefined && data?.aircraft?.manufacturedBy !== null">
                <div class="text-secondary small">
                    {{ 'manufacturedBy' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.manufacturedBy || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.aircraft?.oldActype !== undefined && data?.aircraft?.oldActype !== null">
                <div class="text-secondary small">
                    {{ 'oldActype' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.oldActype || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.aircraft?.oldId !== undefined && data?.aircraft?.oldId !== null">
                <div class="text-secondary small">
                    {{ 'oldId' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.oldId || '-' }}

                </div>
            </div>
            <div class="col-md-3"
                *ngIf="data?.aircraft?.purchasedate !== undefined && data?.aircraft?.purchasedate !== null">
                <div class="text-secondary small">
                    {{ 'purchasedate' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.purchasedate || '-' }}

                </div>
            </div>
            <div class="col-md-3"
                *ngIf="data?.aircraft?.reasonRegschange !== undefined && data?.aircraft?.reasonRegschange !== null">
                <div class="text-secondary small">
                    {{ 'reasonRegschange' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.reasonRegschange || '-' }}

                </div>
            </div>
            <div class="col-md-3"
                *ngIf="data?.aircraft?.registrationNumber !== undefined && data?.aircraft?.registrationNumber !== null">
                <div class="text-secondary small">
                    {{ 'registrationNumber' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.registrationNumber || '-' }}

                </div>
            </div>
            <div class="col-md-3"
                *ngIf="data?.aircraft?.serialNumber !== undefined && data?.aircraft?.serialNumber !== null">
                <div class="text-secondary small">
                    {{ 'serialNumber' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.serialNumber || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.aircraft?.statusAc !== undefined && data?.aircraft?.statusAc !== null">
                <div class="text-secondary small">
                    {{ 'statusAc' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag nzColor="green">{{ data?.aircraft.statusAc }}</nz-tag>

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.aircraft?.tendurance !== undefined && data?.aircraft?.tendurance !== null">
                <div class="text-secondary small">
                    {{ 'tendurance' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.tendurance | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.aircraft?.updatedAt !== undefined && data?.aircraft?.updatedAt !== null">
                <div class="text-secondary small">
                    {{ 'updatedAt' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.updatedAt | date: 'yyyy-MM-dd' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.aircraft?.yearMade !== undefined && data?.aircraft?.yearMade !== null">
                <div class="text-secondary small">
                    {{ 'yearMade' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.yearMade || '-' }}

                </div>
            </div>

        </div>
    </div>
    <div class="col-12 {{ expand_part.hidden ? 'mb-0' : 'mb-4' }} " *ngIf="data?.part">
    <div class="fw-bold border-bottom mb-2">
      {{ 'part' | translate }}
      <button class="btn btn-link btn-sm" (click)="expand_part.hidden = !expand_part.hidden">
        <span *ngIf="expand_part.hidden">Expand</span>
        <span *ngIf="!expand_part.hidden">Collapse</span>
        <span *ngIf="expand_part.hidden" nz-icon nzType="down" nzTheme="outline"></span>
        <span *ngIf="!expand_part.hidden" nz-icon nzType="up" nzTheme="outline"></span>
      </button>
    </div>
    <div class="row" #expand_part hidden>

            <div class="col-md-3" *ngIf="data?.part?.dateInstall !== undefined && data?.part?.dateInstall !== null">
                <div class="text-secondary small">
                    {{ 'dateInstall' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.dateInstall || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.parent !== undefined && data?.part?.parent !== null">
                <div class="text-secondary small">
                    {{ 'parent' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.parent || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.tsiCycle !== undefined && data?.part?.tsiCycle !== null">
                <div class="text-secondary small">
                    {{ 'tsiCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsiCycle | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.tsiHours !== undefined && data?.part?.tsiHours !== null">
                <div class="text-secondary small">
                    {{ 'tsiHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsiHours | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.tsiVal !== undefined && data?.part?.tsiVal !== null">
                <div class="text-secondary small">
                    {{ 'tsiVal' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsiVal | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.tsiVar !== undefined && data?.part?.tsiVar !== null">
                <div class="text-secondary small">
                    {{ 'tsiVar' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsiVar || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.tsnCycle !== undefined && data?.part?.tsnCycle !== null">
                <div class="text-secondary small">
                    {{ 'tsnCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsnCycle | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.tsnHours !== undefined && data?.part?.tsnHours !== null">
                <div class="text-secondary small">
                    {{ 'tsnHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsnHours | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.tsnVal !== undefined && data?.part?.tsnVal !== null">
                <div class="text-secondary small">
                    {{ 'tsnVal' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsnVal | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.tsnVar !== undefined && data?.part?.tsnVar !== null">
                <div class="text-secondary small">
                    {{ 'tsnVar' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsnVar || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.tsoCycle !== undefined && data?.part?.tsoCycle !== null">
                <div class="text-secondary small">
                    {{ 'tsoCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsoCycle | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.tsoHours !== undefined && data?.part?.tsoHours !== null">
                <div class="text-secondary small">
                    {{ 'tsoHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsoHours | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.tsoVal !== undefined && data?.part?.tsoVal !== null">
                <div class="text-secondary small">
                    {{ 'tsoVal' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsoVal | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.tsoVar !== undefined && data?.part?.tsoVar !== null">
                <div class="text-secondary small">
                    {{ 'tsoVar' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsoVar || '-' }}

                </div>
            </div>
            <div class="col-md-3"
                *ngIf="data?.part?.warantyStartCycle !== undefined && data?.part?.warantyStartCycle !== null">
                <div class="text-secondary small">
                    {{ 'warantyStartCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.warantyStartCycle | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3"
                *ngIf="data?.part?.warantyStartDate !== undefined && data?.part?.warantyStartDate !== null">
                <div class="text-secondary small">
                    {{ 'warantyStartDate' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.warantyStartDate || '-' }}

                </div>
            </div>
            <div class="col-md-3"
                *ngIf="data?.part?.warantyStartDays !== undefined && data?.part?.warantyStartDays !== null">
                <div class="text-secondary small">
                    {{ 'warantyStartDays' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.warantyStartDays | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3"
                *ngIf="data?.part?.warantyStartHours !== undefined && data?.part?.warantyStartHours !== null">
                <div class="text-secondary small">
                    {{ 'warantyStartHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.warantyStartHours | number:'1.0-0' }}

                </div>
            </div>

        </div>
    </div>
    <div class="col-12 {{ expand_type_ofwork.hidden ? 'mb-0' : 'mb-4' }} " *ngIf="data?.typeOfwork">
    <div class="fw-bold border-bottom mb-2">
      {{ 'typeOfwork' | translate }}
      <button class="btn btn-link btn-sm" (click)="expand_type_ofwork.hidden = !expand_type_ofwork.hidden">
        <span *ngIf="expand_type_ofwork.hidden">Expand</span>
        <span *ngIf="!expand_type_ofwork.hidden">Collapse</span>
        <span *ngIf="expand_type_ofwork.hidden" nz-icon nzType="down" nzTheme="outline"></span>
        <span *ngIf="!expand_type_ofwork.hidden" nz-icon nzType="up" nzTheme="outline"></span>
      </button>
    </div>
    <div class="row" #expand_type_ofwork hidden>

            <div class="col-md-3"
                *ngIf="data?.typeOfwork?.childnameTypeOfwork !== undefined && data?.typeOfwork?.childnameTypeOfwork !== null">
                <div class="text-secondary small">
                    {{ 'childnameTypeOfwork' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.typeOfwork?.childnameTypeOfwork || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.typeOfwork?.code !== undefined && data?.typeOfwork?.code !== null">
                <div class="text-secondary small">
                    {{ 'code' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.typeOfwork?.code || '-' }}

                </div>
            </div>
            <div class="col-md-3"
                *ngIf="data?.typeOfwork?.isDeleted !== undefined && data?.typeOfwork?.isDeleted !== null">
                <div class="text-secondary small">
                    {{ 'isDeleted' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag *ngIf="data?.typeOfwork.isDeleted" nzColor="blue">Ya</nz-tag>
                    <span *ngIf="!data?.typeOfwork.isDeleted">-</span>

                </div>
            </div>
            <div class="col-md-3"
                *ngIf="data?.typeOfwork?.typeOfwork !== undefined && data?.typeOfwork?.typeOfwork !== null">
                <div class="text-secondary small">
                    {{ 'typeOfwork' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.typeOfwork?.typeOfwork || '-' }}

                </div>
            </div>

        </div>
    </div>
</div>