<nz-spin nzTip="Loading..." [nzSpinning]="is_loading">

    <div class="card border-0 mb-1 border-left-5 border-theme card   bg-white">
        <div class="card-body p-2">
            <div class="row">
                <div class="col-lg-2">
                    <p class="text-secondary  mb-1">Status</p>
                    <h3 class="fw-bold text-capitalize" style.color="{{ part?.statusOnInventory | status }}"> {{
                        part?.statusOnInventory}}</h3>
                </div>
                <div class="col-lg-3">
                    <p class="text-secondary  mb-1">PN</p>
                    <h3 class="fw-bold  ">{{part?.mpart?.partNumber}}</h3>
                </div>
                <div class="col-lg-3">
                    <p class="text-secondary  mb-1">SN</p>
                    <h3 class="fw-bold  ">{{part?.sn}}</h3>
                </div>
                <div class="col" style="text-align: right;">
                    <p class="text-secondary mb-1">&nbsp;</p>

                    <button nz-button nzType="primary" style="margin-right: 5px;" nz-dropdown [nzDropdownMenu]="menu4">
                        <span nz-icon nzType="printer"></span>
                        Print
                        <span nz-icon nzType="down"></span>
                    </button>
                    <nz-dropdown-menu #menu4="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item (click)="print()">Print part</li>
                        </ul>
                    </nz-dropdown-menu>

                    <!-- <button *ngIf="part.status=='close' || part.status=='cicil'" nz-button
                        nzType="primary" (click)="up()" style="margin-right: 5px;">
                        <span nz-icon nzType="calculator" nzTheme="outline"></span>
                        Bayar
                    </button> -->


                </div>
            </div>
        </div>
    </div>
    <!--
     <lib-approval-steps [for-module-name]="'part'" [for-module-id]="part?.idPart"></lib-approval-steps>
         -->

    <div class="card bg-white p-3" style="box-shadow: none;">
        <div class="row">
            <div class="col-md-8">
                <app-part-share-header [data]="part"></app-part-share-header>
                <lib-custom-field [from-module]="'AmimsPart'" [from-module-id]="part?.idPart"></lib-custom-field>
            </div>
            <div class="col-md-4">
                <h6>P/N or S/N Barcode :</h6>
                <img src="/assets/images/barcode.png" style="width: 100%;">
                 
                <br>
                <document-widget-v1 [for-module-id]="part?.idPart" [for-module]="'AmimsPart'"
                    [enable-crud]="true"></document-widget-v1>

                <!-- <approval-mode-widget *ngIf="part.status??'-'.toLowerCase() !='close'"
                    style="margin-right: 5px;" [module-id]="part.id_contractSite" [module]="'AmimsPart'"
                    [flow-id]="part.id_data_flow" [flow-detail]="part.id_data_flow_detail"
                    (reload)="approve($event)">
                </approval-mode-widget> -->

            </div>
        </div>


        <br>


    </div>


    <nz-tabset>
        <nz-tab nzTitle="{{ 'Tag' | translate }}">
            <app-tag-share [idPart]="idPart"></app-tag-share>
        </nz-tab>
        <nz-tab nzTitle="{{ 'Routine Maintenance' | translate }}">
            <ng-template nz-tab>
                <!-- <app-client-contact-share-list [idClient]="penawaran?.idClient"></app-client-contact-share-list> -->
            </ng-template>
        </nz-tab>
        <nz-tab nzTitle="{{ 'Work Complete' | translate }}">
            <ng-template nz-tab>
                <!-- <work-complete-share-list [idPart]="idPart"></work-complete-share-list> -->
            </ng-template>
        </nz-tab>
        <nz-tab nzTitle="{{ 'Sub Part' | translate }}">
            <ng-template nz-tab>
                <app-part-tree-share></app-part-tree-share>
            </ng-template>
        </nz-tab>
        <nz-tab nzTitle="{{ 'Attachments' | translate }}">
            <ng-template nz-tab>
                <document-list-v1 [for-module]="'idPart'" [for-module-id]="idPart"></document-list-v1>
            </ng-template>
        </nz-tab>
        <nz-tab nzTitle="{{ 'Log' | translate }}">
            <ng-template nz-tab>

            </ng-template>
        </nz-tab>
        <nz-tab nzTitle="{{ 'Procurement Only' | translate }}">
            <ng-template nz-tab>

            </ng-template>
        </nz-tab>
    </nz-tabset>

</nz-spin>
<br>