<nz-spin [nzSpinning]="is_loading">
    <form [formGroup]="form" (ngSubmit)="submit()" nz-form [nzLayout]="'vertical'">
        
        <nz-form-item>
            <nz-form-label nzFor="alamatPenagihan">{{ 'alamatPenagihan' | translate }}</nz-form-label>
            <nz-form-control>
                <textarea nz-input id="alamatPenagihan" formControlName="alamatPenagihan" placeholder="Masukkan {{ 'alamatPenagihan' | translate }}"></textarea>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="catatan">{{ 'catatan' | translate }}</nz-form-label>
            <nz-form-control>
                <textarea nz-input id="catatan" formControlName="catatan" placeholder="Masukkan {{ 'catatan' | translate }}"></textarea>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="dpp">{{ 'dpp' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="dpp" formControlName="dpp" placeholder="Masukkan {{ 'dpp' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idContract">{{ 'idContract' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idContract" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idContract' | translate }}"> 
                    <nz-option *ngFor="let item of listContract" nzLabel="{{ item.idContract }}" nzValue="{{ item.idContract }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="jenisInvoice">{{ 'jenisInvoice' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="jenisInvoice" formControlName="jenisInvoice" placeholder="Masukkan {{ 'jenisInvoice' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="metodePembayaran">{{ 'metodePembayaran' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="metodePembayaran" formControlName="metodePembayaran" placeholder="Masukkan {{ 'metodePembayaran' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="nilaiInvoice">{{ 'nilaiInvoice' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="nilaiInvoice" formControlName="nilaiInvoice" placeholder="Masukkan {{ 'nilaiInvoice' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="nomorInvoice">{{ 'nomorInvoice' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="nomorInvoice" formControlName="nomorInvoice" placeholder="Masukkan {{ 'nomorInvoice' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="npwp">{{ 'npwp' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="npwp" formControlName="npwp" placeholder="Masukkan {{ 'npwp' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="periode">{{ 'periode' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="periode" formControlName="periode" placeholder="Masukkan {{ 'periode' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="picPenagihan">{{ 'picPenagihan' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="picPenagihan" formControlName="picPenagihan" placeholder="Masukkan {{ 'picPenagihan' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="ppn">{{ 'ppn' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="ppn" formControlName="ppn" placeholder="Masukkan {{ 'ppn' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="statusInvoice">{{ 'statusInvoice' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="statusInvoice" formControlName="statusInvoice" placeholder="Masukkan {{ 'statusInvoice' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tanggalDibayar">{{ 'tanggalDibayar' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-date-picker formControlName="tanggalDibayar" style="width: 100%" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tanggalJatuhTempo">{{ 'tanggalJatuhTempo' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-date-picker formControlName="tanggalJatuhTempo" style="width: 100%" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tanggalTerbit">{{ 'tanggalTerbit' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-date-picker formControlName="tanggalTerbit" style="width: 100%" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-control>
                <button nz-button nzType="primary" [disabled]="form.invalid">Simpan</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-spin>