<!-- ✅ Start rendering -->
<div class="row">




    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'authoRized' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.authoRized | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'createdAt' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.createdAt | date: 'yyyy-MM-dd' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'cycleBf' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.cycleBf | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'cycleCf' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.cycleCf | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'cycleFlight' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.cycleFlight | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'dateInspection' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.dateInspection || '-' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'hoursBf' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.hoursBf | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'hoursCf' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.hoursCf | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'hoursFlight' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.hoursFlight | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'idAircraft' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.idAircraft || '-' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'idTechLog' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.idTechLog || '-' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'idUserAcc' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.idUserAcc || '-' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'idUserInspection' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.idUserInspection || '-' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'idUserLog' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.idUserLog || '-' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'isDeleted' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            <nz-tag *ngIf="data?.isDeleted" nzColor="blue">Ya</nz-tag>
            <span *ngIf="!data?.isDeleted">-</span>

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'isEdit' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            <nz-tag *ngIf="data?.isEdit" nzColor="blue">Ya</nz-tag>
            <span *ngIf="!data?.isEdit">-</span>

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'lastUpdate' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.lastUpdate | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'noteLog' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.noteLog || '-' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'numberLog' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.numberLog || '-' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'numberNext' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.numberNext | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'oldId' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.oldId || '-' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'pesan' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.pesan || '-' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'place' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.place | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'techLogDate' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.techLogDate || '-' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'totalCycle' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.totalCycle | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'totalFlight' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.totalFlight | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'totalFuel' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.totalFuel | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'updatedAt' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.updatedAt | date: 'yyyy-MM-dd' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'validasi' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.validasi | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'xycleInput' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.xycleInput | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-12 {{ expand_aircraft.hidden ? 'mb-0' : 'mb-4' }} " *ngIf="data?.aircraft">
        <div class="fw-bold border-bottom mb-2">
            {{ 'aircraft' | translate }}
            <button class="btn btn-link btn-sm" (click)="expand_aircraft.hidden = !expand_aircraft.hidden">
                <span *ngIf="expand_aircraft.hidden">Expand</span>
                <span *ngIf="!expand_aircraft.hidden">Collapse</span>
                <span *ngIf="expand_aircraft.hidden" nz-icon nzType="down" nzTheme="outline"></span>
                <span *ngIf="!expand_aircraft.hidden" nz-icon nzType="up" nzTheme="outline"></span>
            </button>
        </div>
        <div class="row" #expand_aircraft hidden>
            <!-- ✅ Start rendering -->
            <div style="display: flex; gap: 16px;">
            
                <div nz-col [nzSpan]="24">
                    <div class="container mt-1">
                        <h5 class="fw-bold">INFORMATION</h5>
                        <div class="row">
            
            
            
                            <div class="col-md-4">
                                <div class="text-secondary small">
                                    {{ 'hasapu' | translate }}
                                </div>
                                <div class="fw-semibold text-dark">
            
                                    {{ data?.aircraft?.hasapu || '-' }}
            
                                </div>
                            </div>
            
                            <div class="col-md-4">
                                <div class="text-secondary small">
                                    {{ 'manufactureAircraft' | translate }}
                                </div>
                                <div class="fw-semibold text-dark">
            
                                    {{ data?.aircraft?.manufactureAircraft || '-' }}
            
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-secondary small">
                                    {{ 'manufactureDate' | translate }}
                                </div>
                                <div class="fw-semibold text-dark">
            
                                    {{ data?.aircraft?.manufactureDate || '-' }}
            
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-secondary small">
                                    {{ 'manufactureEngine' | translate }}
                                </div>
                                <div class="fw-semibold text-dark">
            
                                    {{ data?.aircraft?.manufactureEngine || '-' }}
            
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-secondary small">
                                    {{ 'manufacturedBy' | translate }}
                                </div>
                                <div class="fw-semibold text-dark">
            
                                    {{ data?.aircraft?.manufacturedBy || '-' }}
            
                                </div>
                            </div>
            
                            <div class="col-md-4">
                                <div class="text-secondary small">
                                    {{ 'purchasedate' | translate }}
                                </div>
                                <div class="fw-semibold text-dark">
            
                                    {{ data?.aircraft?.purchasedate || '-' }}
            
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-secondary small">
                                    {{ 'reasonRegschange' | translate }}
                                </div>
                                <div class="fw-semibold text-dark">
            
                                    {{ data?.aircraft?.reasonRegschange || '-' }}
            
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-secondary small">
                                    {{ 'registrationNumber' | translate }}
                                </div>
                                <div class="fw-semibold text-dark">
            
                                    {{ data?.aircraft?.registrationNumber || '-' }}
            
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-secondary small">
                                    {{ 'serialNumber' | translate }}
                                </div>
                                <div class="fw-semibold text-dark">
            
                                    {{ data?.aircraft?.serialNumber || '-' }}
            
                                </div>
                            </div>
            
                            <div class="col-md-4">
                                <div class="text-secondary small">
                                    {{ 'tendurance' | translate }}
                                </div>
                                <div class="fw-semibold text-dark">
            
                                    {{ data?.aircraft?.tendurance | number:'1.0-0' }}
            
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-secondary small">
                                    {{ 'yearMade' | translate }}
                                </div>
                                <div class="fw-semibold text-dark">
            
                                    {{ data?.aircraft?.yearMade || '-' }}
            
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="text-secondary small">
                                    {{ 'Applicable / Tag' | translate }}
                                </div>
                                <div class="fw-semibold text-dark">
            
                                    <span *ngIf="data.actype?.actype" class="badge bg-secondary">{{
                                        data.actype?.actype }}</span>
                                    <span *ngIf="data.actype?.description" class="badge bg-secondary">{{
                                        data.actype?.description
                                        }}</span>
            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             

        </div>
    </div>
    <div class="row">
        <div class="col-12 {{ expand_actype.hidden ? 'mb-0' : 'mb-4' }} " *ngIf="data?.aircraft?.actype">
            <div class="fw-bold border-bottom mb-2">
                {{ 'actype' | translate }}
                <button class="btn btn-link btn-sm" (click)="expand_actype.hidden = !expand_actype.hidden">
                    <span *ngIf="expand_actype.hidden">Expand</span>
                    <span *ngIf="!expand_actype.hidden">Collapse</span>
                    <span *ngIf="expand_actype.hidden" nz-icon nzType="down" nzTheme="outline"></span>
                    <span *ngIf="!expand_actype.hidden" nz-icon nzType="up" nzTheme="outline"></span>
                </button>
            </div>
            <div class="row" #expand_actype hidden>
    
                <div class="col-md-3"
                    *ngIf="data?.aircraft?.actype?.acCategory !== undefined && data?.aircraft?.actype?.acCategory !== null">
                    <div class="text-secondary small">
                        {{ 'acCategory' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">
    
                        {{ data?.aircraft?.actype?.acCategory || '-' }}
    
                    </div>
                </div>
    
                <div class="col-md-3"
                    *ngIf="data?.aircraft?.actype?.acManufacture !== undefined && data?.aircraft?.actype?.acManufacture !== null">
                    <div class="text-secondary small">
                        {{ 'acManufacture' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">
    
                        {{ data?.aircraft?.actype?.acManufacture || '-' }}
    
                    </div>
                </div>
    
                <div class="col-md-3"
                    *ngIf="data?.aircraft?.actype?.actype !== undefined && data?.aircraft?.actype?.actype !== null">
                    <div class="text-secondary small">
                        {{ 'actype' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">
    
                        {{ data?.aircraft?.actype?.actype || '-' }}
    
                    </div>
                </div>
    
                <div class="col-md-3"
                    *ngIf="data?.aircraft?.actype?.createdAt !== undefined && data?.aircraft?.actype?.createdAt !== null">
                    <div class="text-secondary small">
                        {{ 'createdAt' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">
    
                        {{ data?.aircraft?.actype?.createdAt | date: 'yyyy-MM-dd' }}
    
                    </div>
                </div>
    
                <div class="col-md-3"
                    *ngIf="data?.aircraft?.actype?.description !== undefined && data?.aircraft?.actype?.description !== null">
                    <div class="text-secondary small">
                        {{ 'description' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">
    
                        {{ data?.aircraft?.actype?.description || '-' }}
    
                    </div>
                </div>
    
                <div class="col-md-3"
                    *ngIf="data?.aircraft?.actype?.eFlight !== undefined && data?.aircraft?.actype?.eFlight !== null">
                    <div class="text-secondary small">
                        {{ 'eFlight' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">
    
                        {{ data?.aircraft?.actype?.eFlight || '-' }}
    
                    </div>
                </div>
    
                <div class="col-md-3"
                    *ngIf="data?.aircraft?.actype?.eStarts !== undefined && data?.aircraft?.actype?.eStarts !== null">
                    <div class="text-secondary small">
                        {{ 'eStarts' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">
    
                        {{ data?.aircraft?.actype?.eStarts || '-' }}
    
                    </div>
                </div>
    
                <div class="col-md-3"
                    *ngIf="data?.aircraft?.actype?.engineManufacture !== undefined && data?.aircraft?.actype?.engineManufacture !== null">
                    <div class="text-secondary small">
                        {{ 'engineManufacture' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">
    
                        {{ data?.aircraft?.actype?.engineManufacture || '-' }}
    
                    </div>
                </div>
    
                <div class="col-md-3"
                    *ngIf="data?.aircraft?.actype?.engineType !== undefined && data?.aircraft?.actype?.engineType !== null">
                    <div class="text-secondary small">
                        {{ 'engineType' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">
    
                        {{ data?.aircraft?.actype?.engineType || '-' }}
    
                    </div>
                </div>
    
                <div class="col-md-3"
                    *ngIf="data?.aircraft?.actype?.hashN1 !== undefined && data?.aircraft?.actype?.hashN1 !== null">
                    <div class="text-secondary small">
                        {{ 'hashN1' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">
    
                        {{ data?.aircraft?.actype?.hashN1 || '-' }}
    
                    </div>
                </div>
    
                <div class="col-md-3"
                    *ngIf="data?.aircraft?.actype?.hashN2 !== undefined && data?.aircraft?.actype?.hashN2 !== null">
                    <div class="text-secondary small">
                        {{ 'hashN2' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">
    
                        {{ data?.aircraft?.actype?.hashN2 || '-' }}
    
                    </div>
                </div>
    
                <div class="col-md-3"
                    *ngIf="data?.aircraft?.actype?.idActype !== undefined && data?.aircraft?.actype?.idActype !== null">
                    <div class="text-secondary small">
                        {{ 'idActype' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">
    
                        {{ data?.aircraft?.actype?.idActype || '-' }}
    
                    </div>
                </div>
    
                <div class="col-md-3"
                    *ngIf="data?.aircraft?.actype?.isDeleted !== undefined && data?.aircraft?.actype?.isDeleted !== null">
                    <div class="text-secondary small">
                        {{ 'isDeleted' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">
    
                        <nz-tag *ngIf="data?.aircraft?.actype?.isDeleted" nzColor="blue">Ya</nz-tag>
                        <span *ngIf="!data?.aircraft?.actype?.isDeleted">-</span>
    
                    </div>
                </div>
    
                <div class="col-md-3"
                    *ngIf="data?.aircraft?.actype?.numberEngine !== undefined && data?.aircraft?.actype?.numberEngine !== null">
                    <div class="text-secondary small">
                        {{ 'numberEngine' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">
    
                        {{ data?.aircraft?.actype?.numberEngine | number:'1.0-0' }}
    
                    </div>
                </div>
    
                <div class="col-md-3"
                    *ngIf="data?.aircraft?.actype?.oldId !== undefined && data?.aircraft?.actype?.oldId !== null">
                    <div class="text-secondary small">
                        {{ 'oldId' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">
    
                        {{ data?.aircraft?.actype?.oldId || '-' }}
    
                    </div>
                </div>
    
                <div class="col-md-3"
                    *ngIf="data?.aircraft?.actype?.statusType !== undefined && data?.aircraft?.actype?.statusType !== null">
                    <div class="text-secondary small">
                        {{ 'statusType' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">
    
                        <nz-tag nzColor="green">{{ data?.aircraft?.actype?.statusType }}</nz-tag>
    
                    </div>
                </div>
    
                <div class="col-md-3"
                    *ngIf="data?.aircraft?.actype?.updatedAt !== undefined && data?.aircraft?.actype?.updatedAt !== null">
                    <div class="text-secondary small">
                        {{ 'updatedAt' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">
    
                        {{ data?.aircraft?.actype?.updatedAt | date: 'yyyy-MM-dd' }}
    
                    </div>
                </div>
    
                <div class="col-md-3"
                    *ngIf="data?.aircraft?.actype?.wingtype !== undefined && data?.aircraft?.actype?.wingtype !== null">
                    <div class="text-secondary small">
                        {{ 'wingtype' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">
    
                        {{ data?.aircraft?.actype?.wingtype || '-' }}
    
                    </div>
                </div>
    
            </div>
        </div>
    </div>
            
    <div class="col-12 {{ expand_tech_log.hidden ? 'mb-0' : 'mb-4' }} " *ngIf="data?.techLog">
        <div class="fw-bold border-bottom mb-2">
            {{ 'techLog' | translate }}
            <button class="btn btn-link btn-sm" (click)="expand_tech_log.hidden = !expand_tech_log.hidden">
                <span *ngIf="expand_tech_log.hidden">Expand</span>
                <span *ngIf="!expand_tech_log.hidden">Collapse</span>
                <span *ngIf="expand_tech_log.hidden" nz-icon nzType="down" nzTheme="outline"></span>
                <span *ngIf="!expand_tech_log.hidden" nz-icon nzType="up" nzTheme="outline"></span>
            </button>
        </div>
        <div class="row" #expand_tech_log hidden>





            <div class="col-md-3" *ngIf="data?.techLog?.authoRized !== undefined && data?.techLog?.authoRized !== null">
                <div class="text-secondary small">
                    {{ 'authoRized' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.authoRized | number:'1.0-0' }}

                </div>
            </div>






            <div class="col-md-3" *ngIf="data?.techLog?.createdAt !== undefined && data?.techLog?.createdAt !== null">
                <div class="text-secondary small">
                    {{ 'createdAt' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.createdAt | date: 'yyyy-MM-dd' }}

                </div>
            </div>






            <div class="col-md-3" *ngIf="data?.techLog?.cycleBf !== undefined && data?.techLog?.cycleBf !== null">
                <div class="text-secondary small">
                    {{ 'cycleBf' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.cycleBf | number:'1.0-0' }}

                </div>
            </div>






            <div class="col-md-3" *ngIf="data?.techLog?.cycleCf !== undefined && data?.techLog?.cycleCf !== null">
                <div class="text-secondary small">
                    {{ 'cycleCf' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.cycleCf | number:'1.0-0' }}

                </div>
            </div>






            <div class="col-md-3"
                *ngIf="data?.techLog?.cycleFlight !== undefined && data?.techLog?.cycleFlight !== null">
                <div class="text-secondary small">
                    {{ 'cycleFlight' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.cycleFlight | number:'1.0-0' }}

                </div>
            </div>






            <div class="col-md-3"
                *ngIf="data?.techLog?.dateInspection !== undefined && data?.techLog?.dateInspection !== null">
                <div class="text-secondary small">
                    {{ 'dateInspection' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.dateInspection || '-' }}

                </div>
            </div>






            <div class="col-md-3" *ngIf="data?.techLog?.hoursBf !== undefined && data?.techLog?.hoursBf !== null">
                <div class="text-secondary small">
                    {{ 'hoursBf' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.hoursBf | number:'1.0-0' }}

                </div>
            </div>






            <div class="col-md-3" *ngIf="data?.techLog?.hoursCf !== undefined && data?.techLog?.hoursCf !== null">
                <div class="text-secondary small">
                    {{ 'hoursCf' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.hoursCf | number:'1.0-0' }}

                </div>
            </div>






            <div class="col-md-3"
                *ngIf="data?.techLog?.hoursFlight !== undefined && data?.techLog?.hoursFlight !== null">
                <div class="text-secondary small">
                    {{ 'hoursFlight' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.hoursFlight | number:'1.0-0' }}

                </div>
            </div>






            <div class="col-md-3" *ngIf="data?.techLog?.idAircraft !== undefined && data?.techLog?.idAircraft !== null">
                <div class="text-secondary small">
                    {{ 'idAircraft' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.idAircraft || '-' }}

                </div>
            </div>






            <div class="col-md-3" *ngIf="data?.techLog?.idTechLog !== undefined && data?.techLog?.idTechLog !== null">
                <div class="text-secondary small">
                    {{ 'idTechLog' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.idTechLog || '-' }}

                </div>
            </div>






            <div class="col-md-3" *ngIf="data?.techLog?.idUserAcc !== undefined && data?.techLog?.idUserAcc !== null">
                <div class="text-secondary small">
                    {{ 'idUserAcc' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.idUserAcc || '-' }}

                </div>
            </div>






            <div class="col-md-3"
                *ngIf="data?.techLog?.idUserInspection !== undefined && data?.techLog?.idUserInspection !== null">
                <div class="text-secondary small">
                    {{ 'idUserInspection' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.idUserInspection || '-' }}

                </div>
            </div>






            <div class="col-md-3" *ngIf="data?.techLog?.idUserLog !== undefined && data?.techLog?.idUserLog !== null">
                <div class="text-secondary small">
                    {{ 'idUserLog' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.idUserLog || '-' }}

                </div>
            </div>






            <div class="col-md-3" *ngIf="data?.techLog?.isDeleted !== undefined && data?.techLog?.isDeleted !== null">
                <div class="text-secondary small">
                    {{ 'isDeleted' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag *ngIf="data?.techLog.isDeleted" nzColor="blue">Ya</nz-tag>
                    <span *ngIf="!data?.techLog.isDeleted">-</span>

                </div>
            </div>






            <div class="col-md-3" *ngIf="data?.techLog?.isEdit !== undefined && data?.techLog?.isEdit !== null">
                <div class="text-secondary small">
                    {{ 'isEdit' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag *ngIf="data?.techLog.isEdit" nzColor="blue">Ya</nz-tag>
                    <span *ngIf="!data?.techLog.isEdit">-</span>

                </div>
            </div>






            <div class="col-md-3" *ngIf="data?.techLog?.lastUpdate !== undefined && data?.techLog?.lastUpdate !== null">
                <div class="text-secondary small">
                    {{ 'lastUpdate' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.lastUpdate | number:'1.0-0' }}

                </div>
            </div>






            <div class="col-md-3" *ngIf="data?.techLog?.noteLog !== undefined && data?.techLog?.noteLog !== null">
                <div class="text-secondary small">
                    {{ 'noteLog' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.noteLog || '-' }}

                </div>
            </div>






            <div class="col-md-3" *ngIf="data?.techLog?.numberLog !== undefined && data?.techLog?.numberLog !== null">
                <div class="text-secondary small">
                    {{ 'numberLog' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.numberLog || '-' }}

                </div>
            </div>






            <div class="col-md-3" *ngIf="data?.techLog?.numberNext !== undefined && data?.techLog?.numberNext !== null">
                <div class="text-secondary small">
                    {{ 'numberNext' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.numberNext | number:'1.0-0' }}

                </div>
            </div>






            <div class="col-md-3" *ngIf="data?.techLog?.oldId !== undefined && data?.techLog?.oldId !== null">
                <div class="text-secondary small">
                    {{ 'oldId' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.oldId || '-' }}

                </div>
            </div>






            <div class="col-md-3" *ngIf="data?.techLog?.pesan !== undefined && data?.techLog?.pesan !== null">
                <div class="text-secondary small">
                    {{ 'pesan' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.pesan || '-' }}

                </div>
            </div>






            <div class="col-md-3" *ngIf="data?.techLog?.place !== undefined && data?.techLog?.place !== null">
                <div class="text-secondary small">
                    {{ 'place' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.place | number:'1.0-0' }}

                </div>
            </div>






            <div class="col-md-3"
                *ngIf="data?.techLog?.techLogDate !== undefined && data?.techLog?.techLogDate !== null">
                <div class="text-secondary small">
                    {{ 'techLogDate' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.techLogDate || '-' }}

                </div>
            </div>






            <div class="col-md-3" *ngIf="data?.techLog?.totalCycle !== undefined && data?.techLog?.totalCycle !== null">
                <div class="text-secondary small">
                    {{ 'totalCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.totalCycle | number:'1.0-0' }}

                </div>
            </div>






            <div class="col-md-3"
                *ngIf="data?.techLog?.totalFlight !== undefined && data?.techLog?.totalFlight !== null">
                <div class="text-secondary small">
                    {{ 'totalFlight' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.totalFlight | number:'1.0-0' }}

                </div>
            </div>






            <div class="col-md-3" *ngIf="data?.techLog?.totalFuel !== undefined && data?.techLog?.totalFuel !== null">
                <div class="text-secondary small">
                    {{ 'totalFuel' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.totalFuel | number:'1.0-0' }}

                </div>
            </div>






            <div class="col-md-3" *ngIf="data?.techLog?.updatedAt !== undefined && data?.techLog?.updatedAt !== null">
                <div class="text-secondary small">
                    {{ 'updatedAt' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.updatedAt | date: 'yyyy-MM-dd' }}

                </div>
            </div>






            <div class="col-md-3" *ngIf="data?.techLog?.validasi !== undefined && data?.techLog?.validasi !== null">
                <div class="text-secondary small">
                    {{ 'validasi' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.validasi | number:'1.0-0' }}

                </div>
            </div>






            <div class="col-md-3" *ngIf="data?.techLog?.xycleInput !== undefined && data?.techLog?.xycleInput !== null">
                <div class="text-secondary small">
                    {{ 'xycleInput' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.techLog.xycleInput | number:'1.0-0' }}

                </div>
            </div>




        </div>
    </div>
</div>