<nz-spin nzTip="Loading..." [nzSpinning]="is_loading">

    <div class="card border-0 mb-1 border-left-5 border-theme card   bg-white">
        <div class="card-body p-2">
            <div class="row">
                <div class="col-lg-2">
                    <!-- <p class="text-secondary  mb-1">Status</p> -->
                    <h3 class="fw-bold text-capitalize"> Aircraft Informations</h3>
                </div>

                <div class="col" style="text-align: right;">
                    <p class="text-secondary mb-1">&nbsp;</p>

                    <button nz-button style="margin-bottom: 8px;margin-left: 10px;" nzType="primary" (click)="add()">
                        <span nz-icon nzType="edit" nzTheme="outline"></span> Update
                    </button>
                    <button nz-button nzType="primary" style="margin-right: 5px;" nz-dropdown [nzDropdownMenu]="menu4">
                        <span nz-icon nzType="printer"></span>
                        Print
                        <span nz-icon nzType="down"></span>
                    </button>
                    <nz-dropdown-menu #menu4="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item (click)="print()">Print aircraftDetail</li>
                        </ul>
                    </nz-dropdown-menu>

                    <!-- <button *ngIf="aircraftDetail.status=='close' || aircraftDetail.status=='cicil'" nz-button
                        nzType="primary" (click)="up()" style="margin-right: 5px;">
                        <span nz-icon nzType="calculator" nzTheme="outline"></span>
                        Bayar
                    </button> -->


                </div>
            </div>
        </div>
    </div>
    <!--
     <lib-approval-steps [for-module-name]="'aircraft-detail'" [for-module-id]="aircraft-detail?.idAircraftDetail"></lib-approval-steps>
         -->

    <div class="card bg-white p-3" style="box-shadow: none;">
        <app-aircraft-detail-share-header [data]="aircraftDetail"></app-aircraft-detail-share-header>
        <lib-custom-field [from-module]="'AmimsAircraftDetail'"
            [from-module-id]="aircraftDetail?.idAircraftDetail"></lib-custom-field>
    </div>


</nz-spin>
<br>