<nz-card nzTitle="{{filter.status|titlecase}} ({{ total }})" [nzExtra]="extraTemplate" [nzBodyStyle]="{padding:0}">
    <div class="filter" [hidden]="!filter_extra">
        <form nz-form [nzLayout]="'vertical'" role="form">
            <div nz-row [nzGutter]="8">
                <div nz-col [nzXl]="{ span: 6}" [nzLg]="{ span: 8}" [nzMd]="{ span: 12}" [nzXs]="{ span: 24}">
                    <nz-form-item>
                        <nz-form-label>&nbsp;</nz-form-label>
                        <nz-form-control>
                            <nz-input-group nzSearch [nzAddOnBefore]="addOnBeforeTemplate"
                                [nzAddOnAfter]="suffixIconButton" style="width: 100%;">
                                <input type="text" nz-input placeholder="{{'search'|translate|titlecase}}"
                                    [(ngModel)]="search" name="search" (keyup.enter)="searchData()" />
                            </nz-input-group>
                            <ng-template #suffixIconButton>
                                <button nz-button nzType="default" nzSearch (click)="searchData()"><span nz-icon
                                        nzType="search"></span></button>
                            </ng-template>
                            <ng-template #addOnBeforeTemplate>
                                <span nz-icon nzTheme="twotone" nzType="question-circle" nz-popover
                                    nzPopoverTitle="Pencarian berdasarkan" [nzPopoverContent]="tipsPencarian"
                                    nzPopoverPlacement="top"></span>
                                <ng-template #tipsPencarian>
                                    <div>
                                        <ul>
                                            <li *ngFor="let item of search_field">{{ item | translate }}</li>
                                        </ul>
                                    </div>
                                </ng-template>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'dateAcc' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-range-picker
                            [(ngModel)]="filter.dateAccRange"
                            name="dateAccRange"
                            nzFormat="YYYY-MM-DD"
                            nzPlaceHolder="['Dari', 'Sampai']"
                            style="width: 100%;">
                        </nz-range-picker>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'datePmtr' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-range-picker
                            [(ngModel)]="filter.datePmtrRange"
                            name="datePmtrRange"
                            nzFormat="YYYY-MM-DD"
                            nzPlaceHolder="['Dari', 'Sampai']"
                            style="width: 100%;">
                        </nz-range-picker>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'fromSite' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.fromSiteMin" name="fromSiteMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.fromSiteMax" name="fromSiteMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'idAircraft' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-select [(ngModel)]="filter.idAircraft" name="idAircraft" nzAllowClear>
                            <nz-option *ngFor="let item of listAircraft" [nzValue]="item.idAircraft" [nzLabel]="item.namaAircraft"></nz-option>
                        </nz-select>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'idUser' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-select [(ngModel)]="filter.idUser" name="idUser" nzAllowClear>
                            <nz-option *ngFor="let item of listUser" [nzValue]="item.idUser" [nzLabel]="item.namaUser"></nz-option>
                        </nz-select>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'idUserAcc' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-select [(ngModel)]="filter.idUserAcc" name="idUserAcc" nzAllowClear>
                            <nz-option *ngFor="let item of listUserAcc" [nzValue]="item.idUserAcc" [nzLabel]="item.namaUserAcc"></nz-option>
                        </nz-select>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'isDeleted' | translate }}</nz-form-label>
                    <nz-form-control>
                                                    <label nz-checkbox [(ngModel)]="filter.isDeleted" name="isDeleted">Yes</label> 
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'noIndex' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.noIndexMin" name="noIndexMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.noIndexMax" name="noIndexMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'toSite' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.toSiteMin" name="toSiteMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.toSiteMax" name="toSiteMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'validasi' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.validasiMin" name="validasiMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.validasiMax" name="validasiMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                
 
                <div nz-col nzSpan="24">

                    <nz-form-item>
                        <nz-form-control>
                            <button nz-button nzType="primary" (click)="print()" style="margin-right: 5px;">
                                <span nz-icon nzType="printer"></span>
                                Print
                            </button>
                            <button nz-button nzType="primary" (click)="searchData()" [nzLoading]="loading"
                                style="margin-right: 10px;"><span nz-icon nzType="filter"></span>Filter</button>
                            <button nz-button nzType="default" (click)="resetData()" [nzLoading]="loading"
                                style="margin-right: 10px;"><span nz-icon nzType="reload"></span>Reset</button>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </div>
    <div style="overflow: auto; background-color: white;">
        <nz-table nzShowSizeChanger [nzData]="listOfData" [nzFrontPagination]="false" [nzLoading]="loading"
            [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
            (nzQueryParams)="onQueryParamsChange($event)" nzSize="small">
            <thead>
                <tr>
                    <th   [nzAlign]="'right'">#ID</th>
                    
                    <th [nzSortFn]="true" nzColumnKey="createdAt" *ngIf="isColVisible('createdAt')">
                        {{ 'createdAt' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="dateAcc" *ngIf="isColVisible('dateAcc')">
                        {{ 'dateAcc' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="datePmtr" *ngIf="isColVisible('datePmtr')">
                        {{ 'datePmtr' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="fromSite" *ngIf="isColVisible('fromSite')">
                        {{ 'fromSite' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="isDeleted" *ngIf="isColVisible('isDeleted')">
                        {{ 'isDeleted' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="noIndex" *ngIf="isColVisible('noIndex')">
                        {{ 'noIndex' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="notePmtr" *ngIf="isColVisible('notePmtr')">
                        {{ 'notePmtr' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="numberPmtr" *ngIf="isColVisible('numberPmtr')">
                        {{ 'numberPmtr' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="statusPmtr" *ngIf="isColVisible('statusPmtr')">
                        {{ 'statusPmtr' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="toSite" *ngIf="isColVisible('toSite')">
                        {{ 'toSite' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="updatedAt" *ngIf="isColVisible('updatedAt')">
                        {{ 'updatedAt' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="validasi" *ngIf="isColVisible('validasi')">
                        {{ 'validasi' | translate }}
                     </th>
                    
                    <th nzWidth="7%" [nzAlign]="'right'">Action</th>
                </tr> 
            </thead>
            <tbody>
                <ng-container *ngFor="let data of listOfData" style="vertical-align: top;">
                    <tr>
                        <td [nzExpand]="expandSet.has(data.idEngineerPmtr)"
                            (nzExpandChange)="onExpandChange(data.idEngineerPmtr, $event)">
                            <nz-badge *ngIf="data.idEngineerPmtr!=null" nzColor="{{ data.idEngineerPmtr?.toLowerCase() | status }}"
                                nzText="{{data.idEngineerPmtr?.toLowerCase() }}"></nz-badge>  
                        </td>
                        
                        
                            <td *ngIf="isColVisible('createdAt')">
                                
                                        {{ data.createdAt | date: 'short' }}
                                            
                            </td>
                            
                            <td *ngIf="isColVisible('dateAcc')">
                                
                                                        {{ data.dateAcc  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('datePmtr')">
                                
                                                        {{ data.datePmtr  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('fromSite')">
                                
                                                        {{ data.fromSite  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('isDeleted')">
                                
                                    <nz-tag *ngIf="data.isDeleted" nzColor="blue">Ya</nz-tag>
                                    <span *ngIf="!data.isDeleted">-</span>
                                    
                            </td>
                            
                            <td *ngIf="isColVisible('noIndex')">
                                
                                                        {{ data.noIndex  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('notePmtr')">
                                
                                                        {{ data.notePmtr  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('numberPmtr')">
                                
                                                        {{ data.numberPmtr  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('statusPmtr')">
                                
                                                        {{ data.statusPmtr  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('toSite')">
                                
                                                        {{ data.toSite  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('updatedAt')">
                                
                                        {{ data.updatedAt | date: 'short' }}
                                            
                            </td>
                            
                            <td *ngIf="isColVisible('validasi')">
                                
                                                        {{ data.validasi  }}
                                                            
                            </td>
                            

                        <td [nzAlign]="'right'">
                            <button nz-button nz-dropdown [nzDropdownMenu]="menu">
                                Actions
                                <span nz-icon nzType="down"></span>
                            </button>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item (click)="detail(data)">
                                        <span nz-icon nzType="pic-center" nzTheme="outline"></span>&nbsp;&nbsp;Detail
                                    </li>
                                    <!--  -->
                                    <li nz-menu-item (click)="update(data)" *ngIf="data.status=='draft'">
                                        <span nz-icon nzType="edit" nzTheme="outline"></span>&nbsp;&nbsp;Update
                                    </li>
                                    <li nz-menu-divider *ngIf="data.status=='draft'"></li>
                                    <li nz-menu-item nz-menu-item nz-popconfirm class="text-danger"
                                        *ngIf="data.status=='draft'"
                                        nzPopconfirmTitle="Apakah Anda yakin akan menghapus data ini?"
                                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data.idEngineerPmtr)"><span
                                            nz-icon nzType="delete" nzTheme="outline"></span>
                                        <a class="m-1 text-danger">&nbsp;&nbsp;Delete</a>
                                    </li>
                                </ul>
                            </nz-dropdown-menu>
                        </td>
                    </tr>
                    <tr [nzExpand]="expandSet.has(data.idEngineerPmtr)">
                        <app-engineer-pmtr-share-header [data]="data"></app-engineer-pmtr-share-header> 
                    </tr>
                </ng-container>
                 
            </tbody>
        </nz-table>
    </div>
</nz-card>
<ng-template #extraTemplate>
    <ng-container *ngIf="!filter_extra">
        <nz-input-group nzSearch [nzAddOnBefore]="addOnBeforeTemplate" [nzAddOnAfter]="suffixIconButton"
            style="max-width: 180px;">
            <input type="text" nz-input placeholder="{{'search'|translate|titlecase}}" [(ngModel)]="search"
                name="search" (keyup.enter)="searchData()" />
        </nz-input-group>
        <ng-template #suffixIconButton>
            <button nz-button nzType="default" nzSearch (click)="searchData()"><span nz-icon
                    nzType="search"></span></button>
        </ng-template>
        <ng-template #addOnBeforeTemplate>
            <span nz-icon nzTheme="twotone" nzType="question-circle" nz-popover nzPopoverTitle="Pencarian berdasarkan"
                [nzPopoverContent]="tipsPencarian" nzPopoverPlacement="top"></span>
            <ng-template #tipsPencarian>
                <div>
                    <ul>
                        <li *ngFor="let item of search_field">{{ item | translate }}</li>
                    </ul>
                </div>
            </ng-template>
        </ng-template>
    </ng-container>
    <button nz-button [nzType]="filter_extra ? 'primary' :'default'" style="margin-bottom: 8px;margin-left: 10px;"
        (click)="filter_extra=!filter_extra">
        <span nz-icon nzType="filter" nzTheme="outline"></span> Filter
    </button>
    <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzTy [nzPlacement]="'topRight'"><i nz-icon nzType="appstore"></i></button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item *ngFor="let col of columns">
                <label nz-checkbox [(ngModel)]="col.show" (ngModelChange)="onColumnToggle()">
                    {{ col.key | translate }}
                </label>
            </li>
        </ul>
    </nz-dropdown-menu> 
    <button nz-button nzType="link" (click)="resetColumns()" nz-tooltip nzTooltipTitle="{{ 'Reset Kolom' | translate }}"><i nz-icon nzType="undo"></i></button>

    <button nz-button style="margin-bottom: 8px;margin-left: 10px;" nzType="primary" (click)="add()">
        <span nz-icon nzType="plus" nzTheme="outline"></span> Add New
    </button>
</ng-template>