<!-- ✅ Start rendering -->
<div class="row">

    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'atachapter' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.atachapter || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'createdAt' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.createdAt | date: 'yyyy-MM-dd' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'cycleTo' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.cycleTo | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'flightHoursTo' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.flightHoursTo | number:'1.0-0' }}

        </div>
    </div>
    
    
    
    
    
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'noteInspection' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.noteInspection || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'oldId' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.oldId || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'repetitions' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.repetitions | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'timeRangeTo' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.timeRangeTo | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'timeUnit' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.timeUnit || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'updatedAt' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.updatedAt | date: 'yyyy-MM-dd' }}

        </div>
    </div>
    <div class="col-12 {{ expand_aircraft.hidden ? 'mb-0' : 'mb-4' }} " *ngIf="data?.aircraft">
    <div class="fw-bold border-bottom mb-2">
      {{ 'aircraft' | translate }}
      <button class="btn btn-link btn-sm" (click)="expand_aircraft.hidden = !expand_aircraft.hidden">
        <span *ngIf="expand_aircraft.hidden">Expand</span>
        <span *ngIf="!expand_aircraft.hidden">Collapse</span>
        <span *ngIf="expand_aircraft.hidden" nz-icon nzType="down" nzTheme="outline"></span>
        <span *ngIf="!expand_aircraft.hidden" nz-icon nzType="up" nzTheme="outline"></span>
      </button>
    </div>
    <div class="row" #expand_aircraft hidden>

            <div class="col-md-3" *ngIf="data?.aircraft?.acFoto !== undefined && data?.aircraft?.acFoto !== null">
                <div class="text-secondary small">
                    {{ 'acFoto' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.acFoto || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.createdAt !== undefined && data?.aircraft?.createdAt !== null">
                <div class="text-secondary small">
                    {{ 'createdAt' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.createdAt | date: 'yyyy-MM-dd' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.descriptionAircraft !== undefined && data?.aircraft?.descriptionAircraft !== null">
                <div class="text-secondary small">
                    {{ 'descriptionAircraft' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.descriptionAircraft || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.hasapu !== undefined && data?.aircraft?.hasapu !== null">
                <div class="text-secondary small">
                    {{ 'hasapu' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.hasapu || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.isDeleted !== undefined && data?.aircraft?.isDeleted !== null">
                <div class="text-secondary small">
                    {{ 'isDeleted' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag *ngIf="data?.aircraft.isDeleted" nzColor="blue">Ya</nz-tag>
                    <span *ngIf="!data?.aircraft.isDeleted">-</span>

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.keywordAircraft !== undefined && data?.aircraft?.keywordAircraft !== null">
                <div class="text-secondary small">
                    {{ 'keywordAircraft' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.keywordAircraft || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.manufactureAircraft !== undefined && data?.aircraft?.manufactureAircraft !== null">
                <div class="text-secondary small">
                    {{ 'manufactureAircraft' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.manufactureAircraft || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.manufactureDate !== undefined && data?.aircraft?.manufactureDate !== null">
                <div class="text-secondary small">
                    {{ 'manufactureDate' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.manufactureDate || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.manufactureEngine !== undefined && data?.aircraft?.manufactureEngine !== null">
                <div class="text-secondary small">
                    {{ 'manufactureEngine' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.manufactureEngine || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.manufacturedBy !== undefined && data?.aircraft?.manufacturedBy !== null">
                <div class="text-secondary small">
                    {{ 'manufacturedBy' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.manufacturedBy || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.oldActype !== undefined && data?.aircraft?.oldActype !== null">
                <div class="text-secondary small">
                    {{ 'oldActype' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.oldActype || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.oldId !== undefined && data?.aircraft?.oldId !== null">
                <div class="text-secondary small">
                    {{ 'oldId' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.oldId || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.purchasedate !== undefined && data?.aircraft?.purchasedate !== null">
                <div class="text-secondary small">
                    {{ 'purchasedate' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.purchasedate || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.reasonRegschange !== undefined && data?.aircraft?.reasonRegschange !== null">
                <div class="text-secondary small">
                    {{ 'reasonRegschange' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.reasonRegschange || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.registrationNumber !== undefined && data?.aircraft?.registrationNumber !== null">
                <div class="text-secondary small">
                    {{ 'registrationNumber' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.registrationNumber || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.serialNumber !== undefined && data?.aircraft?.serialNumber !== null">
                <div class="text-secondary small">
                    {{ 'serialNumber' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.serialNumber || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.statusAc !== undefined && data?.aircraft?.statusAc !== null">
                <div class="text-secondary small">
                    {{ 'statusAc' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag nzColor="green">{{ data?.aircraft.statusAc }}</nz-tag>

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.tendurance !== undefined && data?.aircraft?.tendurance !== null">
                <div class="text-secondary small">
                    {{ 'tendurance' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.tendurance | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.updatedAt !== undefined && data?.aircraft?.updatedAt !== null">
                <div class="text-secondary small">
                    {{ 'updatedAt' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.updatedAt | date: 'yyyy-MM-dd' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.yearMade !== undefined && data?.aircraft?.yearMade !== null">
                <div class="text-secondary small">
                    {{ 'yearMade' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.yearMade || '-' }}

                </div>
            </div>

        </div>
    </div>
    <div class="col-12 {{ expand_maintenance_code.hidden ? 'mb-0' : 'mb-4' }} " *ngIf="data?.maintenanceCode">
    <div class="fw-bold border-bottom mb-2">
      {{ 'maintenanceCode' | translate }}
      <button class="btn btn-link btn-sm" (click)="expand_maintenance_code.hidden = !expand_maintenance_code.hidden">
        <span *ngIf="expand_maintenance_code.hidden">Expand</span>
        <span *ngIf="!expand_maintenance_code.hidden">Collapse</span>
        <span *ngIf="expand_maintenance_code.hidden" nz-icon nzType="down" nzTheme="outline"></span>
        <span *ngIf="!expand_maintenance_code.hidden" nz-icon nzType="up" nzTheme="outline"></span>
      </button>
    </div>
    <div class="row" #expand_maintenance_code hidden>

            <div class="col-md-3"
                *ngIf="data?.maintenanceCode?.classification !== undefined && data?.maintenanceCode?.classification !== null">
                <div class="text-secondary small">
                    {{ 'classification' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.maintenanceCode?.classification || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.maintenanceCode?.descriptionMaintenance !== undefined && data?.maintenanceCode?.descriptionMaintenance !== null">
                <div class="text-secondary small">
                    {{ 'descriptionMaintenance' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.maintenanceCode?.descriptionMaintenance || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.maintenanceCode?.isDeleted !== undefined && data?.maintenanceCode?.isDeleted !== null">
                <div class="text-secondary small">
                    {{ 'isDeleted' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag *ngIf="data?.maintenanceCode.isDeleted" nzColor="blue">Ya</nz-tag>
                    <span *ngIf="!data?.maintenanceCode.isDeleted">-</span>

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.maintenanceCode?.maintenanceCode !== undefined && data?.maintenanceCode?.maintenanceCode !== null">
                <div class="text-secondary small">
                    {{ 'maintenanceCode' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.maintenanceCode?.maintenanceCode || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.maintenanceCode?.oldId !== undefined && data?.maintenanceCode?.oldId !== null">
                <div class="text-secondary small">
                    {{ 'oldId' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.maintenanceCode?.oldId || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.maintenanceCode?.reference !== undefined && data?.maintenanceCode?.reference !== null">
                <div class="text-secondary small">
                    {{ 'reference' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.maintenanceCode?.reference || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.maintenanceCode?.updatedAt !== undefined && data?.maintenanceCode?.updatedAt !== null">
                <div class="text-secondary small">
                    {{ 'updatedAt' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.maintenanceCode?.updatedAt | date: 'yyyy-MM-dd' }}

                </div>
            </div>

        </div>
    </div>
    <div class="col-12 {{ expand_part.hidden ? 'mb-0' : 'mb-4' }} " *ngIf="data?.part">
    <div class="fw-bold border-bottom mb-2">
      {{ 'part' | translate }}
      <button class="btn btn-link btn-sm" (click)="expand_part.hidden = !expand_part.hidden">
        <span *ngIf="expand_part.hidden">Expand</span>
        <span *ngIf="!expand_part.hidden">Collapse</span>
        <span *ngIf="expand_part.hidden" nz-icon nzType="down" nzTheme="outline"></span>
        <span *ngIf="!expand_part.hidden" nz-icon nzType="up" nzTheme="outline"></span>
      </button>
    </div>
    <div class="row" #expand_part hidden>

            <div class="col-md-3" *ngIf="data?.part?.dateInstall !== undefined && data?.part?.dateInstall !== null">
                <div class="text-secondary small">
                    {{ 'dateInstall' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.dateInstall || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.parent !== undefined && data?.part?.parent !== null">
                <div class="text-secondary small">
                    {{ 'parent' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.parent || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsiCycle !== undefined && data?.part?.tsiCycle !== null">
                <div class="text-secondary small">
                    {{ 'tsiCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsiCycle | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsiHours !== undefined && data?.part?.tsiHours !== null">
                <div class="text-secondary small">
                    {{ 'tsiHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsiHours | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsiVal !== undefined && data?.part?.tsiVal !== null">
                <div class="text-secondary small">
                    {{ 'tsiVal' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsiVal | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsiVar !== undefined && data?.part?.tsiVar !== null">
                <div class="text-secondary small">
                    {{ 'tsiVar' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsiVar || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsnCycle !== undefined && data?.part?.tsnCycle !== null">
                <div class="text-secondary small">
                    {{ 'tsnCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsnCycle | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsnHours !== undefined && data?.part?.tsnHours !== null">
                <div class="text-secondary small">
                    {{ 'tsnHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsnHours | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsnVal !== undefined && data?.part?.tsnVal !== null">
                <div class="text-secondary small">
                    {{ 'tsnVal' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsnVal | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsnVar !== undefined && data?.part?.tsnVar !== null">
                <div class="text-secondary small">
                    {{ 'tsnVar' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsnVar || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsoCycle !== undefined && data?.part?.tsoCycle !== null">
                <div class="text-secondary small">
                    {{ 'tsoCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsoCycle | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsoHours !== undefined && data?.part?.tsoHours !== null">
                <div class="text-secondary small">
                    {{ 'tsoHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsoHours | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsoVal !== undefined && data?.part?.tsoVal !== null">
                <div class="text-secondary small">
                    {{ 'tsoVal' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsoVal | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsoVar !== undefined && data?.part?.tsoVar !== null">
                <div class="text-secondary small">
                    {{ 'tsoVar' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsoVar || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.part?.warantyStartCycle !== undefined && data?.part?.warantyStartCycle !== null">
                <div class="text-secondary small">
                    {{ 'warantyStartCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.warantyStartCycle | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.part?.warantyStartDate !== undefined && data?.part?.warantyStartDate !== null">
                <div class="text-secondary small">
                    {{ 'warantyStartDate' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.warantyStartDate || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.part?.warantyStartDays !== undefined && data?.part?.warantyStartDays !== null">
                <div class="text-secondary small">
                    {{ 'warantyStartDays' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.warantyStartDays | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.part?.warantyStartHours !== undefined && data?.part?.warantyStartHours !== null">
                <div class="text-secondary small">
                    {{ 'warantyStartHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.warantyStartHours | number:'1.0-0' }}

                </div>
            </div>

        </div>
    </div>
    <div class="col-12 {{ expand_user.hidden ? 'mb-0' : 'mb-4' }} " *ngIf="data?.user">
    <div class="fw-bold border-bottom mb-2">
      {{ 'user' | translate }}
      <button class="btn btn-link btn-sm" (click)="expand_user.hidden = !expand_user.hidden">
        <span *ngIf="expand_user.hidden">Expand</span>
        <span *ngIf="!expand_user.hidden">Collapse</span>
        <span *ngIf="expand_user.hidden" nz-icon nzType="down" nzTheme="outline"></span>
        <span *ngIf="!expand_user.hidden" nz-icon nzType="up" nzTheme="outline"></span>
      </button>
    </div>
    <div class="row" #expand_user hidden>

            <div class="col-md-3" *ngIf="data?.user?.dateLog !== undefined && data?.user?.dateLog !== null">
                <div class="text-secondary small">
                    {{ 'dateLog' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.user?.dateLog || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.user?.method !== undefined && data?.user?.method !== null">
                <div class="text-secondary small">
                    {{ 'method' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.user?.method || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.user?.methodValue !== undefined && data?.user?.methodValue !== null">
                <div class="text-secondary small">
                    {{ 'methodValue' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.user?.methodValue || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.user?.typeIdKey !== undefined && data?.user?.typeIdKey !== null">
                <div class="text-secondary small">
                    {{ 'typeIdKey' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.user?.typeIdKey || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.user?.typeLog !== undefined && data?.user?.typeLog !== null">
                <div class="text-secondary small">
                    {{ 'typeLog' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.user?.typeLog || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.user?.typeValue !== undefined && data?.user?.typeValue !== null">
                <div class="text-secondary small">
                    {{ 'typeValue' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.user?.typeValue || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.user?.typeWork !== undefined && data?.user?.typeWork !== null">
                <div class="text-secondary small">
                    {{ 'typeWork' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.user?.typeWork || '-' }}

                </div>
            </div>

        </div>
    </div>
</div>