<!-- ✅ Start rendering -->
<div class="row">

    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'base' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.base || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'createdAt' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.createdAt | date: 'yyyy-MM-dd' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'dateRti' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.dateRti || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'dispotition' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.dispotition | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'hasPris' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.hasPris || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'hashProcess' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.hashProcess || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'hashRpd' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.hashRpd || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'hashTechLog' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.hashTechLog || '-' }}

        </div>
    </div>
    
    
    
    
    
    
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'inspectedBy' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.inspectedBy | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'numberRti' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.numberRti || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'reason' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.reason || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'receivedBy' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.receivedBy | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'remainingHours' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.remainingHours | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'remarkDisposisi' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.remarkDisposisi || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'returnBy' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.returnBy | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'statusRti' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            <nz-tag nzColor="green">{{ data?.statusRti }}</nz-tag>

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'statusService' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            <nz-tag nzColor="green">{{ data?.statusService }}</nz-tag>

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'tsnCycle' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.tsnCycle | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'tsnCycleParent' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.tsnCycleParent | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'tsnHours' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.tsnHours | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'tsnHoursParent' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.tsnHoursParent | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'tsnVal' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.tsnVal | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'tsnVar' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.tsnVar || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'tsoCycle' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.tsoCycle | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'tsoHours' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.tsoHours | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'tsoVal' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.tsoVal | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'tsoVar' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.tsoVar || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'typeRti' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.typeRti || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'updatedAt' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.updatedAt | date: 'yyyy-MM-dd' }}

        </div>
    </div>
    <div class="col-12 {{ expand_aircraft.hidden ? 'mb-0' : 'mb-4' }} " *ngIf="data?.aircraft">
    <div class="fw-bold border-bottom mb-2">
      {{ 'aircraft' | translate }}
      <button class="btn btn-link btn-sm" (click)="expand_aircraft.hidden = !expand_aircraft.hidden">
        <span *ngIf="expand_aircraft.hidden">Expand</span>
        <span *ngIf="!expand_aircraft.hidden">Collapse</span>
        <span *ngIf="expand_aircraft.hidden" nz-icon nzType="down" nzTheme="outline"></span>
        <span *ngIf="!expand_aircraft.hidden" nz-icon nzType="up" nzTheme="outline"></span>
      </button>
    </div>
    <div class="row" #expand_aircraft hidden>

            <div class="col-md-3" *ngIf="data?.aircraft?.acFoto !== undefined && data?.aircraft?.acFoto !== null">
                <div class="text-secondary small">
                    {{ 'acFoto' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.acFoto || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.createdAt !== undefined && data?.aircraft?.createdAt !== null">
                <div class="text-secondary small">
                    {{ 'createdAt' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.createdAt | date: 'yyyy-MM-dd' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.descriptionAircraft !== undefined && data?.aircraft?.descriptionAircraft !== null">
                <div class="text-secondary small">
                    {{ 'descriptionAircraft' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.descriptionAircraft || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.hasapu !== undefined && data?.aircraft?.hasapu !== null">
                <div class="text-secondary small">
                    {{ 'hasapu' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.hasapu || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.isDeleted !== undefined && data?.aircraft?.isDeleted !== null">
                <div class="text-secondary small">
                    {{ 'isDeleted' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag *ngIf="data?.aircraft.isDeleted" nzColor="blue">Ya</nz-tag>
                    <span *ngIf="!data?.aircraft.isDeleted">-</span>

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.keywordAircraft !== undefined && data?.aircraft?.keywordAircraft !== null">
                <div class="text-secondary small">
                    {{ 'keywordAircraft' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.keywordAircraft || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.manufactureAircraft !== undefined && data?.aircraft?.manufactureAircraft !== null">
                <div class="text-secondary small">
                    {{ 'manufactureAircraft' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.manufactureAircraft || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.manufactureDate !== undefined && data?.aircraft?.manufactureDate !== null">
                <div class="text-secondary small">
                    {{ 'manufactureDate' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.manufactureDate || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.manufactureEngine !== undefined && data?.aircraft?.manufactureEngine !== null">
                <div class="text-secondary small">
                    {{ 'manufactureEngine' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.manufactureEngine || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.manufacturedBy !== undefined && data?.aircraft?.manufacturedBy !== null">
                <div class="text-secondary small">
                    {{ 'manufacturedBy' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.manufacturedBy || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.oldActype !== undefined && data?.aircraft?.oldActype !== null">
                <div class="text-secondary small">
                    {{ 'oldActype' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.oldActype || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.oldId !== undefined && data?.aircraft?.oldId !== null">
                <div class="text-secondary small">
                    {{ 'oldId' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.oldId || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.purchasedate !== undefined && data?.aircraft?.purchasedate !== null">
                <div class="text-secondary small">
                    {{ 'purchasedate' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.purchasedate || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.reasonRegschange !== undefined && data?.aircraft?.reasonRegschange !== null">
                <div class="text-secondary small">
                    {{ 'reasonRegschange' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.reasonRegschange || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.registrationNumber !== undefined && data?.aircraft?.registrationNumber !== null">
                <div class="text-secondary small">
                    {{ 'registrationNumber' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.registrationNumber || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.serialNumber !== undefined && data?.aircraft?.serialNumber !== null">
                <div class="text-secondary small">
                    {{ 'serialNumber' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.serialNumber || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.statusAc !== undefined && data?.aircraft?.statusAc !== null">
                <div class="text-secondary small">
                    {{ 'statusAc' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag nzColor="green">{{ data?.aircraft.statusAc }}</nz-tag>

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.tendurance !== undefined && data?.aircraft?.tendurance !== null">
                <div class="text-secondary small">
                    {{ 'tendurance' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.tendurance | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.updatedAt !== undefined && data?.aircraft?.updatedAt !== null">
                <div class="text-secondary small">
                    {{ 'updatedAt' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.updatedAt | date: 'yyyy-MM-dd' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.yearMade !== undefined && data?.aircraft?.yearMade !== null">
                <div class="text-secondary small">
                    {{ 'yearMade' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.yearMade || '-' }}

                </div>
            </div>

        </div>
    </div>
    <div class="col-12 {{ expand_mpc_jo.hidden ? 'mb-0' : 'mb-4' }} " *ngIf="data?.mpcJo">
    <div class="fw-bold border-bottom mb-2">
      {{ 'mpcJo' | translate }}
      <button class="btn btn-link btn-sm" (click)="expand_mpc_jo.hidden = !expand_mpc_jo.hidden">
        <span *ngIf="expand_mpc_jo.hidden">Expand</span>
        <span *ngIf="!expand_mpc_jo.hidden">Collapse</span>
        <span *ngIf="expand_mpc_jo.hidden" nz-icon nzType="down" nzTheme="outline"></span>
        <span *ngIf="!expand_mpc_jo.hidden" nz-icon nzType="up" nzTheme="outline"></span>
      </button>
    </div>
    <div class="row" #expand_mpc_jo hidden>

            <div class="col-md-3" *ngIf="data?.mpcJo?.action !== undefined && data?.mpcJo?.action !== null">
                <div class="text-secondary small">
                    {{ 'action' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.action || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.compliteCycle !== undefined && data?.mpcJo?.compliteCycle !== null">
                <div class="text-secondary small">
                    {{ 'compliteCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.compliteCycle | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.compliteDate !== undefined && data?.mpcJo?.compliteDate !== null">
                <div class="text-secondary small">
                    {{ 'compliteDate' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.compliteDate || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.compliteHours !== undefined && data?.mpcJo?.compliteHours !== null">
                <div class="text-secondary small">
                    {{ 'compliteHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.compliteHours | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.createdAt !== undefined && data?.mpcJo?.createdAt !== null">
                <div class="text-secondary small">
                    {{ 'createdAt' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.createdAt | date: 'yyyy-MM-dd' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.customIssued !== undefined && data?.mpcJo?.customIssued !== null">
                <div class="text-secondary small">
                    {{ 'customIssued' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.customIssued || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.customJob !== undefined && data?.mpcJo?.customJob !== null">
                <div class="text-secondary small">
                    {{ 'customJob' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.customJob || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.customRef !== undefined && data?.mpcJo?.customRef !== null">
                <div class="text-secondary small">
                    {{ 'customRef' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.customRef || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.cycleFrom !== undefined && data?.mpcJo?.cycleFrom !== null">
                <div class="text-secondary small">
                    {{ 'cycleFrom' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.cycleFrom | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.cycleTo !== undefined && data?.mpcJo?.cycleTo !== null">
                <div class="text-secondary small">
                    {{ 'cycleTo' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.cycleTo | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.dateJo !== undefined && data?.mpcJo?.dateJo !== null">
                <div class="text-secondary small">
                    {{ 'dateJo' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.dateJo || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.hourseFrom !== undefined && data?.mpcJo?.hourseFrom !== null">
                <div class="text-secondary small">
                    {{ 'hourseFrom' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.hourseFrom | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.hourseTo !== undefined && data?.mpcJo?.hourseTo !== null">
                <div class="text-secondary small">
                    {{ 'hourseTo' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.hourseTo | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.isPriority !== undefined && data?.mpcJo?.isPriority !== null">
                <div class="text-secondary small">
                    {{ 'isPriority' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag *ngIf="data?.mpcJo.isPriority" nzColor="blue">Ya</nz-tag>
                    <span *ngIf="!data?.mpcJo.isPriority">-</span>

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.noteJo !== undefined && data?.mpcJo?.noteJo !== null">
                <div class="text-secondary small">
                    {{ 'noteJo' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.noteJo || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.numberJo !== undefined && data?.mpcJo?.numberJo !== null">
                <div class="text-secondary small">
                    {{ 'numberJo' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.numberJo || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.onAircraft !== undefined && data?.mpcJo?.onAircraft !== null">
                <div class="text-secondary small">
                    {{ 'onAircraft' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.onAircraft || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.onSite !== undefined && data?.mpcJo?.onSite !== null">
                <div class="text-secondary small">
                    {{ 'onSite' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.onSite | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.originalCycle !== undefined && data?.mpcJo?.originalCycle !== null">
                <div class="text-secondary small">
                    {{ 'originalCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.originalCycle | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.originalDate !== undefined && data?.mpcJo?.originalDate !== null">
                <div class="text-secondary small">
                    {{ 'originalDate' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.originalDate || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.originalHours !== undefined && data?.mpcJo?.originalHours !== null">
                <div class="text-secondary small">
                    {{ 'originalHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.originalHours | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.parentAss !== undefined && data?.mpcJo?.parentAss !== null">
                <div class="text-secondary small">
                    {{ 'parentAss' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.parentAss || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.reference !== undefined && data?.mpcJo?.reference !== null">
                <div class="text-secondary small">
                    {{ 'reference' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.reference || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.roflag !== undefined && data?.mpcJo?.roflag !== null">
                <div class="text-secondary small">
                    {{ 'roflag' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.roflag || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.statusJo !== undefined && data?.mpcJo?.statusJo !== null">
                <div class="text-secondary small">
                    {{ 'statusJo' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag nzColor="green">{{ data?.mpcJo.statusJo }}</nz-tag>

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.timeRangeFrom !== undefined && data?.mpcJo?.timeRangeFrom !== null">
                <div class="text-secondary small">
                    {{ 'timeRangeFrom' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.timeRangeFrom | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.timeRangeTo !== undefined && data?.mpcJo?.timeRangeTo !== null">
                <div class="text-secondary small">
                    {{ 'timeRangeTo' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.timeRangeTo | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.updatedAt !== undefined && data?.mpcJo?.updatedAt !== null">
                <div class="text-secondary small">
                    {{ 'updatedAt' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.updatedAt | date: 'yyyy-MM-dd' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.mpcJo?.workDue !== undefined && data?.mpcJo?.workDue !== null">
                <div class="text-secondary small">
                    {{ 'workDue' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.mpcJo?.workDue || '-' }}

                </div>
            </div>

        </div>
    </div>
    <div class="col-12 {{ expand_part.hidden ? 'mb-0' : 'mb-4' }} " *ngIf="data?.part">
    <div class="fw-bold border-bottom mb-2">
      {{ 'part' | translate }}
      <button class="btn btn-link btn-sm" (click)="expand_part.hidden = !expand_part.hidden">
        <span *ngIf="expand_part.hidden">Expand</span>
        <span *ngIf="!expand_part.hidden">Collapse</span>
        <span *ngIf="expand_part.hidden" nz-icon nzType="down" nzTheme="outline"></span>
        <span *ngIf="!expand_part.hidden" nz-icon nzType="up" nzTheme="outline"></span>
      </button>
    </div>
    <div class="row" #expand_part hidden>

            <div class="col-md-3" *ngIf="data?.part?.dateInstall !== undefined && data?.part?.dateInstall !== null">
                <div class="text-secondary small">
                    {{ 'dateInstall' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.dateInstall || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.parent !== undefined && data?.part?.parent !== null">
                <div class="text-secondary small">
                    {{ 'parent' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.parent || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsiCycle !== undefined && data?.part?.tsiCycle !== null">
                <div class="text-secondary small">
                    {{ 'tsiCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsiCycle | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsiHours !== undefined && data?.part?.tsiHours !== null">
                <div class="text-secondary small">
                    {{ 'tsiHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsiHours | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsiVal !== undefined && data?.part?.tsiVal !== null">
                <div class="text-secondary small">
                    {{ 'tsiVal' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsiVal | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsiVar !== undefined && data?.part?.tsiVar !== null">
                <div class="text-secondary small">
                    {{ 'tsiVar' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsiVar || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsnCycle !== undefined && data?.part?.tsnCycle !== null">
                <div class="text-secondary small">
                    {{ 'tsnCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsnCycle | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsnHours !== undefined && data?.part?.tsnHours !== null">
                <div class="text-secondary small">
                    {{ 'tsnHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsnHours | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsnVal !== undefined && data?.part?.tsnVal !== null">
                <div class="text-secondary small">
                    {{ 'tsnVal' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsnVal | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsnVar !== undefined && data?.part?.tsnVar !== null">
                <div class="text-secondary small">
                    {{ 'tsnVar' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsnVar || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsoCycle !== undefined && data?.part?.tsoCycle !== null">
                <div class="text-secondary small">
                    {{ 'tsoCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsoCycle | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsoHours !== undefined && data?.part?.tsoHours !== null">
                <div class="text-secondary small">
                    {{ 'tsoHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsoHours | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsoVal !== undefined && data?.part?.tsoVal !== null">
                <div class="text-secondary small">
                    {{ 'tsoVal' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsoVal | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsoVar !== undefined && data?.part?.tsoVar !== null">
                <div class="text-secondary small">
                    {{ 'tsoVar' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsoVar || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.part?.warantyStartCycle !== undefined && data?.part?.warantyStartCycle !== null">
                <div class="text-secondary small">
                    {{ 'warantyStartCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.warantyStartCycle | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.part?.warantyStartDate !== undefined && data?.part?.warantyStartDate !== null">
                <div class="text-secondary small">
                    {{ 'warantyStartDate' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.warantyStartDate || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.part?.warantyStartDays !== undefined && data?.part?.warantyStartDays !== null">
                <div class="text-secondary small">
                    {{ 'warantyStartDays' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.warantyStartDays | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.part?.warantyStartHours !== undefined && data?.part?.warantyStartHours !== null">
                <div class="text-secondary small">
                    {{ 'warantyStartHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.warantyStartHours | number:'1.0-0' }}

                </div>
            </div>

        </div>
    </div>
    <div class="col-12 {{ expand_part_install.hidden ? 'mb-0' : 'mb-4' }} " *ngIf="data?.partInstall">
    <div class="fw-bold border-bottom mb-2">
      {{ 'partInstall' | translate }}
      <button class="btn btn-link btn-sm" (click)="expand_part_install.hidden = !expand_part_install.hidden">
        <span *ngIf="expand_part_install.hidden">Expand</span>
        <span *ngIf="!expand_part_install.hidden">Collapse</span>
        <span *ngIf="expand_part_install.hidden" nz-icon nzType="down" nzTheme="outline"></span>
        <span *ngIf="!expand_part_install.hidden" nz-icon nzType="up" nzTheme="outline"></span>
      </button>
    </div>
    <div class="row" #expand_part_install hidden>

            <div class="col-md-3" *ngIf="data?.partInstall?.bin !== undefined && data?.partInstall?.bin !== null">
                <div class="text-secondary small">
                    {{ 'bin' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.partInstall?.bin || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.partInstall?.createdAt !== undefined && data?.partInstall?.createdAt !== null">
                <div class="text-secondary small">
                    {{ 'createdAt' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.partInstall?.createdAt | date: 'yyyy-MM-dd' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.partInstall?.dateInstall !== undefined && data?.partInstall?.dateInstall !== null">
                <div class="text-secondary small">
                    {{ 'dateInstall' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.partInstall?.dateInstall || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.partInstall?.dueOverhaulC !== undefined && data?.partInstall?.dueOverhaulC !== null">
                <div class="text-secondary small">
                    {{ 'dueOverhaulC' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.partInstall?.dueOverhaulC | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.partInstall?.dueOverhaulH !== undefined && data?.partInstall?.dueOverhaulH !== null">
                <div class="text-secondary small">
                    {{ 'dueOverhaulH' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.partInstall?.dueOverhaulH | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.partInstall?.dueOverhaulValue !== undefined && data?.partInstall?.dueOverhaulValue !== null">
                <div class="text-secondary small">
                    {{ 'dueOverhaulValue' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.partInstall?.dueOverhaulValue | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.partInstall?.figureIndex !== undefined && data?.partInstall?.figureIndex !== null">
                <div class="text-secondary small">
                    {{ 'figureIndex' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.partInstall?.figureIndex || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.partInstall?.installedOverhaulC !== undefined && data?.partInstall?.installedOverhaulC !== null">
                <div class="text-secondary small">
                    {{ 'installedOverhaulC' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.partInstall?.installedOverhaulC | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.partInstall?.installedOverhaulH !== undefined && data?.partInstall?.installedOverhaulH !== null">
                <div class="text-secondary small">
                    {{ 'installedOverhaulH' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.partInstall?.installedOverhaulH | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.partInstall?.installedOverhaulValue !== undefined && data?.partInstall?.installedOverhaulValue !== null">
                <div class="text-secondary small">
                    {{ 'installedOverhaulValue' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.partInstall?.installedOverhaulValue | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.partInstall?.installedParentC !== undefined && data?.partInstall?.installedParentC !== null">
                <div class="text-secondary small">
                    {{ 'installedParentC' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.partInstall?.installedParentC | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.partInstall?.installedParentH !== undefined && data?.partInstall?.installedParentH !== null">
                <div class="text-secondary small">
                    {{ 'installedParentH' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.partInstall?.installedParentH | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.partInstall?.installedParentValue !== undefined && data?.partInstall?.installedParentValue !== null">
                <div class="text-secondary small">
                    {{ 'installedParentValue' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.partInstall?.installedParentValue | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.partInstall?.installedTsnC !== undefined && data?.partInstall?.installedTsnC !== null">
                <div class="text-secondary small">
                    {{ 'installedTsnC' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.partInstall?.installedTsnC | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.partInstall?.installedTsnH !== undefined && data?.partInstall?.installedTsnH !== null">
                <div class="text-secondary small">
                    {{ 'installedTsnH' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.partInstall?.installedTsnH | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.partInstall?.isfeatured !== undefined && data?.partInstall?.isfeatured !== null">
                <div class="text-secondary small">
                    {{ 'isfeatured' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag *ngIf="data?.partInstall.isfeatured" nzColor="blue">Ya</nz-tag>
                    <span *ngIf="!data?.partInstall.isfeatured">-</span>

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.partInstall?.itemIndex !== undefined && data?.partInstall?.itemIndex !== null">
                <div class="text-secondary small">
                    {{ 'itemIndex' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.partInstall?.itemIndex || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.partInstall?.newParen !== undefined && data?.partInstall?.newParen !== null">
                <div class="text-secondary small">
                    {{ 'newParen' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.partInstall?.newParen || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.partInstall?.oldId !== undefined && data?.partInstall?.oldId !== null">
                <div class="text-secondary small">
                    {{ 'oldId' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.partInstall?.oldId || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.partInstall?.oldIdPart !== undefined && data?.partInstall?.oldIdPart !== null">
                <div class="text-secondary small">
                    {{ 'oldIdPart' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.partInstall?.oldIdPart || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.partInstall?.oldParent !== undefined && data?.partInstall?.oldParent !== null">
                <div class="text-secondary small">
                    {{ 'oldParent' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.partInstall?.oldParent || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.partInstall?.onPris !== undefined && data?.partInstall?.onPris !== null">
                <div class="text-secondary small">
                    {{ 'onPris' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.partInstall?.onPris || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.partInstall?.parent !== undefined && data?.partInstall?.parent !== null">
                <div class="text-secondary small">
                    {{ 'parent' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.partInstall?.parent || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.partInstall?.qtyInstall !== undefined && data?.partInstall?.qtyInstall !== null">
                <div class="text-secondary small">
                    {{ 'qtyInstall' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.partInstall?.qtyInstall | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.partInstall?.refTechLog !== undefined && data?.partInstall?.refTechLog !== null">
                <div class="text-secondary small">
                    {{ 'refTechLog' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.partInstall?.refTechLog || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.partInstall?.statusInstall !== undefined && data?.partInstall?.statusInstall !== null">
                <div class="text-secondary small">
                    {{ 'statusInstall' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag nzColor="green">{{ data?.partInstall.statusInstall }}</nz-tag>

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.partInstall?.topParent !== undefined && data?.partInstall?.topParent !== null">
                <div class="text-secondary small">
                    {{ 'topParent' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.partInstall?.topParent || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.partInstall?.updatedAt !== undefined && data?.partInstall?.updatedAt !== null">
                <div class="text-secondary small">
                    {{ 'updatedAt' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.partInstall?.updatedAt | date: 'yyyy-MM-dd' }}

                </div>
            </div>

        </div>
    </div>
    <div class="col-12 {{ expand_site.hidden ? 'mb-0' : 'mb-4' }} " *ngIf="data?.site">
    <div class="fw-bold border-bottom mb-2">
      {{ 'site' | translate }}
      <button class="btn btn-link btn-sm" (click)="expand_site.hidden = !expand_site.hidden">
        <span *ngIf="expand_site.hidden">Expand</span>
        <span *ngIf="!expand_site.hidden">Collapse</span>
        <span *ngIf="expand_site.hidden" nz-icon nzType="down" nzTheme="outline"></span>
        <span *ngIf="!expand_site.hidden" nz-icon nzType="up" nzTheme="outline"></span>
      </button>
    </div>
    <div class="row" #expand_site hidden>

            <div class="col-md-3" *ngIf="data?.site?.address !== undefined && data?.site?.address !== null">
                <div class="text-secondary small">
                    {{ 'address' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.site?.address || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.site?.city !== undefined && data?.site?.city !== null">
                <div class="text-secondary small">
                    {{ 'city' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.site?.city || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.site?.codeSite !== undefined && data?.site?.codeSite !== null">
                <div class="text-secondary small">
                    {{ 'codeSite' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.site?.codeSite || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.site?.contactname !== undefined && data?.site?.contactname !== null">
                <div class="text-secondary small">
                    {{ 'contactname' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.site?.contactname || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.site?.country !== undefined && data?.site?.country !== null">
                <div class="text-secondary small">
                    {{ 'country' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.site?.country || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.site?.createdAt !== undefined && data?.site?.createdAt !== null">
                <div class="text-secondary small">
                    {{ 'createdAt' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.site?.createdAt | date: 'yyyy-MM-dd' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.site?.emailaddress !== undefined && data?.site?.emailaddress !== null">
                <div class="text-secondary small">
                    {{ 'emailaddress' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.site?.emailaddress || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.site?.fax !== undefined && data?.site?.fax !== null">
                <div class="text-secondary small">
                    {{ 'fax' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.site?.fax || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.site?.isDeleted !== undefined && data?.site?.isDeleted !== null">
                <div class="text-secondary small">
                    {{ 'isDeleted' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag *ngIf="data?.site.isDeleted" nzColor="blue">Ya</nz-tag>
                    <span *ngIf="!data?.site.isDeleted">-</span>

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.site?.isMain !== undefined && data?.site?.isMain !== null">
                <div class="text-secondary small">
                    {{ 'isMain' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag *ngIf="data?.site.isMain" nzColor="blue">Ya</nz-tag>
                    <span *ngIf="!data?.site.isMain">-</span>

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.site?.isStore !== undefined && data?.site?.isStore !== null">
                <div class="text-secondary small">
                    {{ 'isStore' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag *ngIf="data?.site.isStore" nzColor="blue">Ya</nz-tag>
                    <span *ngIf="!data?.site.isStore">-</span>

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.site?.logoSite !== undefined && data?.site?.logoSite !== null">
                <div class="text-secondary small">
                    {{ 'logoSite' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.site?.logoSite || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.site?.mobile !== undefined && data?.site?.mobile !== null">
                <div class="text-secondary small">
                    {{ 'mobile' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.site?.mobile || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.site?.oldId !== undefined && data?.site?.oldId !== null">
                <div class="text-secondary small">
                    {{ 'oldId' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.site?.oldId || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.site?.parentSite !== undefined && data?.site?.parentSite !== null">
                <div class="text-secondary small">
                    {{ 'parentSite' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.site?.parentSite | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.site?.site !== undefined && data?.site?.site !== null">
                <div class="text-secondary small">
                    {{ 'site' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.site?.site || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.site?.statusSite !== undefined && data?.site?.statusSite !== null">
                <div class="text-secondary small">
                    {{ 'statusSite' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag nzColor="green">{{ data?.site.statusSite }}</nz-tag>

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.site?.telephone !== undefined && data?.site?.telephone !== null">
                <div class="text-secondary small">
                    {{ 'telephone' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.site?.telephone || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.site?.typeSite !== undefined && data?.site?.typeSite !== null">
                <div class="text-secondary small">
                    {{ 'typeSite' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.site?.typeSite || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.site?.updatedAt !== undefined && data?.site?.updatedAt !== null">
                <div class="text-secondary small">
                    {{ 'updatedAt' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.site?.updatedAt | date: 'yyyy-MM-dd' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.site?.validation !== undefined && data?.site?.validation !== null">
                <div class="text-secondary small">
                    {{ 'validation' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.site?.validation | number:'1.0-0' }}

                </div>
            </div>

        </div>
    </div>
</div>