<nz-spin [nzSpinning]="is_loading">
    <form [formGroup]="form" (ngSubmit)="submit()" nz-form [nzLayout]="'vertical'">
        
        <nz-form-item>
            <nz-form-label nzFor="atInstall">{{ 'atInstall' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="atInstall" formControlName="atInstall" placeholder="Masukkan {{ 'atInstall' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="ata">{{ 'ata' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="ata" formControlName="ata" placeholder="Masukkan {{ 'ata' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="code">{{ 'code' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="code" formControlName="code" placeholder="Masukkan {{ 'code' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="currentPart">{{ 'currentPart' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="currentPart" formControlName="currentPart" placeholder="Masukkan {{ 'currentPart' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="dueAt">{{ 'dueAt' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="dueAt" formControlName="dueAt" placeholder="Masukkan {{ 'dueAt' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="dueC">{{ 'dueC' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="dueC" formControlName="dueC" placeholder="Masukkan {{ 'dueC' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="dueH">{{ 'dueH' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="dueH" formControlName="dueH" placeholder="Masukkan {{ 'dueH' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="dueT">{{ 'dueT' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="dueT" formControlName="dueT" placeholder="Masukkan {{ 'dueT' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idAircraft">{{ 'idAircraft' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idAircraft" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idAircraft' | translate }}"> 
                    <nz-option *ngFor="let item of listAircraft" nzLabel="{{ item.idAircraft }}" nzValue="{{ item.idAircraft }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idDueList">{{ 'idDueList' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idDueList" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idDueList' | translate }}"> 
                    <nz-option *ngFor="let item of listDueList" nzLabel="{{ item.idDueList }}" nzValue="{{ item.idDueList }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idMpart">{{ 'idMpart' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idMpart" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idMpart' | translate }}"> 
                    <nz-option *ngFor="let item of listMpart" nzLabel="{{ item.idMpart }}" nzValue="{{ item.idMpart }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idPart">{{ 'idPart' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idPart" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idPart' | translate }}"> 
                    <nz-option *ngFor="let item of listPart" nzLabel="{{ item.idPart }}" nzValue="{{ item.idPart }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="installPart">{{ 'installPart' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="installPart" formControlName="installPart" placeholder="Masukkan {{ 'installPart' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="keyword">{{ 'keyword' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="keyword" formControlName="keyword" placeholder="Masukkan {{ 'keyword' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="noteDue">{{ 'noteDue' | translate }}</nz-form-label>
            <nz-form-control>
                <textarea nz-input id="noteDue" formControlName="noteDue" placeholder="Masukkan {{ 'noteDue' | translate }}"></textarea>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="partNumber">{{ 'partNumber' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="partNumber" formControlName="partNumber" placeholder="Masukkan {{ 'partNumber' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="peruntukan">{{ 'peruntukan' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="peruntukan" formControlName="peruntukan" placeholder="Masukkan {{ 'peruntukan' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="ramaining">{{ 'ramaining' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="ramaining" formControlName="ramaining" placeholder="Masukkan {{ 'ramaining' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="sn">{{ 'sn' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="sn" formControlName="sn" placeholder="Masukkan {{ 'sn' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="toDue">{{ 'toDue' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="toDue" formControlName="toDue" placeholder="Masukkan {{ 'toDue' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="typeDue">{{ 'typeDue' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="typeDue" formControlName="typeDue" placeholder="Masukkan {{ 'typeDue' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="typeOfwork">{{ 'typeOfwork' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="typeOfwork" formControlName="typeOfwork" placeholder="Masukkan {{ 'typeOfwork' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="variabel">{{ 'variabel' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="variabel" formControlName="variabel" placeholder="Masukkan {{ 'variabel' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-control>
                <button nz-button nzType="primary" [disabled]="form.invalid">Simpan</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-spin>