<nz-card nzTitle="{{filter.status|titlecase}} ({{ total }})" [nzExtra]="extraTemplate" [nzBodyStyle]="{padding:0}">
    <div class="filter" [hidden]="!filter_extra">
        <form nz-form [nzLayout]="'vertical'" role="form">
            <div nz-row [nzGutter]="8">
                <div nz-col [nzXl]="{ span: 6}" [nzLg]="{ span: 8}" [nzMd]="{ span: 12}" [nzXs]="{ span: 24}">
                    <nz-form-item>
                        <nz-form-label>&nbsp;</nz-form-label>
                        <nz-form-control>
                            <nz-input-group nzSearch [nzAddOnBefore]="addOnBeforeTemplate"
                                [nzAddOnAfter]="suffixIconButton" style="width: 100%;">
                                <input type="text" nz-input placeholder="{{'search'|translate|titlecase}}"
                                    [(ngModel)]="search" name="search" (keyup.enter)="searchData()" />
                            </nz-input-group>
                            <ng-template #suffixIconButton>
                                <button nz-button nzType="default" nzSearch (click)="searchData()"><span nz-icon
                                        nzType="search"></span></button>
                            </ng-template>
                            <ng-template #addOnBeforeTemplate>
                                <span nz-icon nzTheme="twotone" nzType="question-circle" nz-popover
                                    nzPopoverTitle="Pencarian berdasarkan" [nzPopoverContent]="tipsPencarian"
                                    nzPopoverPlacement="top"></span>
                                <ng-template #tipsPencarian>
                                    <div>
                                        <ul>
                                            <li *ngFor="let item of search_field">{{ item | translate }}</li>
                                        </ul>
                                    </div>
                                </ng-template>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'compliteCycle' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.compliteCycleMin" name="compliteCycleMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.compliteCycleMax" name="compliteCycleMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'compliteDate' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-range-picker
                            [(ngModel)]="filter.compliteDateRange"
                            name="compliteDateRange"
                            nzFormat="YYYY-MM-DD"
                            nzPlaceHolder="['Dari', 'Sampai']"
                            style="width: 100%;">
                        </nz-range-picker>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'compliteHours' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.compliteHoursMin" name="compliteHoursMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.compliteHoursMax" name="compliteHoursMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'cycleFrom' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.cycleFromMin" name="cycleFromMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.cycleFromMax" name="cycleFromMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'cycleTo' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.cycleToMin" name="cycleToMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.cycleToMax" name="cycleToMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'dateJo' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-range-picker
                            [(ngModel)]="filter.dateJoRange"
                            name="dateJoRange"
                            nzFormat="YYYY-MM-DD"
                            nzPlaceHolder="['Dari', 'Sampai']"
                            style="width: 100%;">
                        </nz-range-picker>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'hourseFrom' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.hourseFromMin" name="hourseFromMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.hourseFromMax" name="hourseFromMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'hourseTo' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.hourseToMin" name="hourseToMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.hourseToMax" name="hourseToMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'idDueList' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-select [(ngModel)]="filter.idDueList" name="idDueList" nzAllowClear>
                            <nz-option *ngFor="let item of listDueList" [nzValue]="item.idDueList" [nzLabel]="item.namaDueList"></nz-option>
                        </nz-select>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'idMaintenance' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-select [(ngModel)]="filter.idMaintenance" name="idMaintenance" nzAllowClear>
                            <nz-option *ngFor="let item of listMaintenance" [nzValue]="item.idMaintenance" [nzLabel]="item.namaMaintenance"></nz-option>
                        </nz-select>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'idPart' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-select [(ngModel)]="filter.idPart" name="idPart" nzAllowClear>
                            <nz-option *ngFor="let item of listPart" [nzValue]="item.idPart" [nzLabel]="item.namaPart"></nz-option>
                        </nz-select>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'idTechLog' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-select [(ngModel)]="filter.idTechLog" name="idTechLog" nzAllowClear>
                            <nz-option *ngFor="let item of listTechLog" [nzValue]="item.idTechLog" [nzLabel]="item.namaTechLog"></nz-option>
                        </nz-select>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'idTypeOfwork' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-select [(ngModel)]="filter.idTypeOfwork" name="idTypeOfwork" nzAllowClear>
                            <nz-option *ngFor="let item of listTypeOfwork" [nzValue]="item.idTypeOfwork" [nzLabel]="item.namaTypeOfwork"></nz-option>
                        </nz-select>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'idUser' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-select [(ngModel)]="filter.idUser" name="idUser" nzAllowClear>
                            <nz-option *ngFor="let item of listUser" [nzValue]="item.idUser" [nzLabel]="item.namaUser"></nz-option>
                        </nz-select>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'isPriority' | translate }}</nz-form-label>
                    <nz-form-control>
                                                    <label nz-checkbox [(ngModel)]="filter.isPriority" name="isPriority">Yes</label> 
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'onSite' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.onSiteMin" name="onSiteMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.onSiteMax" name="onSiteMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'originalCycle' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.originalCycleMin" name="originalCycleMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.originalCycleMax" name="originalCycleMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'originalDate' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-range-picker
                            [(ngModel)]="filter.originalDateRange"
                            name="originalDateRange"
                            nzFormat="YYYY-MM-DD"
                            nzPlaceHolder="['Dari', 'Sampai']"
                            style="width: 100%;">
                        </nz-range-picker>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'originalHours' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.originalHoursMin" name="originalHoursMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.originalHoursMax" name="originalHoursMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'timeRangeFrom' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.timeRangeFromMin" name="timeRangeFromMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.timeRangeFromMax" name="timeRangeFromMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'timeRangeTo' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.timeRangeToMin" name="timeRangeToMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.timeRangeToMax" name="timeRangeToMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                
 
                <div nz-col nzSpan="24">

                    <nz-form-item>
                        <nz-form-control>
                            <button nz-button nzType="primary" (click)="print()" style="margin-right: 5px;">
                                <span nz-icon nzType="printer"></span>
                                Print
                            </button>
                            <button nz-button nzType="primary" (click)="searchData()" [nzLoading]="loading"
                                style="margin-right: 10px;"><span nz-icon nzType="filter"></span>Filter</button>
                            <button nz-button nzType="default" (click)="resetData()" [nzLoading]="loading"
                                style="margin-right: 10px;"><span nz-icon nzType="reload"></span>Reset</button>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </div>
    <div style="overflow: auto; background-color: white;">
        <nz-table nzShowSizeChanger [nzData]="listOfData" [nzFrontPagination]="false" [nzLoading]="loading"
            [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
            (nzQueryParams)="onQueryParamsChange($event)" nzSize="small">
            <thead>
                <tr>
                    <th   [nzAlign]="'right'">#ID</th>
                    
                    <th [nzSortFn]="true" nzColumnKey="action" *ngIf="isColVisible('action')">
                        {{ 'action' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="compliteCycle" *ngIf="isColVisible('compliteCycle')">
                        {{ 'compliteCycle' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="compliteDate" *ngIf="isColVisible('compliteDate')">
                        {{ 'compliteDate' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="compliteHours" *ngIf="isColVisible('compliteHours')">
                        {{ 'compliteHours' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="createdAt" *ngIf="isColVisible('createdAt')">
                        {{ 'createdAt' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="customIssued" *ngIf="isColVisible('customIssued')">
                        {{ 'customIssued' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="customJob" *ngIf="isColVisible('customJob')">
                        {{ 'customJob' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="customRef" *ngIf="isColVisible('customRef')">
                        {{ 'customRef' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="cycleFrom" *ngIf="isColVisible('cycleFrom')">
                        {{ 'cycleFrom' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="cycleTo" *ngIf="isColVisible('cycleTo')">
                        {{ 'cycleTo' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="dateJo" *ngIf="isColVisible('dateJo')">
                        {{ 'dateJo' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="hourseFrom" *ngIf="isColVisible('hourseFrom')">
                        {{ 'hourseFrom' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="hourseTo" *ngIf="isColVisible('hourseTo')">
                        {{ 'hourseTo' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="isPriority" *ngIf="isColVisible('isPriority')">
                        {{ 'isPriority' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="noteJo" *ngIf="isColVisible('noteJo')">
                        {{ 'noteJo' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="numberJo" *ngIf="isColVisible('numberJo')">
                        {{ 'numberJo' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="onAircraft" *ngIf="isColVisible('onAircraft')">
                        {{ 'onAircraft' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="onSite" *ngIf="isColVisible('onSite')">
                        {{ 'onSite' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="originalCycle" *ngIf="isColVisible('originalCycle')">
                        {{ 'originalCycle' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="originalDate" *ngIf="isColVisible('originalDate')">
                        {{ 'originalDate' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="originalHours" *ngIf="isColVisible('originalHours')">
                        {{ 'originalHours' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="parentAss" *ngIf="isColVisible('parentAss')">
                        {{ 'parentAss' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="reference" *ngIf="isColVisible('reference')">
                        {{ 'reference' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="roflag" *ngIf="isColVisible('roflag')">
                        {{ 'roflag' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="statusJo" *ngIf="isColVisible('statusJo')">
                        {{ 'statusJo' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="timeRangeFrom" *ngIf="isColVisible('timeRangeFrom')">
                        {{ 'timeRangeFrom' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="timeRangeTo" *ngIf="isColVisible('timeRangeTo')">
                        {{ 'timeRangeTo' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="updatedAt" *ngIf="isColVisible('updatedAt')">
                        {{ 'updatedAt' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="workDue" *ngIf="isColVisible('workDue')">
                        {{ 'workDue' | translate }}
                     </th>
                    
                    <th nzWidth="7%" [nzAlign]="'right'">Action</th>
                </tr> 
            </thead>
            <tbody>
                <ng-container *ngFor="let data of listOfData" style="vertical-align: top;">
                    <tr>
                        <td [nzExpand]="expandSet.has(data.idMpcJo)"
                            (nzExpandChange)="onExpandChange(data.idMpcJo, $event)">
                            <nz-badge *ngIf="data.idMpcJo!=null" nzColor="{{ data.idMpcJo?.toLowerCase() | status }}"
                                nzText="{{data.idMpcJo?.toLowerCase() }}"></nz-badge>  
                        </td>
                        
                        
                            <td *ngIf="isColVisible('action')">
                                
                                                        {{ data.action  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('compliteCycle')">
                                
                                                        {{ data.compliteCycle  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('compliteDate')">
                                
                                                        {{ data.compliteDate  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('compliteHours')">
                                
                                                        {{ data.compliteHours  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('createdAt')">
                                
                                        {{ data.createdAt | date: 'short' }}
                                            
                            </td>
                            
                            <td *ngIf="isColVisible('customIssued')">
                                
                                                        {{ data.customIssued  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('customJob')">
                                
                                                        {{ data.customJob  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('customRef')">
                                
                                                        {{ data.customRef  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('cycleFrom')">
                                
                                                        {{ data.cycleFrom  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('cycleTo')">
                                
                                                        {{ data.cycleTo  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('dateJo')">
                                
                                                        {{ data.dateJo  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('hourseFrom')">
                                
                                                        {{ data.hourseFrom  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('hourseTo')">
                                
                                                        {{ data.hourseTo  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('isPriority')">
                                
                                    <nz-tag *ngIf="data.isPriority" nzColor="blue">Ya</nz-tag>
                                    <span *ngIf="!data.isPriority">-</span>
                                    
                            </td>
                            
                            <td *ngIf="isColVisible('noteJo')">
                                
                                                        {{ data.noteJo  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('numberJo')">
                                
                                                        {{ data.numberJo  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('onAircraft')">
                                
                                                        {{ data.onAircraft  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('onSite')">
                                
                                                        {{ data.onSite  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('originalCycle')">
                                
                                                        {{ data.originalCycle  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('originalDate')">
                                
                                                        {{ data.originalDate  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('originalHours')">
                                
                                                        {{ data.originalHours  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('parentAss')">
                                
                                                        {{ data.parentAss  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('reference')">
                                
                                                        {{ data.reference  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('roflag')">
                                
                                                        {{ data.roflag  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('statusJo')">
                                
                                                        {{ data.statusJo  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('timeRangeFrom')">
                                
                                                        {{ data.timeRangeFrom  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('timeRangeTo')">
                                
                                                        {{ data.timeRangeTo  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('updatedAt')">
                                
                                        {{ data.updatedAt | date: 'short' }}
                                            
                            </td>
                            
                            <td *ngIf="isColVisible('workDue')">
                                
                                                        {{ data.workDue  }}
                                                            
                            </td>
                            

                        <td [nzAlign]="'right'">
                            <button nz-button nz-dropdown [nzDropdownMenu]="menu">
                                Actions
                                <span nz-icon nzType="down"></span>
                            </button>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item (click)="detail(data)">
                                        <span nz-icon nzType="pic-center" nzTheme="outline"></span>&nbsp;&nbsp;Detail
                                    </li>
                                    <!--  -->
                                    <li nz-menu-item (click)="update(data)" *ngIf="data.status=='draft'">
                                        <span nz-icon nzType="edit" nzTheme="outline"></span>&nbsp;&nbsp;Update
                                    </li>
                                    <li nz-menu-divider *ngIf="data.status=='draft'"></li>
                                    <li nz-menu-item nz-menu-item nz-popconfirm class="text-danger"
                                        *ngIf="data.status=='draft'"
                                        nzPopconfirmTitle="Apakah Anda yakin akan menghapus data ini?"
                                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data.idMpcJo)"><span
                                            nz-icon nzType="delete" nzTheme="outline"></span>
                                        <a class="m-1 text-danger">&nbsp;&nbsp;Delete</a>
                                    </li>
                                </ul>
                            </nz-dropdown-menu>
                        </td>
                    </tr>
                    <tr [nzExpand]="expandSet.has(data.idMpcJo)">
                        <app-mpc-jo-share-header [data]="data"></app-mpc-jo-share-header> 
                    </tr>
                </ng-container>
                 
            </tbody>
        </nz-table>
    </div>
</nz-card>
<ng-template #extraTemplate>
    <ng-container *ngIf="!filter_extra">
        <nz-input-group nzSearch [nzAddOnBefore]="addOnBeforeTemplate" [nzAddOnAfter]="suffixIconButton"
            style="max-width: 180px;">
            <input type="text" nz-input placeholder="{{'search'|translate|titlecase}}" [(ngModel)]="search"
                name="search" (keyup.enter)="searchData()" />
        </nz-input-group>
        <ng-template #suffixIconButton>
            <button nz-button nzType="default" nzSearch (click)="searchData()"><span nz-icon
                    nzType="search"></span></button>
        </ng-template>
        <ng-template #addOnBeforeTemplate>
            <span nz-icon nzTheme="twotone" nzType="question-circle" nz-popover nzPopoverTitle="Pencarian berdasarkan"
                [nzPopoverContent]="tipsPencarian" nzPopoverPlacement="top"></span>
            <ng-template #tipsPencarian>
                <div>
                    <ul>
                        <li *ngFor="let item of search_field">{{ item | translate }}</li>
                    </ul>
                </div>
            </ng-template>
        </ng-template>
    </ng-container>
    <button nz-button [nzType]="filter_extra ? 'primary' :'default'" style="margin-bottom: 8px;margin-left: 10px;"
        (click)="filter_extra=!filter_extra">
        <span nz-icon nzType="filter" nzTheme="outline"></span> Filter
    </button>
    <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzTy [nzPlacement]="'topRight'"><i nz-icon nzType="appstore"></i></button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item *ngFor="let col of columns">
                <label nz-checkbox [(ngModel)]="col.show" (ngModelChange)="onColumnToggle()">
                    {{ col.key | translate }}
                </label>
            </li>
        </ul>
    </nz-dropdown-menu> 
    <button nz-button nzType="link" (click)="resetColumns()" nz-tooltip nzTooltipTitle="{{ 'Reset Kolom' | translate }}"><i nz-icon nzType="undo"></i></button>

    <button nz-button style="margin-bottom: 8px;margin-left: 10px;" nzType="primary" (click)="add()">
        <span nz-icon nzType="plus" nzTheme="outline"></span> Add New
    </button>
</ng-template>