<nz-card nzTitle="{{filter.status|titlecase}} ({{ total }})" [nzExtra]="extraTemplate" [nzBodyStyle]="{padding:0}">
    <div class="filter" [hidden]="!filter_extra">
        <form nz-form [nzLayout]="'vertical'" role="form">
            <div nz-row [nzGutter]="8">
                <div nz-col [nzXl]="{ span: 6}" [nzLg]="{ span: 8}" [nzMd]="{ span: 12}" [nzXs]="{ span: 24}">
                    <nz-form-item>
                        <nz-form-label>&nbsp;</nz-form-label>
                        <nz-form-control>
                            <nz-input-group nzSearch [nzAddOnBefore]="addOnBeforeTemplate"
                                [nzAddOnAfter]="suffixIconButton" style="width: 100%;">
                                <input type="text" nz-input placeholder="{{'search'|translate|titlecase}}"
                                    [(ngModel)]="search" name="search" (keyup.enter)="searchData()" />
                            </nz-input-group>
                            <ng-template #suffixIconButton>
                                <button nz-button nzType="default" nzSearch (click)="searchData()"><span nz-icon
                                        nzType="search"></span></button>
                            </ng-template>
                            <ng-template #addOnBeforeTemplate>
                                <span nz-icon nzTheme="twotone" nzType="question-circle" nz-popover
                                    nzPopoverTitle="Pencarian berdasarkan" [nzPopoverContent]="tipsPencarian"
                                    nzPopoverPlacement="top"></span>
                                <ng-template #tipsPencarian>
                                    <div>
                                        <ul>
                                            <li *ngFor="let item of search_field">{{ item | translate }}</li>
                                        </ul>
                                    </div>
                                </ng-template>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                        <nz-form-label>{{ 'idAircraft' | translate }}</nz-form-label>
                        <nz-form-control>
                            <nz-select [(ngModel)]="filter.idAircraft" name="idAircraft" nzAllowClear>
                                <nz-option *ngFor="let item of listAircraft" [nzValue]="item.idAircraft"
                                    [nzLabel]="item.namaAircraft"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                        <nz-form-label>{{ 'idUser' | translate }}</nz-form-label>
                        <nz-form-control>
                            <nz-select [(ngModel)]="filter.idUser" name="idUser" nzAllowClear>
                                <nz-option *ngFor="let item of listUser" [nzValue]="item.idUser"
                                    [nzLabel]="item.namaUser"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                        <nz-form-label>{{ 'inspectionDate' | translate }}</nz-form-label>
                        <nz-form-control>
                            <nz-range-picker [(ngModel)]="filter.inspectionDateRange" name="inspectionDateRange"
                                nzFormat="YYYY-MM-DD" nzPlaceHolder="['Dari', 'Sampai']" style="width: 100%;">
                            </nz-range-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                        <nz-form-label>{{ 'isOptional' | translate }}</nz-form-label>
                        <nz-form-control>
                            <label nz-checkbox [(ngModel)]="filter.isOptional" name="isOptional">Yes</label>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                        <nz-form-label>{{ 'lastUpdatedBy' | translate }}</nz-form-label>
                        <nz-form-control>
                            <nz-range-picker [(ngModel)]="filter.lastUpdatedByRange" name="lastUpdatedByRange"
                                nzFormat="YYYY-MM-DD" nzPlaceHolder="['Dari', 'Sampai']" style="width: 100%;">
                            </nz-range-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                        <nz-form-label>{{ 'nextDueDate' | translate }}</nz-form-label>
                        <nz-form-control>
                            <nz-range-picker [(ngModel)]="filter.nextDueDateRange" name="nextDueDateRange"
                                nzFormat="YYYY-MM-DD" nzPlaceHolder="['Dari', 'Sampai']" style="width: 100%;">
                            </nz-range-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                        <nz-form-label>{{ 'nextDueLandings' | translate }}</nz-form-label>
                        <nz-form-control>
                            <div nz-row [nzGutter]="8">
                                <div nz-col nzSpan="12">
                                    <input nz-input type="number" [(ngModel)]="filter.nextDueLandingsMin"
                                        name="nextDueLandingsMin" placeholder="Min" />
                                </div>
                                <div nz-col nzSpan="12">
                                    <input nz-input type="number" [(ngModel)]="filter.nextDueLandingsMax"
                                        name="nextDueLandingsMax" placeholder="Max" />
                                </div>
                            </div>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                        <nz-form-label>{{ 'reportedDate' | translate }}</nz-form-label>
                        <nz-form-control>
                            <nz-range-picker [(ngModel)]="filter.reportedDateRange" name="reportedDateRange"
                                nzFormat="YYYY-MM-DD" nzPlaceHolder="['Dari', 'Sampai']" style="width: 100%;">
                            </nz-range-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                        <nz-form-label>{{ 'reportedLandings' | translate }}</nz-form-label>
                        <nz-form-control>
                            <div nz-row [nzGutter]="8">
                                <div nz-col nzSpan="12">
                                    <input nz-input type="number" [(ngModel)]="filter.reportedLandingsMin"
                                        name="reportedLandingsMin" placeholder="Min" />
                                </div>
                                <div nz-col nzSpan="12">
                                    <input nz-input type="number" [(ngModel)]="filter.reportedLandingsMax"
                                        name="reportedLandingsMax" placeholder="Max" />
                                </div>
                            </div>
                        </nz-form-control>
                    </nz-form-item>
                </div>


                <div nz-col nzSpan="24">

                    <nz-form-item>
                        <nz-form-control>
                            <button nz-button nzType="primary" (click)="print()" style="margin-right: 5px;">
                                <span nz-icon nzType="printer"></span>
                                Print
                            </button>
                            <button nz-button nzType="primary" (click)="searchData()" [nzLoading]="loading"
                                style="margin-right: 10px;"><span nz-icon nzType="filter"></span>Filter</button>
                            <button nz-button nzType="default" (click)="resetData()" [nzLoading]="loading"
                                style="margin-right: 10px;"><span nz-icon nzType="reload"></span>Reset</button>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </div>
    <div style="overflow: auto; background-color: white;">
        <nz-table nzShowSizeChanger [nzData]="listOfData" [nzFrontPagination]="false" [nzLoading]="loading"
            [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
            (nzQueryParams)="onQueryParamsChange($event)" nzSize="small">
            <thead>
                <tr>
                    <th [nzSortFn]="true" style="width: 100px">
                        {{ 'Aircraft' | translate }}
                    </th>
                    <th [nzSortFn]="true">
                        {{ 'ATA/Code Types' | translate }}
                    </th>
                    <th [nzSortFn]="true">
                        {{ 'Description' | translate }}
                    </th>
                    <th [nzSortFn]="true">
                        {{ 'Reported' | translate }}
                    </th>
                    <th [nzSortFn]="true">
                        {{ 'Resolved.' | translate }}
                    </th>
                    <th [nzSortFn]="true">
                        {{ 'Next Due' | translate }}
                    </th>
                    <th [nzSortFn]="true">
                        {{ 'remaining' | translate }}
                    </th>

                    <th nzWidth="7%" [nzAlign]="'right'">Action</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let data of listOfData" style="vertical-align: top;">
                    <tr>

                        <td [nzExpand]="expandSet.has(data.idDueListOutput)"
                            (nzExpandChange)="onExpandChange(data.idUnscheduleMaintenance, $event)">

                            {{ data.aircraft?.registrationNumber }}
                            {{ data.aircraft?.serialNumber==data.airframeSn ? 'Airframe' : 'Engine' }}

                        </td>
                        <td>

                            {{ data.airframeSn }}<br>
                            {{ data.ataCode }}<br>
                            schedule

                        </td>

                        <td>

                            {{ data.part?.mpart?.keyword }} <br>
                            {{ data.description ? data.description : data.preliminaryNote }} <br>
                            <div class="row">
                                <div class="col-6">
                                    <label class="text-secondary">Part Number:</label><br>
                                    {{ data.part?.mpart?.partNumber }}
                                </div>
                                <div class="col-6">
                                    <label class="text-secondary">Serial Number:</label><br>
                                    {{ data.airframeSn }}
                                </div>
                            </div>
                        </td>


                        <td>
                            <ng-container *ngIf="data.reportedDate != null">
                                <p>{{ data.reportedDate | date:'YYYY-MM-dd'}}</p>
                            </ng-container>
                            <ng-container *ngIf="data.reportedHours != null">
                                <p>H:{{ data.reportedHours | number }}</p>
                            </ng-container>
                            <ng-container *ngIf="data.reportedLandings != null">
                                <p>C:{{ data.reportedLandings | number}}</p>
                            </ng-container>
                        </td>
                        <td>
                            <ng-container *ngIf="data.resolvedDate != null">
                                <p>{{ data.resolvedDate | date:'YYYY-MM-dd'}}</p>
                            </ng-container>
                            <ng-container *ngIf="data.resolvedHours != null">
                                <p>H:{{ data.resolvedHours | number }}</p>
                            </ng-container>
                            <ng-container *ngIf="data.resolvedLandings != null">
                                <p>C:{{ data.resolvedLandings | number}}</p>
                            </ng-container>
                        </td>
                        <td>
                            <ng-container *ngIf="data.nextDueDate != null">
                                <p>{{ data.nextDueDate | date:'YYYY-MM-dd' }} {{ data.nextDueDateParam }}</p>
                            </ng-container>
                            <ng-container *ngIf="data.nextDueHours != null">
                                <p>H:{{ data.nextDueHours | number }}</p>
                            </ng-container>
                            <ng-container *ngIf="data.nextDueLandings != null">
                                <p>C:{{ data.nextDueLandings | number}}</p>
                            </ng-container>
                        </td>

                        <td>

                        </td>


                        <td [nzAlign]="'right'">
                            <button nz-button nz-dropdown [nzDropdownMenu]="menu">
                                Actions
                                <span nz-icon nzType="down"></span>
                            </button>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item (click)="detail(data)">
                                        <span nz-icon nzType="pic-center" nzTheme="outline"></span>&nbsp;&nbsp;Detail
                                    </li>
                                    <!--  -->
                                    <li nz-menu-item (click)="update(data)" *ngIf="data.status=='draft'">
                                        <span nz-icon nzType="edit" nzTheme="outline"></span>&nbsp;&nbsp;Update
                                    </li>
                                    <li nz-menu-divider *ngIf="data.status=='draft'"></li>
                                    <li nz-menu-item nz-menu-item nz-popconfirm class="text-danger"
                                        *ngIf="data.status=='draft'"
                                        nzPopconfirmTitle="Apakah Anda yakin akan menghapus data ini?"
                                        nzPopconfirmPlacement="bottom"
                                        (nzOnConfirm)="delete(data.idUnscheduleMaintenance)"><span nz-icon
                                            nzType="delete" nzTheme="outline"></span>
                                        <a class="m-1 text-danger">&nbsp;&nbsp;Delete</a>
                                    </li>
                                </ul>
                            </nz-dropdown-menu>
                        </td>
                    </tr>
                    <tr [nzExpand]="expandSet.has(data.idUnscheduleMaintenance)">
                        <app-unschedule-maintenance-share-header
                            [data]="data"></app-unschedule-maintenance-share-header>
                    </tr>
                </ng-container>

            </tbody>
        </nz-table>
    </div>
</nz-card>
<ng-template #extraTemplate>
    <ng-container *ngIf="!filter_extra">
        <nz-input-group nzSearch [nzAddOnBefore]="addOnBeforeTemplate" [nzAddOnAfter]="suffixIconButton"
            style="max-width: 180px;">
            <input type="text" nz-input placeholder="{{'search'|translate|titlecase}}" [(ngModel)]="search"
                name="search" (keyup.enter)="searchData()" />
        </nz-input-group>
        <ng-template #suffixIconButton>
            <button nz-button nzType="default" nzSearch (click)="searchData()"><span nz-icon
                    nzType="search"></span></button>
        </ng-template>
        <ng-template #addOnBeforeTemplate>
            <span nz-icon nzTheme="twotone" nzType="question-circle" nz-popover nzPopoverTitle="Pencarian berdasarkan"
                [nzPopoverContent]="tipsPencarian" nzPopoverPlacement="top"></span>
            <ng-template #tipsPencarian>
                <div>
                    <ul>
                        <li *ngFor="let item of search_field">{{ item | translate }}</li>
                    </ul>
                </div>
            </ng-template>
        </ng-template>
    </ng-container>
    <button nz-button [nzType]="filter_extra ? 'primary' :'default'" style="margin-bottom: 8px;margin-left: 10px;"
        (click)="filter_extra=!filter_extra">
        <span nz-icon nzType="filter" nzTheme="outline"></span> Filter
    </button>
    <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzTy [nzPlacement]="'topRight'"><i nz-icon
            nzType="appstore"></i></button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item *ngFor="let col of columns">
                <label nz-checkbox [(ngModel)]="col.show" (ngModelChange)="onColumnToggle()">
                    {{ col.key | translate }}
                </label>
            </li>
        </ul>
    </nz-dropdown-menu>
    <button nz-button nzType="link" (click)="resetColumns()" nz-tooltip
        nzTooltipTitle="{{ 'Reset Kolom' | translate }}"><i nz-icon nzType="undo"></i></button>

    <button nz-button style="margin-bottom: 8px;margin-left: 10px;" nzType="primary" (click)="add()">
        <span nz-icon nzType="plus" nzTheme="outline"></span> Add New
    </button>
</ng-template>