<nz-card nzTitle="{{filter.status|titlecase}} ({{ total }})" [nzExtra]="extraTemplate" [nzBodyStyle]="{padding:0}">
    <div class="filter" [hidden]="!filter_extra">
        <form nz-form [nzLayout]="'vertical'" role="form">
            <div nz-row [nzGutter]="8">
                <div nz-col [nzXl]="{ span: 6}" [nzLg]="{ span: 8}" [nzMd]="{ span: 12}" [nzXs]="{ span: 24}">
                    <nz-form-item>
                        <nz-form-label>&nbsp;</nz-form-label>
                        <nz-form-control>
                            <nz-input-group nzSearch [nzAddOnBefore]="addOnBeforeTemplate"
                                [nzAddOnAfter]="suffixIconButton" style="width: 100%;">
                                <input type="text" nz-input placeholder="{{'search'|translate|titlecase}}"
                                    [(ngModel)]="search" name="search" (keyup.enter)="searchData()" />
                            </nz-input-group>
                            <ng-template #suffixIconButton>
                                <button nz-button nzType="default" nzSearch (click)="searchData()"><span nz-icon
                                        nzType="search"></span></button>
                            </ng-template>
                            <ng-template #addOnBeforeTemplate>
                                <span nz-icon nzTheme="twotone" nzType="question-circle" nz-popover
                                    nzPopoverTitle="Pencarian berdasarkan" [nzPopoverContent]="tipsPencarian"
                                    nzPopoverPlacement="top"></span>
                                <ng-template #tipsPencarian>
                                    <div>
                                        <ul>
                                            <li *ngFor="let item of search_field">{{ item | translate }}</li>
                                        </ul>
                                    </div>
                                </ng-template>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'durasiBulan' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.durasiBulanMin" name="durasiBulanMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.durasiBulanMax" name="durasiBulanMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'feeSales' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.feeSalesMin" name="feeSalesMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.feeSalesMax" name="feeSalesMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'idClient' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-select [(ngModel)]="filter.idClient" name="idClient" nzAllowClear>
                            <nz-option *ngFor="let item of listClient" [nzValue]="item.idClient" [nzLabel]="item.namaClient"></nz-option>
                        </nz-select>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'idContractJenis' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-select [(ngModel)]="filter.idContractJenis" name="idContractJenis" nzAllowClear>
                            <nz-option *ngFor="let item of listContractJenis" [nzValue]="item.idContractJenis" [nzLabel]="item.namaContractJenis"></nz-option>
                        </nz-select>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'idKantor' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-select [(ngModel)]="filter.idKantor" name="idKantor" nzAllowClear>
                            <nz-option *ngFor="let item of listKantor" [nzValue]="item.idKantor" [nzLabel]="item.namaKantor"></nz-option>
                        </nz-select>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'isAutoInvoice' | translate }}</nz-form-label>
                    <nz-form-control>
                                                    <label nz-checkbox [(ngModel)]="filter.isAutoInvoice" name="isAutoInvoice">Yes</label> 
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'nilaiAkhir' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.nilaiAkhirMin" name="nilaiAkhirMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.nilaiAkhirMax" name="nilaiAkhirMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'nilaiBulanan' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.nilaiBulananMin" name="nilaiBulananMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.nilaiBulananMax" name="nilaiBulananMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'nilaiDiawal' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.nilaiDiawalMin" name="nilaiDiawalMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.nilaiDiawalMax" name="nilaiDiawalMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'nilaiKontrak' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.nilaiKontrakMin" name="nilaiKontrakMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.nilaiKontrakMax" name="nilaiKontrakMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'presentaseFee' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.presentaseFeeMin" name="presentaseFeeMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.presentaseFeeMax" name="presentaseFeeMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'tanggalAkhir' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-range-picker
                            [(ngModel)]="filter.tanggalAkhirRange"
                            name="tanggalAkhirRange"
                            nzFormat="YYYY-MM-DD"
                            nzPlaceHolder="['Dari', 'Sampai']"
                            style="width: 100%;">
                        </nz-range-picker>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'tanggalKontrak' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-range-picker
                            [(ngModel)]="filter.tanggalKontrakRange"
                            name="tanggalKontrakRange"
                            nzFormat="YYYY-MM-DD"
                            nzPlaceHolder="['Dari', 'Sampai']"
                            style="width: 100%;">
                        </nz-range-picker>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'tanggalMulai' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-range-picker
                            [(ngModel)]="filter.tanggalMulaiRange"
                            name="tanggalMulaiRange"
                            nzFormat="YYYY-MM-DD"
                            nzPlaceHolder="['Dari', 'Sampai']"
                            style="width: 100%;">
                        </nz-range-picker>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                
 
                <div nz-col nzSpan="24">

                    <nz-form-item>
                        <nz-form-control>
                            <button nz-button nzType="primary" (click)="print()" style="margin-right: 5px;">
                                <span nz-icon nzType="printer"></span>
                                Print
                            </button>
                            <button nz-button nzType="primary" (click)="searchData()" [nzLoading]="loading"
                                style="margin-right: 10px;"><span nz-icon nzType="filter"></span>Filter</button>
                            <button nz-button nzType="default" (click)="resetData()" [nzLoading]="loading"
                                style="margin-right: 10px;"><span nz-icon nzType="reload"></span>Reset</button>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </div>
    <div style="overflow: auto; background-color: white;">
        <nz-table nzShowSizeChanger [nzData]="listOfData" [nzFrontPagination]="false" [nzLoading]="loading"
            [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
            (nzQueryParams)="onQueryParamsChange($event)" nzSize="small">
            <thead>
                <tr>
                    <th   [nzAlign]="'right'">#ID</th>
                    
                    <th [nzSortFn]="true" nzColumnKey="catatanKontrak">
                        {{ 'catatanKontrak' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="createdAt">
                        {{ 'createdAt' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="dokumenUrl">
                        {{ 'dokumenUrl' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="durasiBulan">
                        {{ 'durasiBulan' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="feeSales">
                        {{ 'feeSales' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="isAutoInvoice">
                        {{ 'isAutoInvoice' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="namaSales">
                        {{ 'namaSales' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="nilaiAkhir">
                        {{ 'nilaiAkhir' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="nilaiBulanan">
                        {{ 'nilaiBulanan' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="nilaiDiawal">
                        {{ 'nilaiDiawal' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="nilaiKontrak">
                        {{ 'nilaiKontrak' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="nomorKontrak">
                        {{ 'nomorKontrak' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="presentaseFee">
                        {{ 'presentaseFee' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="refKontrakSebelumnya">
                        {{ 'refKontrakSebelumnya' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="statusContract">
                        {{ 'statusContract' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="tanggalAkhir">
                        {{ 'tanggalAkhir' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="tanggalKontrak">
                        {{ 'tanggalKontrak' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="tanggalMulai">
                        {{ 'tanggalMulai' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="updatedAt">
                        {{ 'updatedAt' | translate }}
                     </th>
                    
                    <th nzWidth="7%" [nzAlign]="'right'">Action</th>
                </tr> 
            </thead>
            <tbody>
                <ng-container *ngFor="let data of listOfData" style="vertical-align: top;">
                    <tr>
                        <td [nzExpand]="expandSet.has(data.idContract)"
                            (nzExpandChange)="onExpandChange(data.idContract, $event)">
                            <nz-badge *ngIf="data.idContract!=null" nzColor="{{ data.idContract?.toLowerCase() | status }}"
                                nzText="{{data.idContract?.toLowerCase() }}"></nz-badge> {{ data.idContract }}
                        </td>
                        
                        
                            <td>
                                
                                                        {{ data.catatanKontrak || '-' }}
                                                            
                            </td>
                            
                            <td>
                                
                                        {{ data.createdAt | date: 'short' }}
                                            
                            </td>
                            
                            <td>
                                
                                                        {{ data.dokumenUrl || '-' }}
                                                            
                            </td>
                            
                            <td>
                                
                                                        {{ data.durasiBulan || '-' }}
                                                            
                            </td>
                            
                            <td>
                                
                                                        {{ data.feeSales || '-' }}
                                                            
                            </td>
                            
                            <td>
                                
                                    <nz-tag *ngIf="data.isAutoInvoice" nzColor="blue">Ya</nz-tag>
                                    <span *ngIf="!data.isAutoInvoice">-</span>
                                    
                            </td>
                            
                            <td>
                                
                                                        {{ data.namaSales || '-' }}
                                                            
                            </td>
                            
                            <td>
                                
                                                        {{ data.nilaiAkhir || '-' }}
                                                            
                            </td>
                            
                            <td>
                                
                                                        {{ data.nilaiBulanan || '-' }}
                                                            
                            </td>
                            
                            <td>
                                
                                                        {{ data.nilaiDiawal || '-' }}
                                                            
                            </td>
                            
                            <td>
                                
                                                        {{ data.nilaiKontrak || '-' }}
                                                            
                            </td>
                            
                            <td>
                                
                                                        {{ data.nomorKontrak || '-' }}
                                                            
                            </td>
                            
                            <td>
                                
                                                        {{ data.presentaseFee || '-' }}
                                                            
                            </td>
                            
                            <td>
                                
                                                        {{ data.refKontrakSebelumnya || '-' }}
                                                            
                            </td>
                            
                            <td>
                                
                                                        {{ data.statusContract || '-' }}
                                                            
                            </td>
                            
                            <td>
                                
                                        {{ data.tanggalAkhir | date: 'short' }}
                                            
                            </td>
                            
                            <td>
                                
                                        {{ data.tanggalKontrak | date: 'short' }}
                                            
                            </td>
                            
                            <td>
                                
                                        {{ data.tanggalMulai | date: 'short' }}
                                            
                            </td>
                            
                            <td>
                                
                                        {{ data.updatedAt | date: 'short' }}
                                            
                            </td>
                            
                            <td>
                                
                                                        {{ data.client || '-' }}
                                                            
                            </td>
                            
                            <td>
                                
                                                        {{ data.contractJenis || '-' }}
                                                            
                            </td>
                            
                            <td>
                                
                                                        {{ data.kantor || '-' }}
                                                            
                            </td>
                            

                        <td [nzAlign]="'right'">
                            <button nz-button nz-dropdown [nzDropdownMenu]="menu">
                                Actions
                                <span nz-icon nzType="down"></span>
                            </button>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item (click)="detail(data)">
                                        <span nz-icon nzType="pic-center" nzTheme="outline"></span>&nbsp;&nbsp;Detail
                                    </li>
                                    <!--  -->
                                    <li nz-menu-item (click)="update(data)" *ngIf="data.status=='draft'">
                                        <span nz-icon nzType="edit" nzTheme="outline"></span>&nbsp;&nbsp;Update
                                    </li>
                                    <li nz-menu-divider *ngIf="data.status=='draft'"></li>
                                    <li nz-menu-item nz-menu-item nz-popconfirm class="text-danger"
                                        *ngIf="data.status=='draft'"
                                        nzPopconfirmTitle="Apakah Anda yakin akan menghapus data ini?"
                                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data.idContract)"><span
                                            nz-icon nzType="delete" nzTheme="outline"></span>
                                        <a class="m-1 text-danger">&nbsp;&nbsp;Delete</a>
                                    </li>
                                </ul>
                            </nz-dropdown-menu>
                        </td>
                    </tr>
                    <tr [nzExpand]="expandSet.has(data.idContract)">
                        <app-contract-share-header [data]="data"></app-contract-share-header> 
                    </tr>
                </ng-container>
                 
            </tbody>
        </nz-table>
    </div>
</nz-card>
<ng-template #extraTemplate>
    <ng-container *ngIf="!filter_extra">
        <nz-input-group nzSearch [nzAddOnBefore]="addOnBeforeTemplate" [nzAddOnAfter]="suffixIconButton"
            style="max-width: 180px;">
            <input type="text" nz-input placeholder="{{'search'|translate|titlecase}}" [(ngModel)]="search"
                name="search" (keyup.enter)="searchData()" />
        </nz-input-group>
        <ng-template #suffixIconButton>
            <button nz-button nzType="default" nzSearch (click)="searchData()"><span nz-icon
                    nzType="search"></span></button>
        </ng-template>
        <ng-template #addOnBeforeTemplate>
            <span nz-icon nzTheme="twotone" nzType="question-circle" nz-popover nzPopoverTitle="Pencarian berdasarkan"
                [nzPopoverContent]="tipsPencarian" nzPopoverPlacement="top"></span>
            <ng-template #tipsPencarian>
                <div>
                    <ul>
                        <li *ngFor="let item of search_field">{{ item | translate }}</li>
                    </ul>
                </div>
            </ng-template>
        </ng-template>
    </ng-container>
    <button nz-button [nzType]="filter_extra ? 'primary' :'default'" style="margin-bottom: 8px;margin-left: 10px;"
        (click)="filter_extra=!filter_extra">
        <span nz-icon nzType="filter" nzTheme="outline"></span> Filter
    </button>
    <button nz-button style="margin-bottom: 8px;" (click)="filter_extra=!filter_extra">
        <span nz-icon nzType="setting" nzTheme="outline"></span>
    </button>
    <button nz-button style="margin-bottom: 8px;margin-left: 10px;" nzType="primary" (click)="add()">
        <span nz-icon nzType="plus" nzTheme="outline"></span> Add New
    </button>
</ng-template>