



<!-- ✅ Start rendering -->
<div class="row">
  
    
  
    
  <div class="col-md-3" *ngIf="data?.codeDispotition !== undefined && data?.codeDispotition !== null">
    <div class="text-secondary small">
      {{ 'codeDispotition' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.codeDispotition || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.color !== undefined && data?.color !== null">
    <div class="text-secondary small">
      {{ 'color' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.color || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.dispotition !== undefined && data?.dispotition !== null">
    <div class="text-secondary small">
      {{ 'dispotition' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.dispotition || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idQaRpdDispotition !== undefined && data?.idQaRpdDispotition !== null">
    <div class="text-secondary small">
      {{ 'idQaRpdDispotition' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.idQaRpdDispotition || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.printTag !== undefined && data?.printTag !== null">
    <div class="text-secondary small">
      {{ 'printTag' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.printTag || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.toPosition !== undefined && data?.toPosition !== null">
    <div class="text-secondary small">
      {{ 'toPosition' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.toPosition || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    <div class="col-12 mt-4" *ngIf="data?.qaRpdDispotition">
      <div class="fw-bold border-bottom mb-2">
        {{ 'qaRpdDispotition' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.qaRpdDispotition?.codeDispotition !== undefined && data.qaRpdDispotition?.codeDispotition !== null">
    <div class="text-secondary small">
      {{ 'codeDispotition' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.qaRpdDispotition.codeDispotition || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.qaRpdDispotition?.color !== undefined && data.qaRpdDispotition?.color !== null">
    <div class="text-secondary small">
      {{ 'color' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.qaRpdDispotition.color || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.qaRpdDispotition?.dispotition !== undefined && data.qaRpdDispotition?.dispotition !== null">
    <div class="text-secondary small">
      {{ 'dispotition' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.qaRpdDispotition.dispotition || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.qaRpdDispotition?.idQaRpdDispotition !== undefined && data.qaRpdDispotition?.idQaRpdDispotition !== null">
    <div class="text-secondary small">
      {{ 'idQaRpdDispotition' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.qaRpdDispotition.idQaRpdDispotition || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.qaRpdDispotition?.printTag !== undefined && data.qaRpdDispotition?.printTag !== null">
    <div class="text-secondary small">
      {{ 'printTag' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.qaRpdDispotition.printTag || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.qaRpdDispotition?.toPosition !== undefined && data.qaRpdDispotition?.toPosition !== null">
    <div class="text-secondary small">
      {{ 'toPosition' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.qaRpdDispotition.toPosition || '-' }}
      
    </div>
  </div>

  

        
      </div>
    </div>
  
 <br> 
  
</div>
