<nz-spin [nzSpinning]="is_loading">
    <form [formGroup]="form" (ngSubmit)="submit()" nz-form [nzLayout]="'vertical'">
        
        <nz-form-item>
            <nz-form-label nzFor="bin">{{ 'bin' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="bin" formControlName="bin" placeholder="Masukkan {{ 'bin' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="certificationNo">{{ 'certificationNo' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="certificationNo" formControlName="certificationNo" placeholder="Masukkan {{ 'certificationNo' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="dateOrder">{{ 'dateOrder' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-date-picker formControlName="dateOrder" style="width: 100%" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="endOfLife">{{ 'endOfLife' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="endOfLife" formControlName="endOfLife" placeholder="Masukkan {{ 'endOfLife' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="firstInstallC">{{ 'firstInstallC' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="firstInstallC" formControlName="firstInstallC" placeholder="Masukkan {{ 'firstInstallC' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="firstInstallDate">{{ 'firstInstallDate' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-date-picker formControlName="firstInstallDate" style="width: 100%" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="firstInstallH">{{ 'firstInstallH' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="firstInstallH" formControlName="firstInstallH" placeholder="Masukkan {{ 'firstInstallH' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="groupStatus">{{ 'groupStatus' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="groupStatus" formControlName="groupStatus" placeholder="Masukkan {{ 'groupStatus' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idConditionMonitoring">{{ 'idConditionMonitoring' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idConditionMonitoring" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idConditionMonitoring' | translate }}"> 
                    <nz-option *ngFor="let item of listConditionMonitoring" nzLabel="{{ item.idConditionMonitoring }}" nzValue="{{ item.idConditionMonitoring }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idCurrency">{{ 'idCurrency' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idCurrency" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idCurrency' | translate }}"> 
                    <nz-option *ngFor="let item of listCurrency" nzLabel="{{ item.idCurrency }}" nzValue="{{ item.idCurrency }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idLifeTimeLimit">{{ 'idLifeTimeLimit' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idLifeTimeLimit" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idLifeTimeLimit' | translate }}"> 
                    <nz-option *ngFor="let item of listLifeTimeLimit" nzLabel="{{ item.idLifeTimeLimit }}" nzValue="{{ item.idLifeTimeLimit }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idMpart">{{ 'idMpart' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idMpart" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idMpart' | translate }}"> 
                    <nz-option *ngFor="let item of listMpart" nzLabel="{{ item.idMpart }}" nzValue="{{ item.idMpart }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idPartCondition">{{ 'idPartCondition' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idPartCondition" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idPartCondition' | translate }}"> 
                    <nz-option *ngFor="let item of listPartCondition" nzLabel="{{ item.idPartCondition }}" nzValue="{{ item.idPartCondition }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idPurGrn">{{ 'idPurGrn' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idPurGrn" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idPurGrn' | translate }}"> 
                    <nz-option *ngFor="let item of listPurGrn" nzLabel="{{ item.idPurGrn }}" nzValue="{{ item.idPurGrn }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idPurPoItem">{{ 'idPurPoItem' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idPurPoItem" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idPurPoItem' | translate }}"> 
                    <nz-option *ngFor="let item of listPurPoItem" nzLabel="{{ item.idPurPoItem }}" nzValue="{{ item.idPurPoItem }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idPurPrcl">{{ 'idPurPrcl' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idPurPrcl" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idPurPrcl' | translate }}"> 
                    <nz-option *ngFor="let item of listPurPrcl" nzLabel="{{ item.idPurPrcl }}" nzValue="{{ item.idPurPrcl }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idPurVendor">{{ 'idPurVendor' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idPurVendor" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idPurVendor' | translate }}"> 
                    <nz-option *ngFor="let item of listPurVendor" nzLabel="{{ item.idPurVendor }}" nzValue="{{ item.idPurVendor }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idSite">{{ 'idSite' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idSite" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idSite' | translate }}"> 
                    <nz-option *ngFor="let item of listSite" nzLabel="{{ item.idSite }}" nzValue="{{ item.idSite }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idTypeOfwork">{{ 'idTypeOfwork' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idTypeOfwork" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idTypeOfwork' | translate }}"> 
                    <nz-option *ngFor="let item of listTypeOfwork" nzLabel="{{ item.idTypeOfwork }}" nzValue="{{ item.idTypeOfwork }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idUser">{{ 'idUser' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idUser" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idUser' | translate }}"> 
                    <nz-option *ngFor="let item of listUser" nzLabel="{{ item.idUser }}" nzValue="{{ item.idUser }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idWarranty">{{ 'idWarranty' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idWarranty" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idWarranty' | translate }}"> 
                    <nz-option *ngFor="let item of listWarranty" nzLabel="{{ item.idWarranty }}" nzValue="{{ item.idWarranty }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-control>
                <label nz-checkbox formControlName="isDeleted">{{ 'isDeleted' | translate }}</label>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="lifeLimitCycle">{{ 'lifeLimitCycle' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="lifeLimitCycle" formControlName="lifeLimitCycle" placeholder="Masukkan {{ 'lifeLimitCycle' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="lifeLimitHours">{{ 'lifeLimitHours' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="lifeLimitHours" formControlName="lifeLimitHours" placeholder="Masukkan {{ 'lifeLimitHours' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="lifeLimitVal">{{ 'lifeLimitVal' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="lifeLimitVal" formControlName="lifeLimitVal" placeholder="Masukkan {{ 'lifeLimitVal' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="lifeLimitVar">{{ 'lifeLimitVar' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="lifeLimitVar" formControlName="lifeLimitVar" placeholder="Masukkan {{ 'lifeLimitVar' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="manufacture">{{ 'manufacture' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="manufacture" formControlName="manufacture" placeholder="Masukkan {{ 'manufacture' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="manufactureDate">{{ 'manufactureDate' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-date-picker formControlName="manufactureDate" style="width: 100%" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="newFirstInstallH">{{ 'newFirstInstallH' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="newFirstInstallH" formControlName="newFirstInstallH" placeholder="Masukkan {{ 'newFirstInstallH' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="oldId">{{ 'oldId' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="oldId" formControlName="oldId" placeholder="Masukkan {{ 'oldId' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="oldParent">{{ 'oldParent' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="oldParent" formControlName="oldParent" placeholder="Masukkan {{ 'oldParent' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="partParent">{{ 'partParent' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="partParent" formControlName="partParent" placeholder="Masukkan {{ 'partParent' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="position">{{ 'position' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="position" formControlName="position" placeholder="Masukkan {{ 'position' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="price">{{ 'price' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="price" formControlName="price" placeholder="Masukkan {{ 'price' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="purchaseDate">{{ 'purchaseDate' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-date-picker formControlName="purchaseDate" style="width: 100%" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="qty">{{ 'qty' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="qty" formControlName="qty" placeholder="Masukkan {{ 'qty' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="sn">{{ 'sn' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="sn" formControlName="sn" placeholder="Masukkan {{ 'sn' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="startInstallC">{{ 'startInstallC' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="startInstallC" formControlName="startInstallC" placeholder="Masukkan {{ 'startInstallC' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="startInstallDate">{{ 'startInstallDate' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-date-picker formControlName="startInstallDate" style="width: 100%" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="startInstallH">{{ 'startInstallH' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="startInstallH" formControlName="startInstallH" placeholder="Masukkan {{ 'startInstallH' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="statusOnInventory">{{ 'statusOnInventory' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="statusOnInventory" formControlName="statusOnInventory" placeholder="Masukkan {{ 'statusOnInventory' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tbiCycle">{{ 'tbiCycle' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="tbiCycle" formControlName="tbiCycle" placeholder="Masukkan {{ 'tbiCycle' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tbiHours">{{ 'tbiHours' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="tbiHours" formControlName="tbiHours" placeholder="Masukkan {{ 'tbiHours' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tbiVal">{{ 'tbiVal' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="tbiVal" formControlName="tbiVal" placeholder="Masukkan {{ 'tbiVal' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tbiVar">{{ 'tbiVar' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="tbiVar" formControlName="tbiVar" placeholder="Masukkan {{ 'tbiVar' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tboCycle">{{ 'tboCycle' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="tboCycle" formControlName="tboCycle" placeholder="Masukkan {{ 'tboCycle' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tboHours">{{ 'tboHours' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="tboHours" formControlName="tboHours" placeholder="Masukkan {{ 'tboHours' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tboVal">{{ 'tboVal' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="tboVal" formControlName="tboVal" placeholder="Masukkan {{ 'tboVal' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tboVar">{{ 'tboVar' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="tboVar" formControlName="tboVar" placeholder="Masukkan {{ 'tboVar' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tempUse">{{ 'tempUse' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="tempUse" formControlName="tempUse" placeholder="Masukkan {{ 'tempUse' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tsiCycle">{{ 'tsiCycle' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="tsiCycle" formControlName="tsiCycle" placeholder="Masukkan {{ 'tsiCycle' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tsiHours">{{ 'tsiHours' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="tsiHours" formControlName="tsiHours" placeholder="Masukkan {{ 'tsiHours' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tsiVal">{{ 'tsiVal' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="tsiVal" formControlName="tsiVal" placeholder="Masukkan {{ 'tsiVal' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tsiVar">{{ 'tsiVar' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="tsiVar" formControlName="tsiVar" placeholder="Masukkan {{ 'tsiVar' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tsnCycle">{{ 'tsnCycle' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="tsnCycle" formControlName="tsnCycle" placeholder="Masukkan {{ 'tsnCycle' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tsnHours">{{ 'tsnHours' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="tsnHours" formControlName="tsnHours" placeholder="Masukkan {{ 'tsnHours' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tsnVal">{{ 'tsnVal' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="tsnVal" formControlName="tsnVal" placeholder="Masukkan {{ 'tsnVal' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tsnVar">{{ 'tsnVar' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="tsnVar" formControlName="tsnVar" placeholder="Masukkan {{ 'tsnVar' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tsoCycle">{{ 'tsoCycle' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="tsoCycle" formControlName="tsoCycle" placeholder="Masukkan {{ 'tsoCycle' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tsoHours">{{ 'tsoHours' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="tsoHours" formControlName="tsoHours" placeholder="Masukkan {{ 'tsoHours' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tsoVal">{{ 'tsoVal' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="tsoVal" formControlName="tsoVal" placeholder="Masukkan {{ 'tsoVal' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="tsoVar">{{ 'tsoVar' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="tsoVar" formControlName="tsoVar" placeholder="Masukkan {{ 'tsoVar' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="useableStatus">{{ 'useableStatus' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="useableStatus" formControlName="useableStatus" placeholder="Masukkan {{ 'useableStatus' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="warrantyCycle">{{ 'warrantyCycle' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="warrantyCycle" formControlName="warrantyCycle" placeholder="Masukkan {{ 'warrantyCycle' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="warrantyDays">{{ 'warrantyDays' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="warrantyDays" formControlName="warrantyDays" placeholder="Masukkan {{ 'warrantyDays' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="warrantyHours">{{ 'warrantyHours' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="warrantyHours" formControlName="warrantyHours" placeholder="Masukkan {{ 'warrantyHours' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="warrantyStartCycle">{{ 'warrantyStartCycle' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="warrantyStartCycle" formControlName="warrantyStartCycle" placeholder="Masukkan {{ 'warrantyStartCycle' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="warrantyStartDate">{{ 'warrantyStartDate' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-date-picker formControlName="warrantyStartDate" style="width: 100%" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="warrantyVal">{{ 'warrantyVal' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="warrantyVal" formControlName="warrantyVal" placeholder="Masukkan {{ 'warrantyVal' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="warrantyYears">{{ 'warrantyYears' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="warrantyYears" formControlName="warrantyYears" placeholder="Masukkan {{ 'warrantyYears' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-control>
                <button nz-button nzType="primary" [disabled]="form.invalid">Simpan</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-spin>