
  <div class="mb-3">
    <div class="text-secondary small">Approved At</div>
    <div class="fw-semibold text-dark">
      
        {{ data.approvedAt || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Approved By</div>
    <div class="fw-semibold text-dark">
      
        {{ data.approvedBy || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Catatan</div>
    <div class="fw-semibold text-dark">
      
        {{ data.catatan || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">For Module</div>
    <div class="fw-semibold text-dark">
      
        {{ data.forModule || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">From Module Id</div>
    <div class="fw-semibold text-dark">
      
        {{ data.fromModuleId || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Nama User</div>
    <div class="fw-semibold text-dark">
      
        {{ data.namaUser || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Status After</div>
    <div class="fw-semibold text-dark">
      
        <nz-tag  nzColor="green">statusAfter </nz-tag> 
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Status Before</div>
    <div class="fw-semibold text-dark">
      
        <nz-tag  nzColor="green">statusBefore </nz-tag> 
      
    </div>
  </div>

