
  <div class="mb-3">
    <div class="text-secondary small">Created At</div>
    <div class="fw-semibold text-dark">
      
        {{ data.createdAt ? (data.createdAt | date:'short') : '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Cycle</div>
    <div class="fw-semibold text-dark">
      
        {{ data.cycle || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Days</div>
    <div class="fw-semibold text-dark">
      
        {{ data.days || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Effective Date</div>
    <div class="fw-semibold text-dark">
      
        {{ data.effectiveDate || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Expaired Date</div>
    <div class="fw-semibold text-dark">
      
        {{ data.expairedDate || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Hours</div>
    <div class="fw-semibold text-dark">
      
        {{ data.hours || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Note</div>
    <div class="fw-semibold text-dark">
      
        {{ data.note || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Type</div>
    <div class="fw-semibold text-dark">
      
        {{ data.type || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Updated At</div>
    <div class="fw-semibold text-dark">
      
        {{ data.updatedAt || '-' }}
      
    </div>
  </div>

