// Write your custom css/scss here.ant-card-head,
.ant-card-head .ant-tabs-top-bar {
    border-bottom: 1px solid #f0f0f0;
}

.ant-card-head {
    padding: 0 10px !important;
}

.ant-form {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000000d9;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
}

nz-card .filter {
    padding: 15px;
    padding-bottom: 0px;
}

.ant-card-head-title {
    display: inline-block;
    flex: 1;
    padding: 16px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ant-card-head-title {
    padding: 10px 0 !important;
}

.ant-card-extra {
    padding: 2px 0 !important;
    width: 50%;
    text-align: right;
}

.anticon>img,
svg {
    vertical-align: baseline;
}


.site-page-header-ghost-wrapper {
    // background: #f9f9f9;
    border: 2px solid #f0f0f0;
}
.ant-page-header {
    box-sizing: border-box;
    margin: 0;
    color: #000000d9;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    padding: 16px 24px;
    background-color: #fff;
} 
.ant-page-header {
    padding: 8px 10px;
    background-color: #fff;
    border-left: 4px solid #025ec2;
    text-transform: capitalize;
    padding: 8px 10px !important;
}

.ant-upload.ant-upload-drag {
    position: relative;
    width: 100%;
    height: 300px !important; 
} 