// Write your custom css/scss here.ant-card-head,
.ant-card-head .ant-tabs-top-bar {
    border-bottom: 1px solid #f0f0f0;
}
.ant-card-head {
    padding: 0 10px !important;
}
.ant-form {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000000d9;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
}
nz-card .filter {
    padding: 15px;
    padding-bottom: 0px;
}
.ant-card-head-title {
    display: inline-block;
    flex: 1;
    padding: 16px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ant-card-head-title {
    padding: 10px 0 !important;
}

.ant-card-extra {
    padding: 2px 0 !important;
    width: 50%;
    text-align: right;
}
.anticon>img,
svg {
    vertical-align: baseline;
}