//
// _page-head.scss
//
$variable-prefix: tb-; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix: $variable-prefix;

$grid-columns: 12;
$grid-gutter-width: var(--#{$prefix}grid-gutter-width);
$grid-row-columns: 6;

.content-list-status {
    content: "";
    height: var(--tb-menu-wrapper-width);
    z-index: 0;
    background-color: #00529c;
    background-size: cover;
    background-position: top;
    margin: -15px;
    padding: 15px;

}

.page-title-box {
    padding: calc(#{$grid-gutter-width} * 1.5) 0;
    background-color: transparent !important;
    border-bottom: none;
    border-top: none;
    box-shadow: none;
    margin: 0;
    // color: var(--#{$prefix}page-title-color);
    color: white;

    .breadcrumb {
        background-color: transparent;
        padding: 0;

        .breadcrumb-item {
            // color: var(--#{$prefix}header-item-color);
            color: white;
        }
    }

    h4 {
        // color: var(--#{$prefix}page-title-color);
        color: white;
        font-size: 15px !important;
        text-transform: uppercase;
        font-weight: var(--#{$prefix}font-weight-semibold);
    }

    @media (min-width: 1024.1px) {
        // margin: -19px 0 0 0;
        margin: 0px 0px 2px 0px;
    }

    @media (max-width: 1024px) {
        padding-top: 0;
    }
}

.page-title {
    color: var(--#{$prefix}page-title-color);
}

.page-sub-title {
    color: var(--#{$prefix}page-title-sub-color);
}