
  <div class="mb-3">
    <div class="text-secondary small">Bulan</div>
    <div class="fw-semibold text-dark">
      
        {{ data.bulan || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Created At</div>
    <div class="fw-semibold text-dark">
      
        {{ data.createdAt ? (data.createdAt | date:'short') : '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">For Module</div>
    <div class="fw-semibold text-dark">
      
        {{ data.forModule || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">For Module Id</div>
    <div class="fw-semibold text-dark">
      
        {{ data.forModuleId || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Last Number</div>
    <div class="fw-semibold text-dark">
      
        {{ data.lastNumber || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Tahun</div>
    <div class="fw-semibold text-dark">
      
        {{ data.tahun || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Target Column</div>
    <div class="fw-semibold text-dark">
      
        {{ data.targetColumn || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Updated At</div>
    <div class="fw-semibold text-dark">
      
        {{ data.updatedAt || '-' }}
      
    </div>
  </div>

