



<!-- ✅ Start rendering -->
<div class="row">
  
    
  
    
  <div class="col-md-3" *ngIf="data?.biayaAkhir !== undefined && data?.biayaAkhir !== null">
    <div class="text-secondary small">
      {{ 'biayaAkhir' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.biayaAkhir | number:'1.0-0' }}
      
    </div>
  </div>

  

  
    
  
    
  <div class="col-md-3" *ngIf="data?.biayaBulanan !== undefined && data?.biayaBulanan !== null">
    <div class="text-secondary small">
      {{ 'biayaBulanan' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.biayaBulanan | number:'1.0-0' }}
      
    </div>
  </div>

  

  
    
  
    
  <div class="col-md-3" *ngIf="data?.biayaDiawal !== undefined && data?.biayaDiawal !== null">
    <div class="text-secondary small">
      {{ 'biayaDiawal' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.biayaDiawal | number:'1.0-0' }}
      
    </div>
  </div>

  

  
    
  
    
  <div class="col-md-3" *ngIf="data?.catatan !== undefined && data?.catatan !== null">
    <div class="text-secondary small">
      {{ 'catatan' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.catatan || '-' }}
      
    </div>
  </div>

  

  
    
  
    
  <div class="col-md-3" *ngIf="data?.createdAt !== undefined && data?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.createdAt | date:'short' }}
      
    </div>
  </div>

  

  
    
  
    
  <div class="col-md-3" *ngIf="data?.jumlahJadwalPerBulan !== undefined && data?.jumlahJadwalPerBulan !== null">
    <div class="text-secondary small">
      {{ 'jumlahJadwalPerBulan' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.jumlahJadwalPerBulan | number:'1.0-0' }}
      
    </div>
  </div>

  

  
    
  
    
  <div class="col-md-3" *ngIf="data?.statusContractSite !== undefined && data?.statusContractSite !== null">
    <div class="text-secondary small">
      {{ 'statusContractSite' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag nzColor="green">{{ data.statusContractSite }}</nz-tag>
      
    </div>
  </div>

  

  
    
  
    
  <div class="col-md-3" *ngIf="data?.updatedAt !== undefined && data?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.updatedAt | date:'short' }}
      
    </div>
  </div>

  

  
    
  
    <div class="col-12 mt-4" *ngIf="data?.clientSite">
      <div class="fw-bold border-bottom mb-2">
        {{ 'clientSite' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite?.alamat !== undefined && data.clientSite?.alamat !== null">
    <div class="text-secondary small">
      {{ 'clientSite.alamat' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.alamat || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite?.catatan !== undefined && data.clientSite?.catatan !== null">
    <div class="text-secondary small">
      {{ 'clientSite.catatan' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.catatan || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite?.createdAt !== undefined && data.clientSite?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'clientSite.createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite?.isAktif !== undefined && data.clientSite?.isAktif !== null">
    <div class="text-secondary small">
      {{ 'clientSite.isAktif' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.clientSite.isAktif" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.clientSite.isAktif">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite?.kategoriSite !== undefined && data.clientSite?.kategoriSite !== null">
    <div class="text-secondary small">
      {{ 'clientSite.kategoriSite' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.kategoriSite || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite?.kodePos !== undefined && data.clientSite?.kodePos !== null">
    <div class="text-secondary small">
      {{ 'clientSite.kodePos' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.kodePos || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite?.kota !== undefined && data.clientSite?.kota !== null">
    <div class="text-secondary small">
      {{ 'clientSite.kota' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.kota || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite?.latitude !== undefined && data.clientSite?.latitude !== null">
    <div class="text-secondary small">
      {{ 'clientSite.latitude' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.latitude || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite?.longitude !== undefined && data.clientSite?.longitude !== null">
    <div class="text-secondary small">
      {{ 'clientSite.longitude' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.longitude || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite?.namaSite !== undefined && data.clientSite?.namaSite !== null">
    <div class="text-secondary small">
      {{ 'clientSite.namaSite' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.namaSite || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite?.provinsi !== undefined && data.clientSite?.provinsi !== null">
    <div class="text-secondary small">
      {{ 'clientSite.provinsi' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.provinsi || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite?.tagSite !== undefined && data.clientSite?.tagSite !== null">
    <div class="text-secondary small">
      {{ 'clientSite.tagSite' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.tagSite || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite?.updatedAt !== undefined && data.clientSite?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'clientSite.updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.updatedAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    <div class="col-12 mt-4" *ngIf="data.clientSite?.client">
      <div class="fw-bold border-bottom mb-2">
        {{ 'clientSite.client' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.client?.alamat !== undefined && data.clientSite.client?.alamat !== null">
    <div class="text-secondary small">
      {{ 'clientSite.client.alamat' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.client.alamat || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.client?.catatan !== undefined && data.clientSite.client?.catatan !== null">
    <div class="text-secondary small">
      {{ 'clientSite.client.catatan' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.client.catatan || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.client?.createdAt !== undefined && data.clientSite.client?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'clientSite.client.createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.client.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.client?.emailPerusahaan !== undefined && data.clientSite.client?.emailPerusahaan !== null">
    <div class="text-secondary small">
      {{ 'clientSite.client.emailPerusahaan' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.client.emailPerusahaan || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.client?.isAktif !== undefined && data.clientSite.client?.isAktif !== null">
    <div class="text-secondary small">
      {{ 'clientSite.client.isAktif' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.clientSite.client.isAktif" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.clientSite.client.isAktif">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.client?.jenisClient !== undefined && data.clientSite.client?.jenisClient !== null">
    <div class="text-secondary small">
      {{ 'clientSite.client.jenisClient' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.client.jenisClient || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.client?.kodeClient !== undefined && data.clientSite.client?.kodeClient !== null">
    <div class="text-secondary small">
      {{ 'clientSite.client.kodeClient' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.client.kodeClient || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.client?.kodePos !== undefined && data.clientSite.client?.kodePos !== null">
    <div class="text-secondary small">
      {{ 'clientSite.client.kodePos' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.client.kodePos || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.client?.kota !== undefined && data.clientSite.client?.kota !== null">
    <div class="text-secondary small">
      {{ 'clientSite.client.kota' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.client.kota || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.client?.logoUrl !== undefined && data.clientSite.client?.logoUrl !== null">
    <div class="text-secondary small">
      {{ 'clientSite.client.logoUrl' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.client.logoUrl || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.client?.namaFamiliar !== undefined && data.clientSite.client?.namaFamiliar !== null">
    <div class="text-secondary small">
      {{ 'clientSite.client.namaFamiliar' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.client.namaFamiliar || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.client?.namaResmi !== undefined && data.clientSite.client?.namaResmi !== null">
    <div class="text-secondary small">
      {{ 'clientSite.client.namaResmi' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.client.namaResmi || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.client?.npwp !== undefined && data.clientSite.client?.npwp !== null">
    <div class="text-secondary small">
      {{ 'clientSite.client.npwp' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.client.npwp || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.client?.primaryPic !== undefined && data.clientSite.client?.primaryPic !== null">
    <div class="text-secondary small">
      {{ 'clientSite.client.primaryPic' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.client.primaryPic || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.client?.provinsi !== undefined && data.clientSite.client?.provinsi !== null">
    <div class="text-secondary small">
      {{ 'clientSite.client.provinsi' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.client.provinsi || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.client?.telepon !== undefined && data.clientSite.client?.telepon !== null">
    <div class="text-secondary small">
      {{ 'clientSite.client.telepon' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.client.telepon || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.client?.updatedAt !== undefined && data.clientSite.client?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'clientSite.client.updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.client.updatedAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.client?.website !== undefined && data.clientSite.client?.website !== null">
    <div class="text-secondary small">
      {{ 'clientSite.client.website' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.client.website || '-' }}
      
    </div>
  </div>

  

        
      </div>
    </div>
  

        
          
  
    <div class="col-12 mt-4" *ngIf="data.clientSite?.kantor">
      <div class="fw-bold border-bottom mb-2">
        {{ 'clientSite.kantor' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.kantor?.alamat !== undefined && data.clientSite.kantor?.alamat !== null">
    <div class="text-secondary small">
      {{ 'clientSite.kantor.alamat' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.kantor.alamat || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.kantor?.catatan !== undefined && data.clientSite.kantor?.catatan !== null">
    <div class="text-secondary small">
      {{ 'clientSite.kantor.catatan' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.kantor.catatan || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.kantor?.createdAt !== undefined && data.clientSite.kantor?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'clientSite.kantor.createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.kantor.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.kantor?.isAktif !== undefined && data.clientSite.kantor?.isAktif !== null">
    <div class="text-secondary small">
      {{ 'clientSite.kantor.isAktif' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.clientSite.kantor.isAktif" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.clientSite.kantor.isAktif">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.kantor?.isPusat !== undefined && data.clientSite.kantor?.isPusat !== null">
    <div class="text-secondary small">
      {{ 'clientSite.kantor.isPusat' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.clientSite.kantor.isPusat" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.clientSite.kantor.isPusat">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.kantor?.kodeKantor !== undefined && data.clientSite.kantor?.kodeKantor !== null">
    <div class="text-secondary small">
      {{ 'clientSite.kantor.kodeKantor' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.kantor.kodeKantor || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.kantor?.kota !== undefined && data.clientSite.kantor?.kota !== null">
    <div class="text-secondary small">
      {{ 'clientSite.kantor.kota' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.kantor.kota || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.kantor?.namaKantor !== undefined && data.clientSite.kantor?.namaKantor !== null">
    <div class="text-secondary small">
      {{ 'clientSite.kantor.namaKantor' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.kantor.namaKantor || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.kantor?.provinsi !== undefined && data.clientSite.kantor?.provinsi !== null">
    <div class="text-secondary small">
      {{ 'clientSite.kantor.provinsi' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.kantor.provinsi || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.clientSite.kantor?.updatedAt !== undefined && data.clientSite.kantor?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'clientSite.kantor.updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.clientSite.kantor.updatedAt | date:'short' }}
      
    </div>
  </div>

  

        
      </div>
    </div>
  

        
      </div>
    </div>
  

  
    
  
    <div class="col-12 mt-4" *ngIf="data?.contract">
      <div class="fw-bold border-bottom mb-2">
        {{ 'contract' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.catatanKontrak !== undefined && data.contract?.catatanKontrak !== null">
    <div class="text-secondary small">
      {{ 'contract.catatanKontrak' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.catatanKontrak || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.createdAt !== undefined && data.contract?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'contract.createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.dokumenUrl !== undefined && data.contract?.dokumenUrl !== null">
    <div class="text-secondary small">
      {{ 'contract.dokumenUrl' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.dokumenUrl || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.durasiBulan !== undefined && data.contract?.durasiBulan !== null">
    <div class="text-secondary small">
      {{ 'contract.durasiBulan' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.durasiBulan | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.feeSales !== undefined && data.contract?.feeSales !== null">
    <div class="text-secondary small">
      {{ 'contract.feeSales' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.feeSales | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.isAutoInvoice !== undefined && data.contract?.isAutoInvoice !== null">
    <div class="text-secondary small">
      {{ 'contract.isAutoInvoice' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.contract.isAutoInvoice" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.contract.isAutoInvoice">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.namaSales !== undefined && data.contract?.namaSales !== null">
    <div class="text-secondary small">
      {{ 'contract.namaSales' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.namaSales || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.nilaiAkhir !== undefined && data.contract?.nilaiAkhir !== null">
    <div class="text-secondary small">
      {{ 'contract.nilaiAkhir' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.nilaiAkhir | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.nilaiBulanan !== undefined && data.contract?.nilaiBulanan !== null">
    <div class="text-secondary small">
      {{ 'contract.nilaiBulanan' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.nilaiBulanan | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.nilaiDiawal !== undefined && data.contract?.nilaiDiawal !== null">
    <div class="text-secondary small">
      {{ 'contract.nilaiDiawal' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.nilaiDiawal | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.nilaiKontrak !== undefined && data.contract?.nilaiKontrak !== null">
    <div class="text-secondary small">
      {{ 'contract.nilaiKontrak' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.nilaiKontrak | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.nomorKontrak !== undefined && data.contract?.nomorKontrak !== null">
    <div class="text-secondary small">
      {{ 'contract.nomorKontrak' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.nomorKontrak || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.presentaseFee !== undefined && data.contract?.presentaseFee !== null">
    <div class="text-secondary small">
      {{ 'contract.presentaseFee' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.presentaseFee | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.refKontrakSebelumnya !== undefined && data.contract?.refKontrakSebelumnya !== null">
    <div class="text-secondary small">
      {{ 'contract.refKontrakSebelumnya' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.refKontrakSebelumnya || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.statusContract !== undefined && data.contract?.statusContract !== null">
    <div class="text-secondary small">
      {{ 'contract.statusContract' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag nzColor="green">{{ data.contract.statusContract }}</nz-tag>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.tanggalAkhir !== undefined && data.contract?.tanggalAkhir !== null">
    <div class="text-secondary small">
      {{ 'contract.tanggalAkhir' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.tanggalAkhir | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.tanggalKontrak !== undefined && data.contract?.tanggalKontrak !== null">
    <div class="text-secondary small">
      {{ 'contract.tanggalKontrak' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.tanggalKontrak | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.tanggalMulai !== undefined && data.contract?.tanggalMulai !== null">
    <div class="text-secondary small">
      {{ 'contract.tanggalMulai' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.tanggalMulai | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract?.updatedAt !== undefined && data.contract?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'contract.updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.updatedAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    <div class="col-12 mt-4" *ngIf="data.contract?.contractJenis">
      <div class="fw-bold border-bottom mb-2">
        {{ 'contract.contractJenis' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.contractJenis?.contractJenis !== undefined && data.contract.contractJenis?.contractJenis !== null">
    <div class="text-secondary small">
      {{ 'contract.contractJenis.contractJenis' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.contractJenis.contractJenis || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.contractJenis?.createdAt !== undefined && data.contract.contractJenis?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'contract.contractJenis.createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.contractJenis.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.contractJenis?.keterangan !== undefined && data.contract.contractJenis?.keterangan !== null">
    <div class="text-secondary small">
      {{ 'contract.contractJenis.keterangan' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.contractJenis.keterangan || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.contractJenis?.role !== undefined && data.contract.contractJenis?.role !== null">
    <div class="text-secondary small">
      {{ 'contract.contractJenis.role' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.contractJenis.role || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.contractJenis?.statusContractJenis !== undefined && data.contract.contractJenis?.statusContractJenis !== null">
    <div class="text-secondary small">
      {{ 'contract.contractJenis.statusContractJenis' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag nzColor="green">{{ data.contract.contractJenis.statusContractJenis }}</nz-tag>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.contract.contractJenis?.updatedAt !== undefined && data.contract.contractJenis?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'contract.contractJenis.updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.contract.contractJenis.updatedAt | date:'short' }}
      
    </div>
  </div>

  

        
      </div>
    </div>
  

        
      </div>
    </div>
  

  
</div>
