<nz-spin [nzSpinning]="is_loading">
    <form [formGroup]="form" (ngSubmit)="submit()" nz-form [nzLayout]="'vertical'">

        <h4>Identitas JO</h4>
        <nz-form-item>
            <nz-form-label nzFor="numberJo">{{ 'numberJo' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input id="numberJo" formControlName="numberJo" placeholder="Masukkan {{ 'numberJo' | translate }}" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="dateJo">{{ 'dateJo' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-date-picker formControlName="dateJo" style="width: 100%" />
            </nz-form-control>
        </nz-form-item>

        <!-- <nz-form-item>
            <nz-form-label nzFor="idAircraft">{{ 'idAircraft' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idAircraft" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idAircraft' | translate }}">
                    <nz-option *ngFor="let item of listAircraft" nzLabel="{{ item.idAircraft }}" nzValue="{{ item.idAircraft }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item> -->

        <!-- <nz-form-item>
            <nz-form-label nzFor="idSite">{{ 'idSite' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idSite" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idSite' | translate }}">
                    <nz-option *ngFor="let item of listSite" nzLabel="{{ item.idSite }}" nzValue="{{ item.idSite }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="idWp">{{ 'idWp' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idWp" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idWp' | translate }}">
                    <nz-option *ngFor="let item of listWp" nzLabel="{{ item.idWp }}" nzValue="{{ item.idWp }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item> -->

        <nz-form-item>
            <nz-form-label nzFor="priority">{{ 'priority' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-radio-group formControlName="priority">
                    <label nz-radio nzValue="AOG">AOG</label>
                    <label nz-radio nzValue="Critical">Critical</label>
                    <label nz-radio nzValue="High">High</label>
                    <label nz-radio nzValue="Normal">Normal</label>
                    <label nz-radio nzValue="Low">Low</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="typeOfwork">{{ 'typeOfwork' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input id="typeOfwork" formControlName="typeOfwork" placeholder="Masukkan {{ 'typeOfwork' | translate }}" />
            </nz-form-control>
        </nz-form-item>

        <h4>Detail Task</h4>
        <nz-form-item *ngIf="idMaintenance == null && typeOfwork == 'unschedule'">
            <nz-form-label nzFor="idMaintenanceProgram">{{ 'idMaintenanceProgram' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idMaintenanceProgram" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idMaintenanceProgram' | translate }}">
                    <nz-option *ngFor="let item of listMaintenanceProgram" nzLabel="{{ item.idMaintenanceProgram }}" nzValue="{{ item.idMaintenanceProgram }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="idMaintenance == null">
            <nz-form-label nzFor="idMaintenance">{{ 'idMaintenance' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idMaintenance" nzShowSearch nzAllowClear
                    nzPlaceHolder="Pilih {{ 'idMaintenance' | translate }}">
                    <nz-option *ngFor="let item of listMaintenance" nzLabel="{{ item.idMaintenance }}"
                        nzValue="{{ item.idMaintenance }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="idMaintenanceCode == null">
            <nz-form-label nzFor="idMaintenanceCode">{{ 'idMaintenanceCode' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idMaintenanceCode" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idMaintenanceCode' | translate }}">
                    <nz-option *ngFor="let item of listMaintenanceCode" nzLabel="{{ item.maintenanceCode }} - {{ item.descriptionMaintenance }}" nzValue="{{ item.idMaintenanceCode }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

       

        <nz-form-item>
            <nz-form-label nzFor="formNo">{{ 'formNo' | translate }}</nz-form-label>
            <nz-form-control>
            <textarea nz-input id="formNo" formControlName="formNo" placeholder="Masukkan {{ 'formNo' | translate }}"></textarea>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="reference">{{ 'reference' | translate }}</nz-form-label>
            <nz-form-control>
            <textarea nz-input id="reference" formControlName="reference" placeholder="Masukkan {{ 'reference' | translate }}"></textarea>
            </nz-form-control>
        </nz-form-item>

        

        <nz-form-item>
            <nz-form-label nzFor="workDue">{{ 'workDue' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input id="workDue" formControlName="workDue" placeholder="Masukkan {{ 'workDue' | translate }}" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="parentEquipmentType">{{ 'parentEquipmentType' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input id="parentEquipmentType" formControlName="parentEquipmentType" placeholder="Masukkan {{ 'parentEquipmentType' | translate }}" />
            </nz-form-control>
        </nz-form-item>

        <!-- <nz-form-item>
            <nz-form-label nzFor="idMpart">{{ 'idMpart' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idMpart" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idMpart' | translate }}">
                    <nz-option *ngFor="let item of listMpart" nzLabel="{{ item.idMpart }}" nzValue="{{ item.idMpart }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="idPart">{{ 'idPart' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idPart" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idPart' | translate }}">
                    <nz-option *ngFor="let item of listPart" nzLabel="{{ item.idPart }}" nzValue="{{ item.idPart }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item> -->

        <!-- <nz-form-item>
            <nz-form-label nzFor="idTechLog">{{ 'idTechLog' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idTechLog" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idTechLog' | translate }}">
                    <nz-option *ngFor="let item of listTechLog" nzLabel="{{ item.idTechLog }}" nzValue="{{ item.idTechLog }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="idUser">{{ 'idUser' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idUser" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idUser' | translate }}">
                    <nz-option *ngFor="let item of listUser" nzLabel="{{ item.idUser }}" nzValue="{{ item.idUser }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item> -->

        <h4>Perencanaan Waktu</h4>
        <nz-form-item>
            <nz-form-label nzFor="timeRangeFrom">{{ 'timeRangeFrom' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="timeRangeFrom" formControlName="timeRangeFrom" placeholder="Masukkan {{ 'timeRangeFrom' | translate }}" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="timeRangeTo">{{ 'timeRangeTo' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="timeRangeTo" formControlName="timeRangeTo" placeholder="Masukkan {{ 'timeRangeTo' | translate }}" />
            </nz-form-control>
        </nz-form-item>

        

        <h4>Jam/Cycle Pesawat</h4>
        <nz-form-item>
            <nz-form-label nzFor="hourseFrom">{{ 'hourseFrom' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="hourseFrom" formControlName="hourseFrom" placeholder="Masukkan {{ 'hourseFrom' | translate }}" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="hourseTo">{{ 'hourseTo' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="hourseTo" formControlName="hourseTo" placeholder="Masukkan {{ 'hourseTo' | translate }}" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="cycleFrom">{{ 'cycleFrom' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="cycleFrom" formControlName="cycleFrom" placeholder="Masukkan {{ 'cycleFrom' | translate }}" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="cycleTo">{{ 'cycleTo' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="cycleTo" formControlName="cycleTo" placeholder="Masukkan {{ 'cycleTo' | translate }}" />
            </nz-form-control>
        </nz-form-item>

        <h4>Eksekusi Pekerjaan</h4>
        <nz-form-item>
            <nz-form-label nzFor="carriedOutDate">{{ 'carriedOutDate' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-date-picker formControlName="carriedOutDate" style="width: 100%" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="compliteDate">{{ 'compliteDate' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-date-picker formControlName="compliteDate" style="width: 100%" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="compliteHours">{{ 'compliteHours' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="compliteHours" formControlName="compliteHours" placeholder="Masukkan {{ 'compliteHours' | translate }}" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="compliteCycle">{{ 'compliteCycle' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="compliteCycle" formControlName="compliteCycle" placeholder="Masukkan {{ 'compliteCycle' | translate }}" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="completedAt">{{ 'completedAt' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input id="completedAt" formControlName="completedAt" placeholder="Masukkan {{ 'completedAt' | translate }}" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="totalHoursWork">{{ 'totalHoursWork' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="totalHoursWork" formControlName="totalHoursWork"
                    placeholder="Masukkan {{ 'totalHoursWork' | translate }}" />
            </nz-form-control>
        </nz-form-item>

        <h4>Persetujuan</h4>
        <nz-form-item>
            <nz-form-label nzFor="enginerApprovedBy">{{ 'enginerApprovedBy' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input id="enginerApprovedBy" formControlName="enginerApprovedBy" placeholder="Masukkan {{ 'enginerApprovedBy' | translate }}" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="enginerApprovedDate">{{ 'enginerApprovedDate' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-date-picker formControlName="enginerApprovedDate" style="width: 100%" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="enginerApprovedNote">{{ 'enginerApprovedNote' | translate }}</nz-form-label>
            <nz-form-control>
                <textarea nz-input id="enginerApprovedNote" formControlName="enginerApprovedNote" placeholder="Masukkan {{ 'enginerApprovedNote' | translate }}"></textarea>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="inspectorApprovedBy">{{ 'inspectorApprovedBy' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input id="inspectorApprovedBy" formControlName="inspectorApprovedBy" placeholder="Masukkan {{ 'inspectorApprovedBy' | translate }}" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="inspectorApprovedAt">{{ 'inspectorApprovedAt' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input id="inspectorApprovedAt" formControlName="inspectorApprovedAt" placeholder="Masukkan {{ 'inspectorApprovedAt' | translate }}" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="inspectorApprovedNote">{{ 'inspectorApprovedNote' | translate }}</nz-form-label>
            <nz-form-control>
                <textarea nz-input id="inspectorApprovedNote" formControlName="inspectorApprovedNote" placeholder="Masukkan {{ 'inspectorApprovedNote' | translate }}"></textarea>
            </nz-form-control>
        </nz-form-item>

        <h4>Lain-lain</h4>
       

        <!-- <nz-form-item>
            <nz-form-label nzFor="statusWpJo">{{ 'statusWpJo' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input id="statusWpJo" formControlName="statusWpJo" placeholder="Masukkan {{ 'statusWpJo' | translate }}" />
            </nz-form-control>
        </nz-form-item> -->

        <nz-form-item>
            <nz-form-label nzFor="noteJo">{{ 'noteJo' | translate }}</nz-form-label>
            <nz-form-control>
                <textarea nz-input id="noteJo" formControlName="noteJo" placeholder="Masukkan {{ 'noteJo' | translate }}"></textarea>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control>
                <button nz-button nzType="primary" [disabled]="form.invalid">Simpan</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-spin>
