



<!-- ✅ Start rendering -->
<div class="row">
  
    
  
    
  <div class="col-md-3" *ngIf="data?.approveDirector !== undefined && data?.approveDirector !== null">
    <div class="text-secondary small">
      {{ 'approveDirector' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.approveDirector | number:'1.0-0' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.createdAt !== undefined && data?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.createdAt | date:'short' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.dateAcc !== undefined && data?.dateAcc !== null">
    <div class="text-secondary small">
      {{ 'dateAcc' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.dateAcc || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.dateAccDirector !== undefined && data?.dateAccDirector !== null">
    <div class="text-secondary small">
      {{ 'dateAccDirector' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.dateAccDirector || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.dateDeadline !== undefined && data?.dateDeadline !== null">
    <div class="text-secondary small">
      {{ 'dateDeadline' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.dateDeadline || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.datePo !== undefined && data?.datePo !== null">
    <div class="text-secondary small">
      {{ 'datePo' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.datePo || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idCurrency !== undefined && data?.idCurrency !== null">
    <div class="text-secondary small">
      {{ 'idCurrency' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.idCurrency || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idPosition !== undefined && data?.idPosition !== null">
    <div class="text-secondary small">
      {{ 'idPosition' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.idPosition || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idPurPo !== undefined && data?.idPurPo !== null">
    <div class="text-secondary small">
      {{ 'idPurPo' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.idPurPo || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idPurVendor !== undefined && data?.idPurVendor !== null">
    <div class="text-secondary small">
      {{ 'idPurVendor' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.idPurVendor || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idPurVendorContact !== undefined && data?.idPurVendorContact !== null">
    <div class="text-secondary small">
      {{ 'idPurVendorContact' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.idPurVendorContact || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idSite !== undefined && data?.idSite !== null">
    <div class="text-secondary small">
      {{ 'idSite' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.idSite || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idUser !== undefined && data?.idUser !== null">
    <div class="text-secondary small">
      {{ 'idUser' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.idUser || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idUserDirector !== undefined && data?.idUserDirector !== null">
    <div class="text-secondary small">
      {{ 'idUserDirector' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.idUserDirector || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idUserManager !== undefined && data?.idUserManager !== null">
    <div class="text-secondary small">
      {{ 'idUserManager' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.idUserManager || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.isDeleted !== undefined && data?.isDeleted !== null">
    <div class="text-secondary small">
      {{ 'isDeleted' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.isDeleted" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.isDeleted">-</span>
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.modeOfTransport !== undefined && data?.modeOfTransport !== null">
    <div class="text-secondary small">
      {{ 'modeOfTransport' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.modeOfTransport || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.noIndex !== undefined && data?.noIndex !== null">
    <div class="text-secondary small">
      {{ 'noIndex' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.noIndex | number:'1.0-0' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.notePo !== undefined && data?.notePo !== null">
    <div class="text-secondary small">
      {{ 'notePo' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.notePo || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.numberPo !== undefined && data?.numberPo !== null">
    <div class="text-secondary small">
      {{ 'numberPo' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.numberPo || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.oldPo !== undefined && data?.oldPo !== null">
    <div class="text-secondary small">
      {{ 'oldPo' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.oldPo || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.priceTotal !== undefined && data?.priceTotal !== null">
    <div class="text-secondary small">
      {{ 'priceTotal' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.priceTotal | number:'1.0-0' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.quotationDate !== undefined && data?.quotationDate !== null">
    <div class="text-secondary small">
      {{ 'quotationDate' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.quotationDate || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.quotationNumber !== undefined && data?.quotationNumber !== null">
    <div class="text-secondary small">
      {{ 'quotationNumber' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.quotationNumber || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.shipping !== undefined && data?.shipping !== null">
    <div class="text-secondary small">
      {{ 'shipping' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.shipping || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.statusPo !== undefined && data?.statusPo !== null">
    <div class="text-secondary small">
      {{ 'statusPo' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag nzColor="green">{{ data.statusPo }}</nz-tag>
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.term !== undefined && data?.term !== null">
    <div class="text-secondary small">
      {{ 'term' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.term || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.typePo !== undefined && data?.typePo !== null">
    <div class="text-secondary small">
      {{ 'typePo' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.typePo || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.updatedAt !== undefined && data?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.updatedAt | date:'short' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.validasi !== undefined && data?.validasi !== null">
    <div class="text-secondary small">
      {{ 'validasi' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.validasi | number:'1.0-0' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.vat !== undefined && data?.vat !== null">
    <div class="text-secondary small">
      {{ 'vat' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.vat | number:'1.0-0' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    <div class="col-12 mt-4" *ngIf="data?.currency">
      <div class="fw-bold border-bottom mb-2">
        {{ 'currency' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.currency?.code !== undefined && data.currency?.code !== null">
    <div class="text-secondary small">
      {{ 'code' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.currency.code || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.currency?.createdAt !== undefined && data.currency?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.currency.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.currency?.currency !== undefined && data.currency?.currency !== null">
    <div class="text-secondary small">
      {{ 'currency' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.currency.currency || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.currency?.idCurrency !== undefined && data.currency?.idCurrency !== null">
    <div class="text-secondary small">
      {{ 'idCurrency' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.currency.idCurrency || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.currency?.isDeleted !== undefined && data.currency?.isDeleted !== null">
    <div class="text-secondary small">
      {{ 'isDeleted' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.currency.isDeleted" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.currency.isDeleted">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.currency?.statusCurrency !== undefined && data.currency?.statusCurrency !== null">
    <div class="text-secondary small">
      {{ 'statusCurrency' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag nzColor="green">{{ data.currency.statusCurrency }}</nz-tag>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.currency?.updatedAt !== undefined && data.currency?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.currency.updatedAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.currency?.usdRate !== undefined && data.currency?.usdRate !== null">
    <div class="text-secondary small">
      {{ 'usdRate' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.currency.usdRate | number:'1.0-0' }}
      
    </div>
  </div>

  

        
      </div>
    </div>
  
 <br> 
  
    
  
    <div class="col-12 mt-4" *ngIf="data?.position">
      <div class="fw-bold border-bottom mb-2">
        {{ 'position' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.position?.code !== undefined && data.position?.code !== null">
    <div class="text-secondary small">
      {{ 'code' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.position.code || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.position?.description !== undefined && data.position?.description !== null">
    <div class="text-secondary small">
      {{ 'description' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.position.description || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.position?.idPosition !== undefined && data.position?.idPosition !== null">
    <div class="text-secondary small">
      {{ 'idPosition' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.position.idPosition || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.position?.isDeleted !== undefined && data.position?.isDeleted !== null">
    <div class="text-secondary small">
      {{ 'isDeleted' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.position.isDeleted" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.position.isDeleted">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.position?.position !== undefined && data.position?.position !== null">
    <div class="text-secondary small">
      {{ 'position' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.position.position || '-' }}
      
    </div>
  </div>

  

        
      </div>
    </div>
  
 <br> 
  
    
  
    <div class="col-12 mt-4" *ngIf="data?.purPo">
      <div class="fw-bold border-bottom mb-2">
        {{ 'purPo' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.approveDirector !== undefined && data.purPo?.approveDirector !== null">
    <div class="text-secondary small">
      {{ 'approveDirector' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.approveDirector | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.createdAt !== undefined && data.purPo?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.dateAcc !== undefined && data.purPo?.dateAcc !== null">
    <div class="text-secondary small">
      {{ 'dateAcc' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.dateAcc || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.dateAccDirector !== undefined && data.purPo?.dateAccDirector !== null">
    <div class="text-secondary small">
      {{ 'dateAccDirector' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.dateAccDirector || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.dateDeadline !== undefined && data.purPo?.dateDeadline !== null">
    <div class="text-secondary small">
      {{ 'dateDeadline' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.dateDeadline || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.datePo !== undefined && data.purPo?.datePo !== null">
    <div class="text-secondary small">
      {{ 'datePo' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.datePo || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.idCurrency !== undefined && data.purPo?.idCurrency !== null">
    <div class="text-secondary small">
      {{ 'idCurrency' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.idCurrency || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.idPosition !== undefined && data.purPo?.idPosition !== null">
    <div class="text-secondary small">
      {{ 'idPosition' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.idPosition || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.idPurPo !== undefined && data.purPo?.idPurPo !== null">
    <div class="text-secondary small">
      {{ 'idPurPo' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.idPurPo || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.idPurVendor !== undefined && data.purPo?.idPurVendor !== null">
    <div class="text-secondary small">
      {{ 'idPurVendor' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.idPurVendor || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.idPurVendorContact !== undefined && data.purPo?.idPurVendorContact !== null">
    <div class="text-secondary small">
      {{ 'idPurVendorContact' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.idPurVendorContact || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.idSite !== undefined && data.purPo?.idSite !== null">
    <div class="text-secondary small">
      {{ 'idSite' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.idSite || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.idUser !== undefined && data.purPo?.idUser !== null">
    <div class="text-secondary small">
      {{ 'idUser' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.idUser || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.idUserDirector !== undefined && data.purPo?.idUserDirector !== null">
    <div class="text-secondary small">
      {{ 'idUserDirector' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.idUserDirector || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.idUserManager !== undefined && data.purPo?.idUserManager !== null">
    <div class="text-secondary small">
      {{ 'idUserManager' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.idUserManager || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.isDeleted !== undefined && data.purPo?.isDeleted !== null">
    <div class="text-secondary small">
      {{ 'isDeleted' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.purPo.isDeleted" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.purPo.isDeleted">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.modeOfTransport !== undefined && data.purPo?.modeOfTransport !== null">
    <div class="text-secondary small">
      {{ 'modeOfTransport' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.modeOfTransport || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.noIndex !== undefined && data.purPo?.noIndex !== null">
    <div class="text-secondary small">
      {{ 'noIndex' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.noIndex | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.notePo !== undefined && data.purPo?.notePo !== null">
    <div class="text-secondary small">
      {{ 'notePo' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.notePo || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.numberPo !== undefined && data.purPo?.numberPo !== null">
    <div class="text-secondary small">
      {{ 'numberPo' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.numberPo || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.oldPo !== undefined && data.purPo?.oldPo !== null">
    <div class="text-secondary small">
      {{ 'oldPo' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.oldPo || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.priceTotal !== undefined && data.purPo?.priceTotal !== null">
    <div class="text-secondary small">
      {{ 'priceTotal' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.priceTotal | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.quotationDate !== undefined && data.purPo?.quotationDate !== null">
    <div class="text-secondary small">
      {{ 'quotationDate' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.quotationDate || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.quotationNumber !== undefined && data.purPo?.quotationNumber !== null">
    <div class="text-secondary small">
      {{ 'quotationNumber' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.quotationNumber || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.shipping !== undefined && data.purPo?.shipping !== null">
    <div class="text-secondary small">
      {{ 'shipping' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.shipping || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.statusPo !== undefined && data.purPo?.statusPo !== null">
    <div class="text-secondary small">
      {{ 'statusPo' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag nzColor="green">{{ data.purPo.statusPo }}</nz-tag>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.term !== undefined && data.purPo?.term !== null">
    <div class="text-secondary small">
      {{ 'term' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.term || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.typePo !== undefined && data.purPo?.typePo !== null">
    <div class="text-secondary small">
      {{ 'typePo' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.typePo || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.updatedAt !== undefined && data.purPo?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.updatedAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.validasi !== undefined && data.purPo?.validasi !== null">
    <div class="text-secondary small">
      {{ 'validasi' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.validasi | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo?.vat !== undefined && data.purPo?.vat !== null">
    <div class="text-secondary small">
      {{ 'vat' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.vat | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    <div class="col-12 mt-4" *ngIf="data.purPo?.purVendor">
      <div class="fw-bold border-bottom mb-2">
        {{ 'purPo.purVendor' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor?.address !== undefined && data.purPo.purVendor?.address !== null">
    <div class="text-secondary small">
      {{ 'address' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.address || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor?.city !== undefined && data.purPo.purVendor?.city !== null">
    <div class="text-secondary small">
      {{ 'city' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.city || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor?.country !== undefined && data.purPo.purVendor?.country !== null">
    <div class="text-secondary small">
      {{ 'country' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.country || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor?.createdAt !== undefined && data.purPo.purVendor?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor?.email !== undefined && data.purPo.purVendor?.email !== null">
    <div class="text-secondary small">
      {{ 'email' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.email || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor?.fax !== undefined && data.purPo.purVendor?.fax !== null">
    <div class="text-secondary small">
      {{ 'fax' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.fax || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor?.idPurVendor !== undefined && data.purPo.purVendor?.idPurVendor !== null">
    <div class="text-secondary small">
      {{ 'idPurVendor' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.idPurVendor || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor?.idPurVendorContact !== undefined && data.purPo.purVendor?.idPurVendorContact !== null">
    <div class="text-secondary small">
      {{ 'idPurVendorContact' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.idPurVendorContact || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor?.linePhone !== undefined && data.purPo.purVendor?.linePhone !== null">
    <div class="text-secondary small">
      {{ 'linePhone' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.linePhone || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor?.oldId !== undefined && data.purPo.purVendor?.oldId !== null">
    <div class="text-secondary small">
      {{ 'oldId' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.oldId || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor?.phone !== undefined && data.purPo.purVendor?.phone !== null">
    <div class="text-secondary small">
      {{ 'phone' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.phone || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor?.pic !== undefined && data.purPo.purVendor?.pic !== null">
    <div class="text-secondary small">
      {{ 'pic' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.pic || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor?.postcode !== undefined && data.purPo.purVendor?.postcode !== null">
    <div class="text-secondary small">
      {{ 'postcode' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.postcode || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor?.state !== undefined && data.purPo.purVendor?.state !== null">
    <div class="text-secondary small">
      {{ 'state' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.state || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor?.updatedAt !== undefined && data.purPo.purVendor?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.updatedAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    <div class="col-12 mt-4" *ngIf="data.purPo.purVendor?.purVendorContact">
      <div class="fw-bold border-bottom mb-2">
        {{ 'purPo.purVendor.purVendorContact' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor.purVendorContact?.address !== undefined && data.purPo.purVendor.purVendorContact?.address !== null">
    <div class="text-secondary small">
      {{ 'address' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.purVendorContact.address || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor.purVendorContact?.city !== undefined && data.purPo.purVendor.purVendorContact?.city !== null">
    <div class="text-secondary small">
      {{ 'city' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.purVendorContact.city || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor.purVendorContact?.country !== undefined && data.purPo.purVendor.purVendorContact?.country !== null">
    <div class="text-secondary small">
      {{ 'country' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.purVendorContact.country || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor.purVendorContact?.createdAt !== undefined && data.purPo.purVendor.purVendorContact?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.purVendorContact.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor.purVendorContact?.email !== undefined && data.purPo.purVendor.purVendorContact?.email !== null">
    <div class="text-secondary small">
      {{ 'email' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.purVendorContact.email || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor.purVendorContact?.fax !== undefined && data.purPo.purVendor.purVendorContact?.fax !== null">
    <div class="text-secondary small">
      {{ 'fax' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.purVendorContact.fax || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor.purVendorContact?.idPurVendor !== undefined && data.purPo.purVendor.purVendorContact?.idPurVendor !== null">
    <div class="text-secondary small">
      {{ 'idPurVendor' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.purVendorContact.idPurVendor || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor.purVendorContact?.idPurVendorContact !== undefined && data.purPo.purVendor.purVendorContact?.idPurVendorContact !== null">
    <div class="text-secondary small">
      {{ 'idPurVendorContact' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.purVendorContact.idPurVendorContact || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor.purVendorContact?.linePhone !== undefined && data.purPo.purVendor.purVendorContact?.linePhone !== null">
    <div class="text-secondary small">
      {{ 'linePhone' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.purVendorContact.linePhone || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor.purVendorContact?.oldId !== undefined && data.purPo.purVendor.purVendorContact?.oldId !== null">
    <div class="text-secondary small">
      {{ 'oldId' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.purVendorContact.oldId || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor.purVendorContact?.phone !== undefined && data.purPo.purVendor.purVendorContact?.phone !== null">
    <div class="text-secondary small">
      {{ 'phone' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.purVendorContact.phone || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor.purVendorContact?.pic !== undefined && data.purPo.purVendor.purVendorContact?.pic !== null">
    <div class="text-secondary small">
      {{ 'pic' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.purVendorContact.pic || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor.purVendorContact?.postcode !== undefined && data.purPo.purVendor.purVendorContact?.postcode !== null">
    <div class="text-secondary small">
      {{ 'postcode' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.purVendorContact.postcode || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor.purVendorContact?.state !== undefined && data.purPo.purVendor.purVendorContact?.state !== null">
    <div class="text-secondary small">
      {{ 'state' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.purVendorContact.state || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.purVendor.purVendorContact?.updatedAt !== undefined && data.purPo.purVendor.purVendorContact?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.purVendor.purVendorContact.updatedAt | date:'short' }}
      
    </div>
  </div>

  

        
      </div>
    </div>
  

        
      </div>
    </div>
  

        
          
  
    <div class="col-12 mt-4" *ngIf="data.purPo?.site">
      <div class="fw-bold border-bottom mb-2">
        {{ 'purPo.site' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site?.address !== undefined && data.purPo.site?.address !== null">
    <div class="text-secondary small">
      {{ 'address' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.address || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site?.city !== undefined && data.purPo.site?.city !== null">
    <div class="text-secondary small">
      {{ 'city' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.city || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site?.codeSite !== undefined && data.purPo.site?.codeSite !== null">
    <div class="text-secondary small">
      {{ 'codeSite' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.codeSite || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site?.contactname !== undefined && data.purPo.site?.contactname !== null">
    <div class="text-secondary small">
      {{ 'contactname' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.contactname || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site?.country !== undefined && data.purPo.site?.country !== null">
    <div class="text-secondary small">
      {{ 'country' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.country || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site?.createdAt !== undefined && data.purPo.site?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site?.emailaddress !== undefined && data.purPo.site?.emailaddress !== null">
    <div class="text-secondary small">
      {{ 'emailaddress' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.emailaddress || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site?.fax !== undefined && data.purPo.site?.fax !== null">
    <div class="text-secondary small">
      {{ 'fax' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.fax || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site?.idNewSite !== undefined && data.purPo.site?.idNewSite !== null">
    <div class="text-secondary small">
      {{ 'idNewSite' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.idNewSite || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site?.idSite !== undefined && data.purPo.site?.idSite !== null">
    <div class="text-secondary small">
      {{ 'idSite' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.idSite || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site?.idUser !== undefined && data.purPo.site?.idUser !== null">
    <div class="text-secondary small">
      {{ 'idUser' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.idUser || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site?.isDeleted !== undefined && data.purPo.site?.isDeleted !== null">
    <div class="text-secondary small">
      {{ 'isDeleted' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.purPo.site.isDeleted" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.purPo.site.isDeleted">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site?.isMain !== undefined && data.purPo.site?.isMain !== null">
    <div class="text-secondary small">
      {{ 'isMain' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.purPo.site.isMain" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.purPo.site.isMain">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site?.isStore !== undefined && data.purPo.site?.isStore !== null">
    <div class="text-secondary small">
      {{ 'isStore' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.purPo.site.isStore" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.purPo.site.isStore">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site?.logoSite !== undefined && data.purPo.site?.logoSite !== null">
    <div class="text-secondary small">
      {{ 'logoSite' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.logoSite || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site?.mobile !== undefined && data.purPo.site?.mobile !== null">
    <div class="text-secondary small">
      {{ 'mobile' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.mobile || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site?.oldId !== undefined && data.purPo.site?.oldId !== null">
    <div class="text-secondary small">
      {{ 'oldId' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.oldId || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site?.parentSite !== undefined && data.purPo.site?.parentSite !== null">
    <div class="text-secondary small">
      {{ 'parentSite' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.parentSite | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site?.site !== undefined && data.purPo.site?.site !== null">
    <div class="text-secondary small">
      {{ 'site' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.site || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site?.statusSite !== undefined && data.purPo.site?.statusSite !== null">
    <div class="text-secondary small">
      {{ 'statusSite' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag nzColor="green">{{ data.purPo.site.statusSite }}</nz-tag>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site?.telephone !== undefined && data.purPo.site?.telephone !== null">
    <div class="text-secondary small">
      {{ 'telephone' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.telephone || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site?.typeSite !== undefined && data.purPo.site?.typeSite !== null">
    <div class="text-secondary small">
      {{ 'typeSite' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.typeSite || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site?.updatedAt !== undefined && data.purPo.site?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.updatedAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site?.validation !== undefined && data.purPo.site?.validation !== null">
    <div class="text-secondary small">
      {{ 'validation' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.validation | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    <div class="col-12 mt-4" *ngIf="data.purPo.site?.user">
      <div class="fw-bold border-bottom mb-2">
        {{ 'purPo.site.user' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site.user?.createdAt !== undefined && data.purPo.site.user?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.user.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site.user?.deskripsi !== undefined && data.purPo.site.user?.deskripsi !== null">
    <div class="text-secondary small">
      {{ 'deskripsi' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.user.deskripsi || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site.user?.idUserGroup !== undefined && data.purPo.site.user?.idUserGroup !== null">
    <div class="text-secondary small">
      {{ 'idUserGroup' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.user.idUserGroup || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site.user?.namaUserGroup !== undefined && data.purPo.site.user?.namaUserGroup !== null">
    <div class="text-secondary small">
      {{ 'namaUserGroup' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.user.namaUserGroup || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site.user?.status !== undefined && data.purPo.site.user?.status !== null">
    <div class="text-secondary small">
      {{ 'status' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag nzColor="green">{{ data.purPo.site.user.status }}</nz-tag>
      
    </div>
  </div>

  

        
          
  
    <div class="col-12 mt-4" *ngIf="data.purPo.site.user?.userGroup">
      <div class="fw-bold border-bottom mb-2">
        {{ 'purPo.site.user.userGroup' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site.user.userGroup?.createdAt !== undefined && data.purPo.site.user.userGroup?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.user.userGroup.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site.user.userGroup?.deskripsi !== undefined && data.purPo.site.user.userGroup?.deskripsi !== null">
    <div class="text-secondary small">
      {{ 'deskripsi' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.user.userGroup.deskripsi || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site.user.userGroup?.idUserGroup !== undefined && data.purPo.site.user.userGroup?.idUserGroup !== null">
    <div class="text-secondary small">
      {{ 'idUserGroup' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.user.userGroup.idUserGroup || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site.user.userGroup?.namaUserGroup !== undefined && data.purPo.site.user.userGroup?.namaUserGroup !== null">
    <div class="text-secondary small">
      {{ 'namaUserGroup' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.purPo.site.user.userGroup.namaUserGroup || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.purPo.site.user.userGroup?.status !== undefined && data.purPo.site.user.userGroup?.status !== null">
    <div class="text-secondary small">
      {{ 'status' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag nzColor="green">{{ data.purPo.site.user.userGroup.status }}</nz-tag>
      
    </div>
  </div>

  

        
      </div>
    </div>
  

        
      </div>
    </div>
  

        
      </div>
    </div>
  

        
      </div>
    </div>
  
 <br> 
  
</div>
