



<!-- ✅ Start rendering -->
<div class="row">
  
    
  
    
  <div class="col-md-3" *ngIf="data?.code !== undefined && data?.code !== null">
    <div class="text-secondary small">
      {{ 'code' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.code || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.createdAt !== undefined && data?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.createdAt | date:'short' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.currency !== undefined && data?.currency !== null">
    <div class="text-secondary small">
      {{ 'currency' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.currency || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idCurrency !== undefined && data?.idCurrency !== null">
    <div class="text-secondary small">
      {{ 'idCurrency' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.idCurrency || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.isDeleted !== undefined && data?.isDeleted !== null">
    <div class="text-secondary small">
      {{ 'isDeleted' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.isDeleted" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.isDeleted">-</span>
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.statusCurrency !== undefined && data?.statusCurrency !== null">
    <div class="text-secondary small">
      {{ 'statusCurrency' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag nzColor="green">{{ data.statusCurrency }}</nz-tag>
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.updatedAt !== undefined && data?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.updatedAt | date:'short' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.usdRate !== undefined && data?.usdRate !== null">
    <div class="text-secondary small">
      {{ 'usdRate' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.usdRate | number:'1.0-0' }}
      
    </div>
  </div>

  
 <br> 
  
</div>
