



<!-- ✅ Start rendering -->
<div class="row">
  
    
  
    
  <div class="col-md-3" *ngIf="data?.createdAt !== undefined && data?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.createdAt | date:'short' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.dateAcc !== undefined && data?.dateAcc !== null">
    <div class="text-secondary small">
      {{ 'dateAcc' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.dateAcc || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.dateGrn !== undefined && data?.dateGrn !== null">
    <div class="text-secondary small">
      {{ 'dateGrn' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.dateGrn || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idInternalGrn !== undefined && data?.idInternalGrn !== null">
    <div class="text-secondary small">
      {{ 'idInternalGrn' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.idInternalGrn || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idSite !== undefined && data?.idSite !== null">
    <div class="text-secondary small">
      {{ 'idSite' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.idSite || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idUser !== undefined && data?.idUser !== null">
    <div class="text-secondary small">
      {{ 'idUser' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.idUser || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idUserAcc !== undefined && data?.idUserAcc !== null">
    <div class="text-secondary small">
      {{ 'idUserAcc' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.idUserAcc || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.numberGrn !== undefined && data?.numberGrn !== null">
    <div class="text-secondary small">
      {{ 'numberGrn' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.numberGrn || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.remark !== undefined && data?.remark !== null">
    <div class="text-secondary small">
      {{ 'remark' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.remark || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.statusGrn !== undefined && data?.statusGrn !== null">
    <div class="text-secondary small">
      {{ 'statusGrn' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag nzColor="green">{{ data.statusGrn }}</nz-tag>
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.updatedAt !== undefined && data?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.updatedAt | date:'short' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.validasi !== undefined && data?.validasi !== null">
    <div class="text-secondary small">
      {{ 'validasi' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.validasi | number:'1.0-0' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    <div class="col-12 mt-4" *ngIf="data?.internalGrn">
      <div class="fw-bold border-bottom mb-2">
        {{ 'internalGrn' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn?.createdAt !== undefined && data.internalGrn?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn?.dateAcc !== undefined && data.internalGrn?.dateAcc !== null">
    <div class="text-secondary small">
      {{ 'dateAcc' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.dateAcc || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn?.dateGrn !== undefined && data.internalGrn?.dateGrn !== null">
    <div class="text-secondary small">
      {{ 'dateGrn' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.dateGrn || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn?.idInternalGrn !== undefined && data.internalGrn?.idInternalGrn !== null">
    <div class="text-secondary small">
      {{ 'idInternalGrn' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.idInternalGrn || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn?.idSite !== undefined && data.internalGrn?.idSite !== null">
    <div class="text-secondary small">
      {{ 'idSite' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.idSite || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn?.idUser !== undefined && data.internalGrn?.idUser !== null">
    <div class="text-secondary small">
      {{ 'idUser' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.idUser || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn?.idUserAcc !== undefined && data.internalGrn?.idUserAcc !== null">
    <div class="text-secondary small">
      {{ 'idUserAcc' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.idUserAcc || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn?.numberGrn !== undefined && data.internalGrn?.numberGrn !== null">
    <div class="text-secondary small">
      {{ 'numberGrn' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.numberGrn || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn?.remark !== undefined && data.internalGrn?.remark !== null">
    <div class="text-secondary small">
      {{ 'remark' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.remark || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn?.statusGrn !== undefined && data.internalGrn?.statusGrn !== null">
    <div class="text-secondary small">
      {{ 'statusGrn' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag nzColor="green">{{ data.internalGrn.statusGrn }}</nz-tag>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn?.updatedAt !== undefined && data.internalGrn?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.updatedAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn?.validasi !== undefined && data.internalGrn?.validasi !== null">
    <div class="text-secondary small">
      {{ 'validasi' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.validasi | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    <div class="col-12 mt-4" *ngIf="data.internalGrn?.site">
      <div class="fw-bold border-bottom mb-2">
        {{ 'internalGrn.site' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site?.address !== undefined && data.internalGrn.site?.address !== null">
    <div class="text-secondary small">
      {{ 'address' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.address || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site?.city !== undefined && data.internalGrn.site?.city !== null">
    <div class="text-secondary small">
      {{ 'city' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.city || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site?.codeSite !== undefined && data.internalGrn.site?.codeSite !== null">
    <div class="text-secondary small">
      {{ 'codeSite' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.codeSite || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site?.contactname !== undefined && data.internalGrn.site?.contactname !== null">
    <div class="text-secondary small">
      {{ 'contactname' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.contactname || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site?.country !== undefined && data.internalGrn.site?.country !== null">
    <div class="text-secondary small">
      {{ 'country' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.country || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site?.createdAt !== undefined && data.internalGrn.site?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site?.emailaddress !== undefined && data.internalGrn.site?.emailaddress !== null">
    <div class="text-secondary small">
      {{ 'emailaddress' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.emailaddress || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site?.fax !== undefined && data.internalGrn.site?.fax !== null">
    <div class="text-secondary small">
      {{ 'fax' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.fax || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site?.idNewSite !== undefined && data.internalGrn.site?.idNewSite !== null">
    <div class="text-secondary small">
      {{ 'idNewSite' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.idNewSite || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site?.idSite !== undefined && data.internalGrn.site?.idSite !== null">
    <div class="text-secondary small">
      {{ 'idSite' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.idSite || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site?.idUser !== undefined && data.internalGrn.site?.idUser !== null">
    <div class="text-secondary small">
      {{ 'idUser' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.idUser || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site?.isDeleted !== undefined && data.internalGrn.site?.isDeleted !== null">
    <div class="text-secondary small">
      {{ 'isDeleted' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.internalGrn.site.isDeleted" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.internalGrn.site.isDeleted">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site?.isMain !== undefined && data.internalGrn.site?.isMain !== null">
    <div class="text-secondary small">
      {{ 'isMain' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.internalGrn.site.isMain" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.internalGrn.site.isMain">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site?.isStore !== undefined && data.internalGrn.site?.isStore !== null">
    <div class="text-secondary small">
      {{ 'isStore' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.internalGrn.site.isStore" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.internalGrn.site.isStore">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site?.logoSite !== undefined && data.internalGrn.site?.logoSite !== null">
    <div class="text-secondary small">
      {{ 'logoSite' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.logoSite || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site?.mobile !== undefined && data.internalGrn.site?.mobile !== null">
    <div class="text-secondary small">
      {{ 'mobile' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.mobile || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site?.oldId !== undefined && data.internalGrn.site?.oldId !== null">
    <div class="text-secondary small">
      {{ 'oldId' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.oldId || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site?.parentSite !== undefined && data.internalGrn.site?.parentSite !== null">
    <div class="text-secondary small">
      {{ 'parentSite' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.parentSite | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site?.site !== undefined && data.internalGrn.site?.site !== null">
    <div class="text-secondary small">
      {{ 'site' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.site || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site?.statusSite !== undefined && data.internalGrn.site?.statusSite !== null">
    <div class="text-secondary small">
      {{ 'statusSite' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag nzColor="green">{{ data.internalGrn.site.statusSite }}</nz-tag>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site?.telephone !== undefined && data.internalGrn.site?.telephone !== null">
    <div class="text-secondary small">
      {{ 'telephone' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.telephone || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site?.typeSite !== undefined && data.internalGrn.site?.typeSite !== null">
    <div class="text-secondary small">
      {{ 'typeSite' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.typeSite || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site?.updatedAt !== undefined && data.internalGrn.site?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.updatedAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site?.validation !== undefined && data.internalGrn.site?.validation !== null">
    <div class="text-secondary small">
      {{ 'validation' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.validation | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    <div class="col-12 mt-4" *ngIf="data.internalGrn.site?.user">
      <div class="fw-bold border-bottom mb-2">
        {{ 'internalGrn.site.user' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site.user?.createdAt !== undefined && data.internalGrn.site.user?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.user.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site.user?.deskripsi !== undefined && data.internalGrn.site.user?.deskripsi !== null">
    <div class="text-secondary small">
      {{ 'deskripsi' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.user.deskripsi || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site.user?.idUserGroup !== undefined && data.internalGrn.site.user?.idUserGroup !== null">
    <div class="text-secondary small">
      {{ 'idUserGroup' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.user.idUserGroup || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site.user?.namaUserGroup !== undefined && data.internalGrn.site.user?.namaUserGroup !== null">
    <div class="text-secondary small">
      {{ 'namaUserGroup' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.user.namaUserGroup || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site.user?.status !== undefined && data.internalGrn.site.user?.status !== null">
    <div class="text-secondary small">
      {{ 'status' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag nzColor="green">{{ data.internalGrn.site.user.status }}</nz-tag>
      
    </div>
  </div>

  

        
          
  
    <div class="col-12 mt-4" *ngIf="data.internalGrn.site.user?.userGroup">
      <div class="fw-bold border-bottom mb-2">
        {{ 'internalGrn.site.user.userGroup' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site.user.userGroup?.createdAt !== undefined && data.internalGrn.site.user.userGroup?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.user.userGroup.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site.user.userGroup?.deskripsi !== undefined && data.internalGrn.site.user.userGroup?.deskripsi !== null">
    <div class="text-secondary small">
      {{ 'deskripsi' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.user.userGroup.deskripsi || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site.user.userGroup?.idUserGroup !== undefined && data.internalGrn.site.user.userGroup?.idUserGroup !== null">
    <div class="text-secondary small">
      {{ 'idUserGroup' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.user.userGroup.idUserGroup || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site.user.userGroup?.namaUserGroup !== undefined && data.internalGrn.site.user.userGroup?.namaUserGroup !== null">
    <div class="text-secondary small">
      {{ 'namaUserGroup' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.internalGrn.site.user.userGroup.namaUserGroup || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.internalGrn.site.user.userGroup?.status !== undefined && data.internalGrn.site.user.userGroup?.status !== null">
    <div class="text-secondary small">
      {{ 'status' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag nzColor="green">{{ data.internalGrn.site.user.userGroup.status }}</nz-tag>
      
    </div>
  </div>

  

        
      </div>
    </div>
  

        
      </div>
    </div>
  

        
      </div>
    </div>
  

        
      </div>
    </div>
  
 <br> 
  
</div>
