



<!-- ✅ Start rendering -->
<div class="row">
  
    
  
    
  <div class="col-md-3" *ngIf="data?.createdAt !== undefined && data?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.createdAt | date:'short' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.hashIdUser !== undefined && data?.hashIdUser !== null">
    <div class="text-secondary small">
      {{ 'hashIdUser' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.hashIdUser | number:'1.0-0' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idPilot !== undefined && data?.idPilot !== null">
    <div class="text-secondary small">
      {{ 'idPilot' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.idPilot || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.isDeleted !== undefined && data?.isDeleted !== null">
    <div class="text-secondary small">
      {{ 'isDeleted' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.isDeleted" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.isDeleted">-</span>
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.namePilot !== undefined && data?.namePilot !== null">
    <div class="text-secondary small">
      {{ 'namePilot' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.namePilot || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.status !== undefined && data?.status !== null">
    <div class="text-secondary small">
      {{ 'status' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag nzColor="green">{{ data.status }}</nz-tag>
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.type !== undefined && data?.type !== null">
    <div class="text-secondary small">
      {{ 'type' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.type || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.updatedAt !== undefined && data?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.updatedAt | date:'short' }}
      
    </div>
  </div>

  
 <br> 
  
</div>
