<nz-spin [nzSpinning]="is_loading">
    <form [formGroup]="form" (ngSubmit)="submit()" nz-form [nzLayout]="'vertical'">
        
        <nz-form-item>
            <nz-form-label nzFor="line0">{{ 'line0' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="line0" formControlName="line0" placeholder="Masukkan {{ 'line0' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="line1">{{ 'line1' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="line1" formControlName="line1" placeholder="Masukkan {{ 'line1' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="line2">{{ 'line2' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="line2" formControlName="line2" placeholder="Masukkan {{ 'line2' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="line3">{{ 'line3' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="line3" formControlName="line3" placeholder="Masukkan {{ 'line3' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="line4">{{ 'line4' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="line4" formControlName="line4" placeholder="Masukkan {{ 'line4' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="line5">{{ 'line5' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="line5" formControlName="line5" placeholder="Masukkan {{ 'line5' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="line6">{{ 'line6' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="line6" formControlName="line6" placeholder="Masukkan {{ 'line6' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="line7">{{ 'line7' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="line7" formControlName="line7" placeholder="Masukkan {{ 'line7' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="line8">{{ 'line8' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="line8" formControlName="line8" placeholder="Masukkan {{ 'line8' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="statusShipping">{{ 'statusShipping' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="statusShipping" formControlName="statusShipping" placeholder="Masukkan {{ 'statusShipping' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-control>
                <button nz-button nzType="primary" [disabled]="form.invalid">Simpan</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-spin>