<nz-spin [nzSpinning]="is_loading">
    <form [formGroup]="form" (ngSubmit)="submit()" nz-form [nzLayout]="'vertical'">
        
        <nz-form-item>
            <nz-form-label nzFor="childnamePartid">{{ 'childnamePartid' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="childnamePartid" formControlName="childnamePartid" placeholder="Masukkan {{ 'childnamePartid' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="description">{{ 'description' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="description" formControlName="description" placeholder="Masukkan {{ 'description' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-control>
                <label nz-checkbox formControlName="isDeleted">{{ 'isDeleted' | translate }}</label>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="issingle">{{ 'issingle' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="issingle" formControlName="issingle" placeholder="Masukkan {{ 'issingle' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="partid">{{ 'partid' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="partid" formControlName="partid" placeholder="Masukkan {{ 'partid' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-control>
                <button nz-button nzType="primary" [disabled]="form.invalid">Simpan</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-spin>