<nz-card nzTitle="{{filter.status|titlecase}} ({{ total }})" [nzExtra]="extraTemplate" [nzBodyStyle]="{padding:0}">
    <div class="filter" [hidden]="!filter_extra">
        <form nz-form [nzLayout]="'vertical'" role="form">
            <div nz-row [nzGutter]="8">
                <div nz-col [nzXl]="{ span: 6}" [nzLg]="{ span: 8}" [nzMd]="{ span: 12}" [nzXs]="{ span: 24}">
                    <nz-form-item>
                        <nz-form-label>&nbsp;</nz-form-label>
                        <nz-form-control>
                            <nz-input-group nzSearch [nzAddOnBefore]="addOnBeforeTemplate"
                                [nzAddOnAfter]="suffixIconButton" style="width: 100%;">
                                <input type="text" nz-input placeholder="{{'search'|translate|titlecase}}"
                                    [(ngModel)]="search" name="search" (keyup.enter)="searchData()" />
                            </nz-input-group>
                            <ng-template #suffixIconButton>
                                <button nz-button nzType="default" nzSearch (click)="searchData()"><span nz-icon
                                        nzType="search"></span></button>
                            </ng-template>
                            <ng-template #addOnBeforeTemplate>
                                <span nz-icon nzTheme="twotone" nzType="question-circle" nz-popover
                                    nzPopoverTitle="Pencarian berdasarkan" [nzPopoverContent]="tipsPencarian"
                                    nzPopoverPlacement="top"></span>
                                <ng-template #tipsPencarian>
                                    <div>
                                        <ul>
                                            <li *ngFor="let item of search_field">{{ item | translate }}</li>
                                        </ul>
                                    </div>
                                </ng-template>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'apuStart' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.apuStartMin" name="apuStartMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.apuStartMax" name="apuStartMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'cycles' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.cyclesMin" name="cyclesMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.cyclesMax" name="cyclesMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'flightHours' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.flightHoursMin" name="flightHoursMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.flightHoursMax" name="flightHoursMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'hoistUsage' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.hoistUsageMin" name="hoistUsageMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.hoistUsageMax" name="hoistUsageMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'idCaptain' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-select [(ngModel)]="filter.idCaptain" name="idCaptain" nzAllowClear>
                            <nz-option *ngFor="let item of listCaptain" [nzValue]="item.idCaptain" [nzLabel]="item.namaCaptain"></nz-option>
                        </nz-select>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'idTechLog' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-select [(ngModel)]="filter.idTechLog" name="idTechLog" nzAllowClear>
                            <nz-option *ngFor="let item of listTechLog" [nzValue]="item.idTechLog" [nzLabel]="item.namaTechLog"></nz-option>
                        </nz-select>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'landings' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.landingsMin" name="landingsMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.landingsMax" name="landingsMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'slingReleased' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.slingReleasedMin" name="slingReleasedMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.slingReleasedMax" name="slingReleasedMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                
 
                <div nz-col nzSpan="24">

                    <nz-form-item>
                        <nz-form-control>
                            <button nz-button nzType="primary" (click)="print()" style="margin-right: 5px;">
                                <span nz-icon nzType="printer"></span>
                                Print
                            </button>
                            <button nz-button nzType="primary" (click)="searchData()" [nzLoading]="loading"
                                style="margin-right: 10px;"><span nz-icon nzType="filter"></span>Filter</button>
                            <button nz-button nzType="default" (click)="resetData()" [nzLoading]="loading"
                                style="margin-right: 10px;"><span nz-icon nzType="reload"></span>Reset</button>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </div>
    <div style="overflow: auto; background-color: white;">
        <nz-table nzShowSizeChanger [nzData]="listOfData" [nzFrontPagination]="false" [nzLoading]="loading"
            [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
            (nzQueryParams)="onQueryParamsChange($event)" nzSize="small">
            <thead>
                <tr>
                    <th   [nzAlign]="'right'">#ID</th>
                    
                    <th [nzSortFn]="true" nzColumnKey="apuStart" *ngIf="isColVisible('apuStart')">
                        {{ 'apuStart' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="cgPenalty" *ngIf="isColVisible('cgPenalty')">
                        {{ 'cgPenalty' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="cocaCaptain" *ngIf="isColVisible('cocaCaptain')">
                        {{ 'cocaCaptain' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="cycles" *ngIf="isColVisible('cycles')">
                        {{ 'cycles' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="flightFrom" *ngIf="isColVisible('flightFrom')">
                        {{ 'flightFrom' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="flightHours" *ngIf="isColVisible('flightHours')">
                        {{ 'flightHours' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="flightTo" *ngIf="isColVisible('flightTo')">
                        {{ 'flightTo' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="hoistOperation" *ngIf="isColVisible('hoistOperation')">
                        {{ 'hoistOperation' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="hoistUsage" *ngIf="isColVisible('hoistUsage')">
                        {{ 'hoistUsage' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="landingTime" *ngIf="isColVisible('landingTime')">
                        {{ 'landingTime' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="landings" *ngIf="isColVisible('landings')">
                        {{ 'landings' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="noteTechLogItem" *ngIf="isColVisible('noteTechLogItem')">
                        {{ 'noteTechLogItem' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="slingReleased" *ngIf="isColVisible('slingReleased')">
                        {{ 'slingReleased' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="takeofTime" *ngIf="isColVisible('takeofTime')">
                        {{ 'takeofTime' | translate }}
                     </th>
                    
                    <th nzWidth="7%" [nzAlign]="'right'">Action</th>
                </tr> 
            </thead>
            <tbody>
                <ng-container *ngFor="let data of listOfData" style="vertical-align: top;">
                    <tr>
                        <td [nzExpand]="expandSet.has(data.idTechLogItem)"
                            (nzExpandChange)="onExpandChange(data.idTechLogItem, $event)">
                            <nz-badge *ngIf="data.idTechLogItem!=null" nzColor="{{ data.idTechLogItem?.toLowerCase() | status }}"
                                nzText="{{data.idTechLogItem?.toLowerCase() }}"></nz-badge>  
                        </td>
                        
                        
                            <td *ngIf="isColVisible('apuStart')">
                                
                                                        {{ data.apuStart  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('cgPenalty')">
                                
                                                        {{ data.cgPenalty  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('cocaCaptain')">
                                
                                                        {{ data.cocaCaptain  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('cycles')">
                                
                                                        {{ data.cycles  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('flightFrom')">
                                
                                                        {{ data.flightFrom  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('flightHours')">
                                
                                                        {{ data.flightHours  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('flightTo')">
                                
                                                        {{ data.flightTo  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('hoistOperation')">
                                
                                                        {{ data.hoistOperation  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('hoistUsage')">
                                
                                                        {{ data.hoistUsage  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('landingTime')">
                                
                                                        {{ data.landingTime  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('landings')">
                                
                                                        {{ data.landings  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('noteTechLogItem')">
                                
                                                        {{ data.noteTechLogItem  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('slingReleased')">
                                
                                                        {{ data.slingReleased  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('takeofTime')">
                                
                                                        {{ data.takeofTime  }}
                                                            
                            </td>
                            

                        <td [nzAlign]="'right'">
                            <button nz-button nz-dropdown [nzDropdownMenu]="menu">
                                Actions
                                <span nz-icon nzType="down"></span>
                            </button>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item (click)="detail(data)">
                                        <span nz-icon nzType="pic-center" nzTheme="outline"></span>&nbsp;&nbsp;Detail
                                    </li>
                                    <!--  -->
                                    <li nz-menu-item (click)="update(data)" *ngIf="data.status=='draft'">
                                        <span nz-icon nzType="edit" nzTheme="outline"></span>&nbsp;&nbsp;Update
                                    </li>
                                    <li nz-menu-divider *ngIf="data.status=='draft'"></li>
                                    <li nz-menu-item nz-menu-item nz-popconfirm class="text-danger"
                                        *ngIf="data.status=='draft'"
                                        nzPopconfirmTitle="Apakah Anda yakin akan menghapus data ini?"
                                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data.idTechLogItem)"><span
                                            nz-icon nzType="delete" nzTheme="outline"></span>
                                        <a class="m-1 text-danger">&nbsp;&nbsp;Delete</a>
                                    </li>
                                </ul>
                            </nz-dropdown-menu>
                        </td>
                    </tr>
                    <tr [nzExpand]="expandSet.has(data.idTechLogItem)">
                        <app-tech-log-item-share-header [data]="data"></app-tech-log-item-share-header> 
                    </tr>
                </ng-container>
                 
            </tbody>
        </nz-table>
    </div>
</nz-card>
<ng-template #extraTemplate>
    <ng-container *ngIf="!filter_extra">
        <nz-input-group nzSearch [nzAddOnBefore]="addOnBeforeTemplate" [nzAddOnAfter]="suffixIconButton"
            style="max-width: 180px;">
            <input type="text" nz-input placeholder="{{'search'|translate|titlecase}}" [(ngModel)]="search"
                name="search" (keyup.enter)="searchData()" />
        </nz-input-group>
        <ng-template #suffixIconButton>
            <button nz-button nzType="default" nzSearch (click)="searchData()"><span nz-icon
                    nzType="search"></span></button>
        </ng-template>
        <ng-template #addOnBeforeTemplate>
            <span nz-icon nzTheme="twotone" nzType="question-circle" nz-popover nzPopoverTitle="Pencarian berdasarkan"
                [nzPopoverContent]="tipsPencarian" nzPopoverPlacement="top"></span>
            <ng-template #tipsPencarian>
                <div>
                    <ul>
                        <li *ngFor="let item of search_field">{{ item | translate }}</li>
                    </ul>
                </div>
            </ng-template>
        </ng-template>
    </ng-container>
    <button nz-button [nzType]="filter_extra ? 'primary' :'default'" style="margin-bottom: 8px;margin-left: 10px;"
        (click)="filter_extra=!filter_extra">
        <span nz-icon nzType="filter" nzTheme="outline"></span> Filter
    </button>
    <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzTy [nzPlacement]="'topRight'"><i nz-icon nzType="appstore"></i></button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item *ngFor="let col of columns">
                <label nz-checkbox [(ngModel)]="col.show" (ngModelChange)="onColumnToggle()">
                    {{ col.key | translate }}
                </label>
            </li>
        </ul>
    </nz-dropdown-menu> 
    <button nz-button nzType="link" (click)="resetColumns()" nz-tooltip nzTooltipTitle="{{ 'Reset Kolom' | translate }}"><i nz-icon nzType="undo"></i></button>

    <button nz-button style="margin-bottom: 8px;margin-left: 10px;" nzType="primary" (click)="add()">
        <span nz-icon nzType="plus" nzTheme="outline"></span> Add New
    </button>
</ng-template>