<nz-spin nzTip="Loading..." [nzSpinning]="is_loading">

   
    <!--
     <lib-approval-steps [for-module-name]="'maintenance-code'" [for-module-id]="maintenance-code?.idMaintenanceCode" [current-status]="maintenance-code?.statusMaintenanceCode"></lib-approval-steps>
         -->

    <div class="card bg-white p-3" style="box-shadow: none;">
        <div class="row">
            <div class="col-md-8">
                <app-maintenance-code-share-header [data]="maintenanceCode"></app-maintenance-code-share-header>
                <lib-custom-field [from-module]="'AmimsMaintenanceCode'"
                    [from-module-id]="maintenanceCode?.idMaintenanceCode"></lib-custom-field>
            </div>
            <div class="col-md-4">
                <document-widget-v1 [for-module-id]="maintenanceCode?.idMaintenanceCode"
                    [for-module]="'AmimsMaintenanceCode'" [enable-crud]="true"></document-widget-v1>

                <!-- <approval-mode-widget *ngIf="maintenanceCode.status??'-'.toLowerCase() !='close'"
                    style="margin-right: 5px;" [module-id]="maintenanceCode.id_contractSite" [module]="'AmimsMaintenanceCode'"
                    [flow-id]="maintenanceCode.id_data_flow" [flow-detail]="maintenanceCode.id_data_flow_detail"
                    (reload)="approve($event)">
                </approval-mode-widget> -->

            </div>
        </div>


        <br>


    </div>

   

    

    <div class="card">
        <div class="card-body p-2">
            <!-- <app-maintenance-code-share-list [filter-extra]="false" [idMaintenanceCode]="idMaintenanceCode"></app-maintenance-code-share-list> -->
        </div>
    </div>

    <!-- 
    <lib-approval-form-widget [from-module]="'AmimsMaintenanceCode'" [from-module-id]="maintenance-code?.idMaintenanceCode"
        (onSubmit)="handleApprovalSubmit($event)" (onAfterSubmit)="refreshApprovalSteps()"></lib-approval-form-widget> 
            -->

</nz-spin>
<br>