<nz-spin [nzSpinning]="is_loading">
    <form [formGroup]="form" (ngSubmit)="submit()" nz-form [nzLayout]="'vertical'">
        
        <nz-form-item>
            <nz-form-label nzFor="calculatedCycle">{{ 'calculatedCycle' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="calculatedCycle" formControlName="calculatedCycle" placeholder="Masukkan {{ 'calculatedCycle' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="calculatedHours">{{ 'calculatedHours' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="calculatedHours" formControlName="calculatedHours" placeholder="Masukkan {{ 'calculatedHours' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="childname">{{ 'childname' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="childname" formControlName="childname" placeholder="Masukkan {{ 'childname' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="codeAtaMentah">{{ 'codeAtaMentah' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="codeAtaMentah" formControlName="codeAtaMentah" placeholder="Masukkan {{ 'codeAtaMentah' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="descriptionMpart">{{ 'descriptionMpart' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="descriptionMpart" formControlName="descriptionMpart" placeholder="Masukkan {{ 'descriptionMpart' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="forAc">{{ 'forAc' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="forAc" formControlName="forAc" placeholder="Masukkan {{ 'forAc' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idAta">{{ 'idAta' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idAta" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idAta' | translate }}"> 
                    <nz-option *ngFor="let item of listAta" nzLabel="{{ item.idAta }}" nzValue="{{ item.idAta }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idConditionMonitoring">{{ 'idConditionMonitoring' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idConditionMonitoring" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idConditionMonitoring' | translate }}"> 
                    <nz-option *ngFor="let item of listConditionMonitoring" nzLabel="{{ item.idConditionMonitoring }}" nzValue="{{ item.idConditionMonitoring }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idGroup">{{ 'idGroup' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idGroup" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idGroup' | translate }}"> 
                    <nz-option *ngFor="let item of listGroup" nzLabel="{{ item.idGroup }}" nzValue="{{ item.idGroup }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idLifeTimeLimit">{{ 'idLifeTimeLimit' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idLifeTimeLimit" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idLifeTimeLimit' | translate }}"> 
                    <nz-option *ngFor="let item of listLifeTimeLimit" nzLabel="{{ item.idLifeTimeLimit }}" nzValue="{{ item.idLifeTimeLimit }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idPartCategory">{{ 'idPartCategory' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idPartCategory" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idPartCategory' | translate }}"> 
                    <nz-option *ngFor="let item of listPartCategory" nzLabel="{{ item.idPartCategory }}" nzValue="{{ item.idPartCategory }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idPartid">{{ 'idPartid' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idPartid" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idPartid' | translate }}"> 
                    <nz-option *ngFor="let item of listPartid" nzLabel="{{ item.idPartid }}" nzValue="{{ item.idPartid }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-control>
                <label nz-checkbox formControlName="isDeleted">{{ 'isDeleted' | translate }}</label>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-control>
                <label nz-checkbox formControlName="isMandatory">{{ 'isMandatory' | translate }}</label>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="ismayor">{{ 'ismayor' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="ismayor" formControlName="ismayor" placeholder="Masukkan {{ 'ismayor' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="keyword">{{ 'keyword' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="keyword" formControlName="keyword" placeholder="Masukkan {{ 'keyword' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="lifeLimitCycle">{{ 'lifeLimitCycle' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="lifeLimitCycle" formControlName="lifeLimitCycle" placeholder="Masukkan {{ 'lifeLimitCycle' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="lifeLimitHours">{{ 'lifeLimitHours' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="lifeLimitHours" formControlName="lifeLimitHours" placeholder="Masukkan {{ 'lifeLimitHours' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="lifeLimitVal">{{ 'lifeLimitVal' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="lifeLimitVal" formControlName="lifeLimitVal" placeholder="Masukkan {{ 'lifeLimitVal' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="lifeLimitVar">{{ 'lifeLimitVar' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="lifeLimitVar" formControlName="lifeLimitVar" placeholder="Masukkan {{ 'lifeLimitVar' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="manufactureMpart">{{ 'manufactureMpart' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="manufactureMpart" formControlName="manufactureMpart" placeholder="Masukkan {{ 'manufactureMpart' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="mat_82">{{ 'mat_82' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="mat_82" formControlName="mat_82" placeholder="Masukkan {{ 'mat_82' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="mfigureIndex">{{ 'mfigureIndex' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="mfigureIndex" formControlName="mfigureIndex" placeholder="Masukkan {{ 'mfigureIndex' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="minQty">{{ 'minQty' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="minQty" formControlName="minQty" placeholder="Masukkan {{ 'minQty' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="mitemIndex">{{ 'mitemIndex' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="mitemIndex" formControlName="mitemIndex" placeholder="Masukkan {{ 'mitemIndex' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="mtboCycle">{{ 'mtboCycle' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="mtboCycle" formControlName="mtboCycle" placeholder="Masukkan {{ 'mtboCycle' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="mtboHours">{{ 'mtboHours' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="mtboHours" formControlName="mtboHours" placeholder="Masukkan {{ 'mtboHours' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="mtboVal">{{ 'mtboVal' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="mtboVal" formControlName="mtboVal" placeholder="Masukkan {{ 'mtboVal' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="mtboVar">{{ 'mtboVar' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="mtboVar" formControlName="mtboVar" placeholder="Masukkan {{ 'mtboVar' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="oldAtachapter">{{ 'oldAtachapter' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="oldAtachapter" formControlName="oldAtachapter" placeholder="Masukkan {{ 'oldAtachapter' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="oldId">{{ 'oldId' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="oldId" formControlName="oldId" placeholder="Masukkan {{ 'oldId' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="parent">{{ 'parent' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="parent" formControlName="parent" placeholder="Masukkan {{ 'parent' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="partNumber">{{ 'partNumber' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="partNumber" formControlName="partNumber" placeholder="Masukkan {{ 'partNumber' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="partname">{{ 'partname' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="partname" formControlName="partname" placeholder="Masukkan {{ 'partname' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="refMel">{{ 'refMel' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="refMel" formControlName="refMel" placeholder="Masukkan {{ 'refMel' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="statusMpart">{{ 'statusMpart' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="statusMpart" formControlName="statusMpart" placeholder="Masukkan {{ 'statusMpart' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="unit">{{ 'unit' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="unit" formControlName="unit" placeholder="Masukkan {{ 'unit' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-control>
                <button nz-button nzType="primary" [disabled]="form.invalid">Simpan</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-spin>