



<!-- ✅ Start rendering -->
<div class="row">
  
    
  
    
  <div class="col-md-3" *ngIf="data?.atachapter !== undefined && data?.atachapter !== null">
    <div class="text-secondary small">
      {{ 'atachapter' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.atachapter || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.createdAt !== undefined && data?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.createdAt | date:'short' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.cycleFrom !== undefined && data?.cycleFrom !== null">
    <div class="text-secondary small">
      {{ 'cycleFrom' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.cycleFrom | number:'1.0-0' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.cycleTo !== undefined && data?.cycleTo !== null">
    <div class="text-secondary small">
      {{ 'cycleTo' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.cycleTo | number:'1.0-0' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.flightHoursFrom !== undefined && data?.flightHoursFrom !== null">
    <div class="text-secondary small">
      {{ 'flightHoursFrom' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.flightHoursFrom | number:'1.0-0' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.flightHoursTo !== undefined && data?.flightHoursTo !== null">
    <div class="text-secondary small">
      {{ 'flightHoursTo' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.flightHoursTo | number:'1.0-0' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idMaintenance !== undefined && data?.idMaintenance !== null">
    <div class="text-secondary small">
      {{ 'idMaintenance' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.idMaintenance || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idMaintenanceCode !== undefined && data?.idMaintenanceCode !== null">
    <div class="text-secondary small">
      {{ 'idMaintenanceCode' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.idMaintenanceCode || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idMpart !== undefined && data?.idMpart !== null">
    <div class="text-secondary small">
      {{ 'idMpart' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.idMpart || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idUser !== undefined && data?.idUser !== null">
    <div class="text-secondary small">
      {{ 'idUser' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.idUser || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.noteMaintenance !== undefined && data?.noteMaintenance !== null">
    <div class="text-secondary small">
      {{ 'noteMaintenance' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.noteMaintenance || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.oldId !== undefined && data?.oldId !== null">
    <div class="text-secondary small">
      {{ 'oldId' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.oldId || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.onLocation !== undefined && data?.onLocation !== null">
    <div class="text-secondary small">
      {{ 'onLocation' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.onLocation || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.repetitions !== undefined && data?.repetitions !== null">
    <div class="text-secondary small">
      {{ 'repetitions' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.repetitions | number:'1.0-0' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.timeRangeForm !== undefined && data?.timeRangeForm !== null">
    <div class="text-secondary small">
      {{ 'timeRangeForm' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.timeRangeForm | number:'1.0-0' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.timeRangeTo !== undefined && data?.timeRangeTo !== null">
    <div class="text-secondary small">
      {{ 'timeRangeTo' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.timeRangeTo | number:'1.0-0' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.timeUnit !== undefined && data?.timeUnit !== null">
    <div class="text-secondary small">
      {{ 'timeUnit' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.timeUnit || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.typeMaintenance !== undefined && data?.typeMaintenance !== null">
    <div class="text-secondary small">
      {{ 'typeMaintenance' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.typeMaintenance || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.updatedAt !== undefined && data?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.updatedAt | date:'short' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    <div class="col-12 mt-4" *ngIf="data?.maintenanceCode">
      <div class="fw-bold border-bottom mb-2">
        {{ 'maintenanceCode' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.maintenanceCode?.classification !== undefined && data.maintenanceCode?.classification !== null">
    <div class="text-secondary small">
      {{ 'classification' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.maintenanceCode?.classification || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.maintenanceCode?.createdAt !== undefined && data.maintenanceCode?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.maintenanceCode?.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.maintenanceCode?.descriptionMaintenance !== undefined && data.maintenanceCode?.descriptionMaintenance !== null">
    <div class="text-secondary small">
      {{ 'descriptionMaintenance' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.maintenanceCode?.descriptionMaintenance || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.maintenanceCode?.isDeleted !== undefined && data.maintenanceCode?.isDeleted !== null">
    <div class="text-secondary small">
      {{ 'isDeleted' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.maintenanceCode.isDeleted" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.maintenanceCode.isDeleted">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.maintenanceCode?.maintenanceCode !== undefined && data.maintenanceCode?.maintenanceCode !== null">
    <div class="text-secondary small">
      {{ 'maintenanceCode' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.maintenanceCode?.maintenanceCode || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.maintenanceCode?.oldId !== undefined && data.maintenanceCode?.oldId !== null">
    <div class="text-secondary small">
      {{ 'oldId' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.maintenanceCode?.oldId || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.maintenanceCode?.reference !== undefined && data.maintenanceCode?.reference !== null">
    <div class="text-secondary small">
      {{ 'reference' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.maintenanceCode?.reference || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.maintenanceCode?.updatedAt !== undefined && data.maintenanceCode?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.maintenanceCode?.updatedAt | date:'short' }}
      
    </div>
  </div>

  

        
      </div>
    </div>
  
 <br> 
  
    
  
    <div class="col-12 mt-4" *ngIf="data?.mpart">
      <div class="fw-bold border-bottom mb-2">
        {{ 'mpart' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.calculatedCycle !== undefined && data.mpart?.calculatedCycle !== null">
    <div class="text-secondary small">
      {{ 'calculatedCycle' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.calculatedCycle || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.calculatedHours !== undefined && data.mpart?.calculatedHours !== null">
    <div class="text-secondary small">
      {{ 'calculatedHours' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.calculatedHours || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.childname !== undefined && data.mpart?.childname !== null">
    <div class="text-secondary small">
      {{ 'childname' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.childname || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.codeAtaMentah !== undefined && data.mpart?.codeAtaMentah !== null">
    <div class="text-secondary small">
      {{ 'codeAtaMentah' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.codeAtaMentah || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.createdAt !== undefined && data.mpart?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.descriptionMpart !== undefined && data.mpart?.descriptionMpart !== null">
    <div class="text-secondary small">
      {{ 'descriptionMpart' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.descriptionMpart || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.forAc !== undefined && data.mpart?.forAc !== null">
    <div class="text-secondary small">
      {{ 'forAc' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.forAc | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.isDeleted !== undefined && data.mpart?.isDeleted !== null">
    <div class="text-secondary small">
      {{ 'isDeleted' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.mpart.isDeleted" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.mpart.isDeleted">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.isMandatory !== undefined && data.mpart?.isMandatory !== null">
    <div class="text-secondary small">
      {{ 'isMandatory' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.mpart.isMandatory" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.mpart.isMandatory">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.ismayor !== undefined && data.mpart?.ismayor !== null">
    <div class="text-secondary small">
      {{ 'ismayor' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.mpart.ismayor" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.mpart.ismayor">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.keyword !== undefined && data.mpart?.keyword !== null">
    <div class="text-secondary small">
      {{ 'keyword' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.keyword || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.lastPrice !== undefined && data.mpart?.lastPrice !== null">
    <div class="text-secondary small">
      {{ 'lastPrice' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.lastPrice | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.lastPriceCurrency !== undefined && data.mpart?.lastPriceCurrency !== null">
    <div class="text-secondary small">
      {{ 'lastPriceCurrency' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.lastPriceCurrency || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.lifeLimitCycle !== undefined && data.mpart?.lifeLimitCycle !== null">
    <div class="text-secondary small">
      {{ 'lifeLimitCycle' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.lifeLimitCycle | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.lifeLimitHours !== undefined && data.mpart?.lifeLimitHours !== null">
    <div class="text-secondary small">
      {{ 'lifeLimitHours' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.lifeLimitHours | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.lifeLimitVal !== undefined && data.mpart?.lifeLimitVal !== null">
    <div class="text-secondary small">
      {{ 'lifeLimitVal' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.lifeLimitVal | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.lifeLimitVar !== undefined && data.mpart?.lifeLimitVar !== null">
    <div class="text-secondary small">
      {{ 'lifeLimitVar' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.lifeLimitVar || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.manufactureMpart !== undefined && data.mpart?.manufactureMpart !== null">
    <div class="text-secondary small">
      {{ 'manufactureMpart' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.manufactureMpart || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.mat_82 !== undefined && data.mpart?.mat_82 !== null">
    <div class="text-secondary small">
      {{ 'mat_82' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.mat_82 || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.mfigureIndex !== undefined && data.mpart?.mfigureIndex !== null">
    <div class="text-secondary small">
      {{ 'mfigureIndex' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.mfigureIndex || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.minQty !== undefined && data.mpart?.minQty !== null">
    <div class="text-secondary small">
      {{ 'minQty' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.minQty | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.mitemIndex !== undefined && data.mpart?.mitemIndex !== null">
    <div class="text-secondary small">
      {{ 'mitemIndex' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.mitemIndex || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.mtboCycle !== undefined && data.mpart?.mtboCycle !== null">
    <div class="text-secondary small">
      {{ 'mtboCycle' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.mtboCycle | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.mtboHours !== undefined && data.mpart?.mtboHours !== null">
    <div class="text-secondary small">
      {{ 'mtboHours' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.mtboHours | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.mtboVal !== undefined && data.mpart?.mtboVal !== null">
    <div class="text-secondary small">
      {{ 'mtboVal' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.mtboVal | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.mtboVar !== undefined && data.mpart?.mtboVar !== null">
    <div class="text-secondary small">
      {{ 'mtboVar' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.mtboVar || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.oldAtachapter !== undefined && data.mpart?.oldAtachapter !== null">
    <div class="text-secondary small">
      {{ 'oldAtachapter' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.oldAtachapter || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.oldId !== undefined && data.mpart?.oldId !== null">
    <div class="text-secondary small">
      {{ 'oldId' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.oldId || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.parent !== undefined && data.mpart?.parent !== null">
    <div class="text-secondary small">
      {{ 'parent' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.parent || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.partNumber !== undefined && data.mpart?.partNumber !== null">
    <div class="text-secondary small">
      {{ 'partNumber' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.partNumber || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.partname !== undefined && data.mpart?.partname !== null">
    <div class="text-secondary small">
      {{ 'partname' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.partname || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.refMel !== undefined && data.mpart?.refMel !== null">
    <div class="text-secondary small">
      {{ 'refMel' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.refMel || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.statusMpart !== undefined && data.mpart?.statusMpart !== null">
    <div class="text-secondary small">
      {{ 'statusMpart' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag nzColor="green">{{ data.mpart.statusMpart }}</nz-tag>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.unit !== undefined && data.mpart?.unit !== null">
    <div class="text-secondary small">
      {{ 'unit' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.unit || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.mpart?.updatedAt !== undefined && data.mpart?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mpart?.updatedAt | date:'short' }}
      
    </div>
  </div>

  

        
      </div>
    </div>
  
 <br> 
  
    
  
    <div class="col-12 mt-4" *ngIf="data?.user">
      <div class="fw-bold border-bottom mb-2">
        {{ 'user' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.user?.dateLog !== undefined && data.user?.dateLog !== null">
    <div class="text-secondary small">
      {{ 'dateLog' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.user?.dateLog || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.user?.method !== undefined && data.user?.method !== null">
    <div class="text-secondary small">
      {{ 'method' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.user?.method || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.user?.methodValue !== undefined && data.user?.methodValue !== null">
    <div class="text-secondary small">
      {{ 'methodValue' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.user?.methodValue || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.user?.typeIdKey !== undefined && data.user?.typeIdKey !== null">
    <div class="text-secondary small">
      {{ 'typeIdKey' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.user?.typeIdKey || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.user?.typeLog !== undefined && data.user?.typeLog !== null">
    <div class="text-secondary small">
      {{ 'typeLog' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.user?.typeLog || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.user?.typeValue !== undefined && data.user?.typeValue !== null">
    <div class="text-secondary small">
      {{ 'typeValue' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.user?.typeValue || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.user?.typeWork !== undefined && data.user?.typeWork !== null">
    <div class="text-secondary small">
      {{ 'typeWork' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.user?.typeWork || '-' }}
      
    </div>
  </div>

  

        
      </div>
    </div>
  
 <br> 
  
</div>
