<nz-spin nzTip="Loading..." [nzSpinning]="is_loading">

    <div class="card border-0 mb-1 border-left-5 border-theme card   bg-white">
        <div class="card-body p-2">
            <div class="row">
                 
 
            </div>
        </div>
    </div>
    <!-- <approval-flow-log-widget [module-id]="workflowStep.id_contractSite" [module]="'workflowStep'"
        [data_flow]="workflowStep.id_data_flow"
        [flow-detail]="workflowStep.id_data_flow_detail"></approval-flow-log-widget> -->
        <br>
    <div class="card bg-white p-3" style="box-shadow: none;">
        <div class="row">
            <div class="col-md-8">
                <app-workflow-step-share-header [data]="workflowStep"></app-workflow-step-share-header>
            </div>
            <div class="col-md-4">
                <document-widget-v1 [for-module-id]="workflowStep?.idWorkflowStep" [for-module]="'contract_site'"  [enable-crud]="true"></document-widget-v1>
                    
                <!-- <approval-mode-widget *ngIf="workflowStep.status??'-'.toLowerCase() !='close'"
                    style="margin-right: 5px;" [module-id]="workflowStep.id_contractSite" [module]="'workflowStep'"
                    [flow-id]="workflowStep.id_data_flow" [flow-detail]="workflowStep.id_data_flow_detail"
                    (reload)="approve($event)">
                </approval-mode-widget> -->

            </div>
        </div>


        <br>

 
    </div>

    <div class="site-page-header-ghost-wrapper">
        <nz-page-header [nzGhost]="false">
        <nz-page-header-title>Item</nz-page-header-title>
    </nz-page-header>
    </div >

    <div class="card">
        <div class="card-body p-2">
                <!-- <app-contract-site-share-list [filter-extra]="false" [idWorkflowStep]="idWorkflowStep"></app-contract-site-share-list> -->
    </div>
    </div >

</nz-spin>
<br>

