
  <div class="mb-3">
    <div class="text-secondary small">Date Log</div>
    <div class="fw-semibold text-dark">
      
        {{ data.dateLog || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Method</div>
    <div class="fw-semibold text-dark">
      
        {{ data.method || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Method Value</div>
    <div class="fw-semibold text-dark">
      
        {{ data.methodValue || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Type Id Key</div>
    <div class="fw-semibold text-dark">
      
        {{ data.typeIdKey || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Type Log</div>
    <div class="fw-semibold text-dark">
      
        {{ data.typeLog || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Type Value</div>
    <div class="fw-semibold text-dark">
      
        {{ data.typeValue || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Type Work</div>
    <div class="fw-semibold text-dark">
      
        {{ data.typeWork || '-' }}
      
    </div>
  </div>

