
  <div class="mb-3">
    <div class="text-secondary small">Alamat</div>
    <div class="fw-semibold text-dark">
      
        {{ data.alamat || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Catatan</div>
    <div class="fw-semibold text-dark">
      
        {{ data.catatan || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Created At</div>
    <div class="fw-semibold text-dark">
      
        {{ data.createdAt ? (data.createdAt | date:'short') : '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Email Perusahaan</div>
    <div class="fw-semibold text-dark">
      
        {{ data.emailPerusahaan || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Is Aktif</div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.isAktif" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.isAktif">-</span>
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Jenis Client</div>
    <div class="fw-semibold text-dark">
      
        {{ data.jenisClient || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Kode Client</div>
    <div class="fw-semibold text-dark">
      
        {{ data.kodeClient || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Kode Pos</div>
    <div class="fw-semibold text-dark">
      
        {{ data.kodePos || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Kota</div>
    <div class="fw-semibold text-dark">
      
        {{ data.kota || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Logo Url</div>
    <div class="fw-semibold text-dark">
      
        {{ data.logoUrl || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Nama Familiar</div>
    <div class="fw-semibold text-dark">
      
        {{ data.namaFamiliar || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Nama Resmi</div>
    <div class="fw-semibold text-dark">
      
        {{ data.namaResmi || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Npwp</div>
    <div class="fw-semibold text-dark">
      
        {{ data.npwp || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Primary Pic</div>
    <div class="fw-semibold text-dark">
      
        {{ data.primaryPic || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Provinsi</div>
    <div class="fw-semibold text-dark">
      
        {{ data.provinsi || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Telepon</div>
    <div class="fw-semibold text-dark">
      
        {{ data.telepon || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Updated At</div>
    <div class="fw-semibold text-dark">
      
        {{ data.updatedAt || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Website</div>
    <div class="fw-semibold text-dark">
      
        {{ data.website || '-' }}
      
    </div>
  </div>

