<nz-spin [nzSpinning]="is_loading">
    <form [formGroup]="form" (ngSubmit)="submit()" nz-form [nzLayout]="'vertical'">
        
        <nz-form-item>
            <nz-form-label nzFor="dateAcc">{{ 'dateAcc' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-date-picker formControlName="dateAcc" style="width: 100%" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="endDateWp">{{ 'endDateWp' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-date-picker formControlName="endDateWp" style="width: 100%" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="endHours">{{ 'endHours' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="endHours" formControlName="endHours" placeholder="Masukkan {{ 'endHours' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="engineEnd">{{ 'engineEnd' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="engineEnd" formControlName="engineEnd" placeholder="Masukkan {{ 'engineEnd' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="engineStart">{{ 'engineStart' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="engineStart" formControlName="engineStart" placeholder="Masukkan {{ 'engineStart' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idAircraft">{{ 'idAircraft' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idAircraft" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idAircraft' | translate }}"> 
                    <nz-option *ngFor="let item of listAircraft" nzLabel="{{ item.idAircraft }}" nzValue="{{ item.idAircraft }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idUserMm">{{ 'idUserMm' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idUserMm" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idUserMm' | translate }}"> 
                    <nz-option *ngFor="let item of listUserMm" nzLabel="{{ item.idUserMm }}" nzValue="{{ item.idUserMm }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idUserMpc">{{ 'idUserMpc' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idUserMpc" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idUserMpc' | translate }}"> 
                    <nz-option *ngFor="let item of listUserMpc" nzLabel="{{ item.idUserMpc }}" nzValue="{{ item.idUserMpc }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="noteWp">{{ 'noteWp' | translate }}</nz-form-label>
            <nz-form-control>
                <textarea nz-input id="noteWp" formControlName="noteWp" placeholder="Masukkan {{ 'noteWp' | translate }}"></textarea>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="numberWp">{{ 'numberWp' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="numberWp" formControlName="numberWp" placeholder="Masukkan {{ 'numberWp' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="onSite">{{ 'onSite' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="onSite" formControlName="onSite" placeholder="Masukkan {{ 'onSite' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="period">{{ 'period' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="period" formControlName="period" placeholder="Masukkan {{ 'period' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="periodYear">{{ 'periodYear' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="periodYear" formControlName="periodYear" placeholder="Masukkan {{ 'periodYear' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="place">{{ 'place' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="place" formControlName="place" placeholder="Masukkan {{ 'place' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="reason">{{ 'reason' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="reason" formControlName="reason" placeholder="Masukkan {{ 'reason' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="startDateWp">{{ 'startDateWp' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-date-picker formControlName="startDateWp" style="width: 100%" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="startHours">{{ 'startHours' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="startHours" formControlName="startHours" placeholder="Masukkan {{ 'startHours' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="statusWp">{{ 'statusWp' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="statusWp" formControlName="statusWp" placeholder="Masukkan {{ 'statusWp' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="typeWork">{{ 'typeWork' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="typeWork" formControlName="typeWork" placeholder="Masukkan {{ 'typeWork' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="validated">{{ 'validated' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-date-picker formControlName="validated" style="width: 100%" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-control>
                <button nz-button nzType="primary" [disabled]="form.invalid">Simpan</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-spin>