<!-- ✅ Start rendering -->
<div style="display: flex; gap: 16px;">
    <div nz-col [nzSpan]="6">
        <img nz-image width="100%" height="auto" nzSrc="error" [nzFallback]="fallback" alt="" />
    </div>
    <div nz-col [nzSpan]="18">
        <div class="container mt-1">
            <h5 class="fw-bold">INFORMATION</h5>
            <div class="row">

                 
                
                <div class="col-md-4">
                    <div class="text-secondary small">
                        {{ 'hasapu' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">

                        {{ data?.hasapu || '-' }}

                    </div>
                </div> 
                 
                <div class="col-md-4">
                    <div class="text-secondary small">
                        {{ 'manufactureAircraft' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">

                        {{ data?.manufactureAircraft || '-' }}

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-secondary small">
                        {{ 'manufactureDate' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">

                        {{ data?.manufactureDate || '-' }}

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-secondary small">
                        {{ 'manufactureEngine' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">

                        {{ data?.manufactureEngine || '-' }}

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-secondary small">
                        {{ 'manufacturedBy' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">

                        {{ data?.manufacturedBy || '-' }}

                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="text-secondary small">
                        {{ 'purchasedate' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">

                        {{ data?.purchasedate || '-' }}

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-secondary small">
                        {{ 'reasonRegschange' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">

                        {{ data?.reasonRegschange || '-' }}

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-secondary small">
                        {{ 'registrationNumber' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">

                        {{ data?.registrationNumber || '-' }}

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-secondary small">
                        {{ 'serialNumber' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">

                        {{ data?.serialNumber || '-' }}

                    </div>
                </div>
                 
                <div class="col-md-4">
                    <div class="text-secondary small">
                        {{ 'tendurance' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">

                        {{ data?.tendurance | number:'1.0-0' }}

                    </div>
                </div> 
                <div class="col-md-4">
                    <div class="text-secondary small">
                        {{ 'yearMade' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">

                        {{ data?.yearMade || '-' }}

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="text-secondary small">
                        {{ 'Applicable / Tag' | translate }}
                    </div>
                    <div class="fw-semibold text-dark">

                    <span *ngIf="data.actype?.actype" class="badge bg-secondary">{{ data.actype?.actype }}</span>
                    <span *ngIf="data.actype?.description" class="badge bg-secondary">{{ data.actype?.description
                        }}</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 {{ expand_actype.hidden ? 'mb-0' : 'mb-4' }} " *ngIf="data?.actype">
        <div class="fw-bold border-bottom mb-2">
            {{ 'actype' | translate }}
            <button class="btn btn-link btn-sm" (click)="expand_actype.hidden = !expand_actype.hidden">
                <span *ngIf="expand_actype.hidden">Expand</span>
                <span *ngIf="!expand_actype.hidden">Collapse</span>
                <span *ngIf="expand_actype.hidden" nz-icon nzType="down" nzTheme="outline"></span>
                <span *ngIf="!expand_actype.hidden" nz-icon nzType="up" nzTheme="outline"></span>
            </button>
        </div>
        <div class="row" #expand_actype hidden>

            <div class="col-md-3" *ngIf="data?.actype?.acCategory !== undefined && data?.actype?.acCategory !== null">
                <div class="text-secondary small">
                    {{ 'acCategory' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.actype.acCategory || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.actype?.acManufacture !== undefined && data?.actype?.acManufacture !== null">
                <div class="text-secondary small">
                    {{ 'acManufacture' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.actype.acManufacture || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.actype?.actype !== undefined && data?.actype?.actype !== null">
                <div class="text-secondary small">
                    {{ 'actype' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.actype.actype || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.actype?.createdAt !== undefined && data?.actype?.createdAt !== null">
                <div class="text-secondary small">
                    {{ 'createdAt' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.actype.createdAt | date: 'yyyy-MM-dd' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.actype?.description !== undefined && data?.actype?.description !== null">
                <div class="text-secondary small">
                    {{ 'description' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.actype.description || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.actype?.eFlight !== undefined && data?.actype?.eFlight !== null">
                <div class="text-secondary small">
                    {{ 'eFlight' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.actype.eFlight || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.actype?.eStarts !== undefined && data?.actype?.eStarts !== null">
                <div class="text-secondary small">
                    {{ 'eStarts' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.actype.eStarts || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.actype?.engineManufacture !== undefined && data?.actype?.engineManufacture !== null">
                <div class="text-secondary small">
                    {{ 'engineManufacture' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.actype.engineManufacture || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.actype?.engineType !== undefined && data?.actype?.engineType !== null">
                <div class="text-secondary small">
                    {{ 'engineType' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.actype.engineType || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.actype?.hashN1 !== undefined && data?.actype?.hashN1 !== null">
                <div class="text-secondary small">
                    {{ 'hashN1' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.actype.hashN1 || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.actype?.hashN2 !== undefined && data?.actype?.hashN2 !== null">
                <div class="text-secondary small">
                    {{ 'hashN2' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.actype.hashN2 || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.actype?.idActype !== undefined && data?.actype?.idActype !== null">
                <div class="text-secondary small">
                    {{ 'idActype' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.actype.idActype || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.actype?.isDeleted !== undefined && data?.actype?.isDeleted !== null">
                <div class="text-secondary small">
                    {{ 'isDeleted' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag *ngIf="data?.actype.isDeleted" nzColor="blue">Ya</nz-tag>
                    <span *ngIf="!data?.actype.isDeleted">-</span>

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.actype?.numberEngine !== undefined && data?.actype?.numberEngine !== null">
                <div class="text-secondary small">
                    {{ 'numberEngine' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.actype.numberEngine | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.actype?.oldId !== undefined && data?.actype?.oldId !== null">
                <div class="text-secondary small">
                    {{ 'oldId' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.actype.oldId || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.actype?.statusType !== undefined && data?.actype?.statusType !== null">
                <div class="text-secondary small">
                    {{ 'statusType' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag nzColor="green">{{ data?.actype.statusType }}</nz-tag>

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.actype?.updatedAt !== undefined && data?.actype?.updatedAt !== null">
                <div class="text-secondary small">
                    {{ 'updatedAt' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.actype.updatedAt | date: 'yyyy-MM-dd' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.actype?.wingtype !== undefined && data?.actype?.wingtype !== null">
                <div class="text-secondary small">
                    {{ 'wingtype' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.actype.wingtype || '-' }}

                </div>
            </div>

        </div>
    </div>
</div>

<div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row" [nzSpan]="8">
        <h6 class="mt-1">AIRFRAME</h6>
        <div class="table-responsive">
            <table class="table tsn-tso-table">
                <thead>
                    <tr>
                        <th></th>
                        <th class="text-center">TSN</th>
                        <th class="text-center">TSO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Cycles</strong></td>
                        <td class="text-center">{{ tableData.cycles.tsn }}</td>
                        <td class="text-center">{{ tableData.cycles.tso }}</td>
                    </tr>
                    <tr>
                        <td><strong>Hours</strong></td>
                        <td class="text-center">{{ tableData.hours.tsn }}</td>
                        <td class="text-center">{{ tableData.hours.tso }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="8">
        <h6 class="mt-1">ENGINE #1</h6>
        <div class="table-responsive">
            <table class="table tsn-tso-table">
                <thead>
                    <tr>
                        <th></th>
                        <th class="text-center">TSN</th>
                        <th class="text-center">TSO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Cycles</strong></td>
                        <td class="text-center">{{ tableData.cycles.tsn }}</td>
                        <td class="text-center">{{ tableData.cycles.tso }}</td>
                    </tr>
                    <tr>
                        <td><strong>Hours</strong></td>
                        <td class="text-center">{{ tableData.hours.tsn }}</td>
                        <td class="text-center">{{ tableData.hours.tso }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="8">
        <h6 class="mt-1">ENGINE #2</h6>
        <div class="table-responsive">
            <table class="table tsn-tso-table">
                <thead>
                    <tr>
                        <th></th>
                        <th class="text-center">TSN</th>
                        <th class="text-center">TSO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Cycles</strong></td>
                        <td class="text-center">{{ tableData.cycles.tsn }}</td>
                        <td class="text-center">{{ tableData.cycles.tso }}</td>
                    </tr>
                    <tr>
                        <td><strong>Hours</strong></td>
                        <td class="text-center">{{ tableData.hours.tsn }}</td>
                        <td class="text-center">{{ tableData.hours.tso }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>