[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
}

.aircraft-card {
    width: 100%;
}

.tsn-tso-table{
    padding: 5px !important;
}
.aircraft-title {
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
}

.aircraft-type {
    font-size: 18px;
    color: #007bff;
    margin-left: 5px;
    font-weight: 400;
}

.info-section p,
.certificate-section p {
    margin: 5px 0;
}

.card-header {
    background-color: transparent;
    font-weight: bold;
    border-bottom: none;
}

.card-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.info-table {
    width: 100%;
    max-width: 100%;
}

.info-table td {
    vertical-align: middle;
    padding: 4px 12px;
}

.info-table .label {
    width: 25%;
    font-weight: 500;
    color: #333;
}

.info-table .value {
    width: 25%;
    font-weight: 400;
}

.badge {
    font-size: 14px;
    padding: 6px 10px;
    margin-right: 5px;
}

.tsn-tso-table {
    width: 100%;
    max-width: 300px;
    border-collapse: collapse;
}

.tsn-tso-table th {
    background-color: #f8f9fa;
    font-weight: bold;
    padding: 10px;
}

.tsn-tso-table td {
    padding: 10px;
}

.text-center {
    text-align: center;
}