

<!-- ✅ Start rendering -->
<div class="row">
  
    
  
    
  <div class="col-md-3" >
    <div class="text-secondary small">
      {{ 'atInstallCy' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.atInstallCy || '-' }}
      
    </div>
  </div>
  <div class="col-md-3" >
    <div class="text-secondary small">
      {{ 'atInstallDy' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.atInstallDy || '-' }}
      
    </div>
  </div>
  <div class="col-md-3" >
    <div class="text-secondary small">
      {{ 'atInstallHr' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.atInstallHr || '-' }}
      
    </div>
  </div>
  <div class="col-md-3" >
    <div class="text-secondary small">
      {{ 'ata' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.ata || '-' }}
      
    </div>
  </div>
  <div class="col-md-3" >
    <div class="text-secondary small">
      {{ 'code' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.code || '-' }}
      
    </div>
  </div>
  <div class="col-md-3" >
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.createdAt | date: 'yyyy-MM-dd' }}
      
    </div>
  </div>
  <div class="col-md-3" >
    <div class="text-secondary small">
      {{ 'dueAtCy' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.dueAtCy || '-' }}
      
    </div>
  </div>
  <div class="col-md-3" >
    <div class="text-secondary small">
      {{ 'dueAtDy' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.dueAtDy || '-' }}
      
    </div>
  </div>
  <div class="col-md-3" >
    <div class="text-secondary small">
      {{ 'dueAtHr' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.dueAtHr || '-' }}
      
    </div>
  </div>
  
  
  
  <div class="col-md-3" >
    <div class="text-secondary small">
      {{ 'keyword' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.keyword || '-' }}
      
    </div>
  </div>
  <div class="col-md-3" >
    <div class="text-secondary small">
      {{ 'lastPrice' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.lastPrice | number:'1.0-0' }}
      
    </div>
  </div>
  <div class="col-md-3" >
    <div class="text-secondary small">
      {{ 'lastPriceCurrency' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.lastPriceCurrency || '-' }}
      
    </div>
  </div>
  <div class="col-md-3" >
    <div class="text-secondary small">
      {{ 'noteDue' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.noteDue || '-' }}
      
    </div>
  </div>
  <div class="col-md-3" >
    <div class="text-secondary small">
      {{ 'partNumber' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.partNumber || '-' }}
      
    </div>
  </div>
  <div class="col-md-3" >
    <div class="text-secondary small">
      {{ 'partPrice' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.partPrice | number:'1.0-0' }}
      
    </div>
  </div>
  <div class="col-md-3" >
    <div class="text-secondary small">
      {{ 'remainingCy' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.remainingCy | number:'1.0-0' }}
      
    </div>
  </div>
  <div class="col-md-3" >
    <div class="text-secondary small">
      {{ 'remainingDy' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.remainingDy | number:'1.0-0' }}
      
    </div>
  </div>
  <div class="col-md-3" >
    <div class="text-secondary small">
      {{ 'remainingHr' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.remainingHr | number:'1.0-0' }}
      
    </div>
  </div>
  <div class="col-md-3" >
    <div class="text-secondary small">
      {{ 'sn' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.sn || '-' }}
      
    </div>
  </div>
  <div class="col-md-3" >
    <div class="text-secondary small">
      {{ 'toDueCy' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.toDueCy | number:'1.0-0' }}
      
    </div>
  </div>
  <div class="col-md-3" >
    <div class="text-secondary small">
      {{ 'toDueDy' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.toDueDy | number:'1.0-0' }}
      
    </div>
  </div>
  <div class="col-md-3" >
    <div class="text-secondary small">
      {{ 'toDueHr' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.toDueHr | number:'1.0-0' }}
      
    </div>
  </div>
    <div class="col-12 {{ expand_due_list_output.hidden ? 'mb-0' : 'mb-4' }} " *ngIf="data?.dueListOutput">
    <div class="fw-bold border-bottom mb-2">
      {{ 'dueListOutput' | translate }}
      <button class="btn btn-link btn-sm" (click)="expand_due_list_output.hidden = !expand_due_list_output.hidden">
        <span *ngIf="expand_due_list_output.hidden">Expand</span>
        <span *ngIf="!expand_due_list_output.hidden">Collapse</span>
        <span *ngIf="expand_due_list_output.hidden" nz-icon nzType="down" nzTheme="outline"></span>
        <span *ngIf="!expand_due_list_output.hidden" nz-icon nzType="up" nzTheme="outline"></span>
      </button>
    </div>
    <div class="row" #expand_due_list_output hidden>
        
        
          
  
    
  <div class="col-md-3" *ngIf="data?.dueListOutput?.atInstall !== undefined && data?.dueListOutput?.atInstall !== null">
    <div class="text-secondary small">
      {{ 'atInstall' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.dueListOutput?.atInstall || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.dueListOutput?.ata !== undefined && data?.dueListOutput?.ata !== null">
    <div class="text-secondary small">
      {{ 'ata' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.dueListOutput?.ata || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.dueListOutput?.code !== undefined && data?.dueListOutput?.code !== null">
    <div class="text-secondary small">
      {{ 'code' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.dueListOutput?.code || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.dueListOutput?.currentPart !== undefined && data?.dueListOutput?.currentPart !== null">
    <div class="text-secondary small">
      {{ 'currentPart' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.dueListOutput?.currentPart || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.dueListOutput?.dueAt !== undefined && data?.dueListOutput?.dueAt !== null">
    <div class="text-secondary small">
      {{ 'dueAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.dueListOutput?.dueAt || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.dueListOutput?.dueC !== undefined && data?.dueListOutput?.dueC !== null">
    <div class="text-secondary small">
      {{ 'dueC' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.dueListOutput?.dueC | number:'1.0-0' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.dueListOutput?.dueH !== undefined && data?.dueListOutput?.dueH !== null">
    <div class="text-secondary small">
      {{ 'dueH' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.dueListOutput?.dueH | number:'1.0-0' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.dueListOutput?.dueT !== undefined && data?.dueListOutput?.dueT !== null">
    <div class="text-secondary small">
      {{ 'dueT' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.dueListOutput?.dueT | number:'1.0-0' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.dueListOutput?.installPart !== undefined && data?.dueListOutput?.installPart !== null">
    <div class="text-secondary small">
      {{ 'installPart' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.dueListOutput?.installPart || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.dueListOutput?.keyword !== undefined && data?.dueListOutput?.keyword !== null">
    <div class="text-secondary small">
      {{ 'keyword' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.dueListOutput?.keyword || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.dueListOutput?.noteDue !== undefined && data?.dueListOutput?.noteDue !== null">
    <div class="text-secondary small">
      {{ 'noteDue' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.dueListOutput?.noteDue || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.dueListOutput?.partNumber !== undefined && data?.dueListOutput?.partNumber !== null">
    <div class="text-secondary small">
      {{ 'partNumber' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.dueListOutput?.partNumber || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.dueListOutput?.peruntukan !== undefined && data?.dueListOutput?.peruntukan !== null">
    <div class="text-secondary small">
      {{ 'peruntukan' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.dueListOutput?.peruntukan || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.dueListOutput?.ramaining !== undefined && data?.dueListOutput?.ramaining !== null">
    <div class="text-secondary small">
      {{ 'ramaining' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.dueListOutput?.ramaining | number:'1.0-0' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.dueListOutput?.sn !== undefined && data?.dueListOutput?.sn !== null">
    <div class="text-secondary small">
      {{ 'sn' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.dueListOutput?.sn || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.dueListOutput?.toDue !== undefined && data?.dueListOutput?.toDue !== null">
    <div class="text-secondary small">
      {{ 'toDue' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.dueListOutput?.toDue | number:'1.0-0' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.dueListOutput?.typeDue !== undefined && data?.dueListOutput?.typeDue !== null">
    <div class="text-secondary small">
      {{ 'typeDue' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.dueListOutput?.typeDue || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.dueListOutput?.typeOfwork !== undefined && data?.dueListOutput?.typeOfwork !== null">
    <div class="text-secondary small">
      {{ 'typeOfwork' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.dueListOutput?.typeOfwork || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.dueListOutput?.variabel !== undefined && data?.dueListOutput?.variabel !== null">
    <div class="text-secondary small">
      {{ 'variabel' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.dueListOutput?.variabel || '-' }}
      
    </div>
  </div>

  

        
      </div>
    </div>
    <div class="col-12 {{ expand_mpart.hidden ? 'mb-0' : 'mb-4' }} " *ngIf="data?.mpart">
    <div class="fw-bold border-bottom mb-2">
      {{ 'mpart' | translate }}
      <button class="btn btn-link btn-sm" (click)="expand_mpart.hidden = !expand_mpart.hidden">
        <span *ngIf="expand_mpart.hidden">Expand</span>
        <span *ngIf="!expand_mpart.hidden">Collapse</span>
        <span *ngIf="expand_mpart.hidden" nz-icon nzType="down" nzTheme="outline"></span>
        <span *ngIf="!expand_mpart.hidden" nz-icon nzType="up" nzTheme="outline"></span>
      </button>
    </div>
    <div class="row" #expand_mpart hidden>
        
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.calculatedCycle !== undefined && data?.mpart?.calculatedCycle !== null">
    <div class="text-secondary small">
      {{ 'calculatedCycle' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.calculatedCycle || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.calculatedHours !== undefined && data?.mpart?.calculatedHours !== null">
    <div class="text-secondary small">
      {{ 'calculatedHours' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.calculatedHours || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.childname !== undefined && data?.mpart?.childname !== null">
    <div class="text-secondary small">
      {{ 'childname' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.childname || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.codeAtaMentah !== undefined && data?.mpart?.codeAtaMentah !== null">
    <div class="text-secondary small">
      {{ 'codeAtaMentah' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.codeAtaMentah || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.createdAt !== undefined && data?.mpart?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.createdAt | date: 'yyyy-MM-dd' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.descriptionMpart !== undefined && data?.mpart?.descriptionMpart !== null">
    <div class="text-secondary small">
      {{ 'descriptionMpart' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.descriptionMpart || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.forAc !== undefined && data?.mpart?.forAc !== null">
    <div class="text-secondary small">
      {{ 'forAc' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.forAc | number:'1.0-0' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.isDeleted !== undefined && data?.mpart?.isDeleted !== null">
    <div class="text-secondary small">
      {{ 'isDeleted' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data?.mpart.isDeleted" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data?.mpart.isDeleted">-</span>
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.isMandatory !== undefined && data?.mpart?.isMandatory !== null">
    <div class="text-secondary small">
      {{ 'isMandatory' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data?.mpart.isMandatory" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data?.mpart.isMandatory">-</span>
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.ismayor !== undefined && data?.mpart?.ismayor !== null">
    <div class="text-secondary small">
      {{ 'ismayor' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data?.mpart.ismayor" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data?.mpart.ismayor">-</span>
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.keyword !== undefined && data?.mpart?.keyword !== null">
    <div class="text-secondary small">
      {{ 'keyword' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.keyword || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.lastPrice !== undefined && data?.mpart?.lastPrice !== null">
    <div class="text-secondary small">
      {{ 'lastPrice' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.lastPrice | number:'1.0-0' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.lastPriceCurrency !== undefined && data?.mpart?.lastPriceCurrency !== null">
    <div class="text-secondary small">
      {{ 'lastPriceCurrency' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.lastPriceCurrency || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.lifeLimitCycle !== undefined && data?.mpart?.lifeLimitCycle !== null">
    <div class="text-secondary small">
      {{ 'lifeLimitCycle' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.lifeLimitCycle | number:'1.0-0' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.lifeLimitHours !== undefined && data?.mpart?.lifeLimitHours !== null">
    <div class="text-secondary small">
      {{ 'lifeLimitHours' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.lifeLimitHours | number:'1.0-0' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.lifeLimitVal !== undefined && data?.mpart?.lifeLimitVal !== null">
    <div class="text-secondary small">
      {{ 'lifeLimitVal' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.lifeLimitVal | number:'1.0-0' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.lifeLimitVar !== undefined && data?.mpart?.lifeLimitVar !== null">
    <div class="text-secondary small">
      {{ 'lifeLimitVar' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.lifeLimitVar || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.manufactureMpart !== undefined && data?.mpart?.manufactureMpart !== null">
    <div class="text-secondary small">
      {{ 'manufactureMpart' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.manufactureMpart || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.mat_82 !== undefined && data?.mpart?.mat_82 !== null">
    <div class="text-secondary small">
      {{ 'mat_82' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.mat_82 || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.mfigureIndex !== undefined && data?.mpart?.mfigureIndex !== null">
    <div class="text-secondary small">
      {{ 'mfigureIndex' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.mfigureIndex || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.minQty !== undefined && data?.mpart?.minQty !== null">
    <div class="text-secondary small">
      {{ 'minQty' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.minQty | number:'1.0-0' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.mitemIndex !== undefined && data?.mpart?.mitemIndex !== null">
    <div class="text-secondary small">
      {{ 'mitemIndex' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.mitemIndex || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.mtboCycle !== undefined && data?.mpart?.mtboCycle !== null">
    <div class="text-secondary small">
      {{ 'mtboCycle' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.mtboCycle | number:'1.0-0' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.mtboHours !== undefined && data?.mpart?.mtboHours !== null">
    <div class="text-secondary small">
      {{ 'mtboHours' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.mtboHours | number:'1.0-0' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.mtboVal !== undefined && data?.mpart?.mtboVal !== null">
    <div class="text-secondary small">
      {{ 'mtboVal' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.mtboVal | number:'1.0-0' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.mtboVar !== undefined && data?.mpart?.mtboVar !== null">
    <div class="text-secondary small">
      {{ 'mtboVar' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.mtboVar || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.oldAtachapter !== undefined && data?.mpart?.oldAtachapter !== null">
    <div class="text-secondary small">
      {{ 'oldAtachapter' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.oldAtachapter || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.oldId !== undefined && data?.mpart?.oldId !== null">
    <div class="text-secondary small">
      {{ 'oldId' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.oldId || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.parent !== undefined && data?.mpart?.parent !== null">
    <div class="text-secondary small">
      {{ 'parent' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.parent || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.partNumber !== undefined && data?.mpart?.partNumber !== null">
    <div class="text-secondary small">
      {{ 'partNumber' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.partNumber || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.partname !== undefined && data?.mpart?.partname !== null">
    <div class="text-secondary small">
      {{ 'partname' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.partname || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.refMel !== undefined && data?.mpart?.refMel !== null">
    <div class="text-secondary small">
      {{ 'refMel' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.refMel || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.statusMpart !== undefined && data?.mpart?.statusMpart !== null">
    <div class="text-secondary small">
      {{ 'statusMpart' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag nzColor="green">{{ data?.mpart.statusMpart }}</nz-tag>
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.unit !== undefined && data?.mpart?.unit !== null">
    <div class="text-secondary small">
      {{ 'unit' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.unit || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.mpart?.updatedAt !== undefined && data?.mpart?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.mpart?.updatedAt | date: 'yyyy-MM-dd' }}
      
    </div>
  </div>

  

        
      </div>
    </div>
    <div class="col-12 {{ expand_part.hidden ? 'mb-0' : 'mb-4' }} " *ngIf="data?.part">
    <div class="fw-bold border-bottom mb-2">
      {{ 'part' | translate }}
      <button class="btn btn-link btn-sm" (click)="expand_part.hidden = !expand_part.hidden">
        <span *ngIf="expand_part.hidden">Expand</span>
        <span *ngIf="!expand_part.hidden">Collapse</span>
        <span *ngIf="expand_part.hidden" nz-icon nzType="down" nzTheme="outline"></span>
        <span *ngIf="!expand_part.hidden" nz-icon nzType="up" nzTheme="outline"></span>
      </button>
    </div>
    <div class="row" #expand_part hidden>
        
        
          
  
    
  <div class="col-md-3" *ngIf="data?.part?.dateInstall !== undefined && data?.part?.dateInstall !== null">
    <div class="text-secondary small">
      {{ 'dateInstall' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.part?.dateInstall || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.part?.parent !== undefined && data?.part?.parent !== null">
    <div class="text-secondary small">
      {{ 'parent' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.part?.parent || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.part?.tsiCycle !== undefined && data?.part?.tsiCycle !== null">
    <div class="text-secondary small">
      {{ 'tsiCycle' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.part?.tsiCycle | number:'1.0-0' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.part?.tsiHours !== undefined && data?.part?.tsiHours !== null">
    <div class="text-secondary small">
      {{ 'tsiHours' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.part?.tsiHours | number:'1.0-0' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.part?.tsiVal !== undefined && data?.part?.tsiVal !== null">
    <div class="text-secondary small">
      {{ 'tsiVal' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.part?.tsiVal | number:'1.0-0' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.part?.tsiVar !== undefined && data?.part?.tsiVar !== null">
    <div class="text-secondary small">
      {{ 'tsiVar' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.part?.tsiVar || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.part?.tsnCycle !== undefined && data?.part?.tsnCycle !== null">
    <div class="text-secondary small">
      {{ 'tsnCycle' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.part?.tsnCycle | number:'1.0-0' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.part?.tsnHours !== undefined && data?.part?.tsnHours !== null">
    <div class="text-secondary small">
      {{ 'tsnHours' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.part?.tsnHours | number:'1.0-0' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.part?.tsnVal !== undefined && data?.part?.tsnVal !== null">
    <div class="text-secondary small">
      {{ 'tsnVal' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.part?.tsnVal | number:'1.0-0' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.part?.tsnVar !== undefined && data?.part?.tsnVar !== null">
    <div class="text-secondary small">
      {{ 'tsnVar' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.part?.tsnVar || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.part?.tsoCycle !== undefined && data?.part?.tsoCycle !== null">
    <div class="text-secondary small">
      {{ 'tsoCycle' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.part?.tsoCycle | number:'1.0-0' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.part?.tsoHours !== undefined && data?.part?.tsoHours !== null">
    <div class="text-secondary small">
      {{ 'tsoHours' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.part?.tsoHours | number:'1.0-0' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.part?.tsoVal !== undefined && data?.part?.tsoVal !== null">
    <div class="text-secondary small">
      {{ 'tsoVal' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.part?.tsoVal | number:'1.0-0' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.part?.tsoVar !== undefined && data?.part?.tsoVar !== null">
    <div class="text-secondary small">
      {{ 'tsoVar' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.part?.tsoVar || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.part?.warantyStartCycle !== undefined && data?.part?.warantyStartCycle !== null">
    <div class="text-secondary small">
      {{ 'warantyStartCycle' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.part?.warantyStartCycle | number:'1.0-0' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.part?.warantyStartDate !== undefined && data?.part?.warantyStartDate !== null">
    <div class="text-secondary small">
      {{ 'warantyStartDate' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.part?.warantyStartDate || '-' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.part?.warantyStartDays !== undefined && data?.part?.warantyStartDays !== null">
    <div class="text-secondary small">
      {{ 'warantyStartDays' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.part?.warantyStartDays | number:'1.0-0' }}
      
    </div>
  </div>

  
        
          
  
    
  <div class="col-md-3" *ngIf="data?.part?.warantyStartHours !== undefined && data?.part?.warantyStartHours !== null">
    <div class="text-secondary small">
      {{ 'warantyStartHours' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data?.part?.warantyStartHours | number:'1.0-0' }}
      
    </div>
  </div>

  

        
      </div>
    </div>
</div>