<nz-spin [nzSpinning]="is_loading">
    <form [formGroup]="form" (ngSubmit)="submit()" nz-form [nzLayout]="'vertical'">
        
        <nz-form-item>
            <nz-form-label nzFor="dateGrn">{{ 'dateGrn' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-date-picker formControlName="dateGrn" style="width: 100%" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="dateQa">{{ 'dateQa' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-date-picker formControlName="dateQa" style="width: 100%" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="dateQaClose">{{ 'dateQaClose' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-date-picker formControlName="dateQaClose" style="width: 100%" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="grnKe">{{ 'grnKe' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="grnKe" formControlName="grnKe" placeholder="Masukkan {{ 'grnKe' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idPurVendor">{{ 'idPurVendor' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idPurVendor" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idPurVendor' | translate }}"> 
                    <nz-option *ngFor="let item of listPurVendor" nzLabel="{{ item.idPurVendor }}" nzValue="{{ item.idPurVendor }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idSite">{{ 'idSite' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idSite" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idSite' | translate }}"> 
                    <nz-option *ngFor="let item of listSite" nzLabel="{{ item.idSite }}" nzValue="{{ item.idSite }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="idUser">{{ 'idUser' | translate }}</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="idUser" nzShowSearch nzAllowClear nzPlaceHolder="Pilih {{ 'idUser' | translate }}"> 
                    <nz-option *ngFor="let item of listUser" nzLabel="{{ item.idUser }}" nzValue="{{ item.idUser }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-control>
                <label nz-checkbox formControlName="isDeleted">{{ 'isDeleted' | translate }}</label>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="noIndex">{{ 'noIndex' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="noIndex" formControlName="noIndex" placeholder="Masukkan {{ 'noIndex' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="noteGrn">{{ 'noteGrn' | translate }}</nz-form-label>
            <nz-form-control>
                <textarea nz-input id="noteGrn" formControlName="noteGrn" placeholder="Masukkan {{ 'noteGrn' | translate }}"></textarea>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="numberGrn">{{ 'numberGrn' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="numberGrn" formControlName="numberGrn" placeholder="Masukkan {{ 'numberGrn' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="validasi">{{ 'validasi' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input type="number" id="validasi" formControlName="validasi" placeholder="Masukkan {{ 'validasi' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-control>
                <button nz-button nzType="primary" [disabled]="form.invalid">Simpan</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-spin>