
  <div class="mb-3">
    <div class="text-secondary small">Childname</div>
    <div class="fw-semibold text-dark">
      
        {{ data.childname || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Description</div>
    <div class="fw-semibold text-dark">
      
        {{ data.description || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Doctype</div>
    <div class="fw-semibold text-dark">
      
        {{ data.doctype || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Lastupdatestamp</div>
    <div class="fw-semibold text-dark">
      
        {{ data.lastupdatestamp || '-' }}
      
    </div>
  </div>

