<!-- ✅ Start rendering -->
<div class="row">

    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'accountCode' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.accountCode || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'actualWorkHours' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.actualWorkHours | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'adSbNumber' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.adSbNumber || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'adminNotes' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.adminNotes || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'ataCode' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.ataCode || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'authority' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.authority || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'caseNumber' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.caseNumber || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'completionDate' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.completionDate || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'complianceDate' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.complianceDate || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'complianceHours' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.complianceHours | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'complianceLandings' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.complianceLandings | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'createdAt' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.createdAt | date: 'yyyy-MM-dd' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'disposition' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.disposition || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'engineerSign' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.engineerSign || '-' }}

        </div>
    </div>
    
    
    
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'inspectorSign' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.inspectorSign || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'intervalDays' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.intervalDays | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'intervalHours' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.intervalHours | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'intervalLandings' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.intervalLandings | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'intervalMonths' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.intervalMonths | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'itemType' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.itemType || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'location' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.location || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'nextDueDate' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.nextDueDate || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'nextDueHours' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.nextDueHours | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'nextDueLandings' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.nextDueLandings | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'reference' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.reference || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'regularNotes' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.regularNotes || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'releaseStatement' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.releaseStatement || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'remarks' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.remarks || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'requirementType' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.requirementType || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'updatedAt' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.updatedAt | date: 'yyyy-MM-dd' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'workCompletedNumber' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.workCompletedNumber || '-' }}

        </div>
    </div>
    <div class="col-md-3" >
        <div class="text-secondary small">
            {{ 'workSummary' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.workSummary || '-' }}

        </div>
    </div>
    <div class="col-12 {{ expand_aircraft.hidden ? 'mb-0' : 'mb-4' }} " *ngIf="data?.aircraft">
    <div class="fw-bold border-bottom mb-2">
      {{ 'aircraft' | translate }}
      <button class="btn btn-link btn-sm" (click)="expand_aircraft.hidden = !expand_aircraft.hidden">
        <span *ngIf="expand_aircraft.hidden">Expand</span>
        <span *ngIf="!expand_aircraft.hidden">Collapse</span>
        <span *ngIf="expand_aircraft.hidden" nz-icon nzType="down" nzTheme="outline"></span>
        <span *ngIf="!expand_aircraft.hidden" nz-icon nzType="up" nzTheme="outline"></span>
      </button>
    </div>
    <div class="row" #expand_aircraft hidden>

            <div class="col-md-3" *ngIf="data?.aircraft?.acFoto !== undefined && data?.aircraft?.acFoto !== null">
                <div class="text-secondary small">
                    {{ 'acFoto' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.acFoto || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.createdAt !== undefined && data?.aircraft?.createdAt !== null">
                <div class="text-secondary small">
                    {{ 'createdAt' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.createdAt | date: 'yyyy-MM-dd' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.descriptionAircraft !== undefined && data?.aircraft?.descriptionAircraft !== null">
                <div class="text-secondary small">
                    {{ 'descriptionAircraft' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.descriptionAircraft || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.hasapu !== undefined && data?.aircraft?.hasapu !== null">
                <div class="text-secondary small">
                    {{ 'hasapu' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.hasapu || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.isDeleted !== undefined && data?.aircraft?.isDeleted !== null">
                <div class="text-secondary small">
                    {{ 'isDeleted' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag *ngIf="data?.aircraft.isDeleted" nzColor="blue">Ya</nz-tag>
                    <span *ngIf="!data?.aircraft.isDeleted">-</span>

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.keywordAircraft !== undefined && data?.aircraft?.keywordAircraft !== null">
                <div class="text-secondary small">
                    {{ 'keywordAircraft' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.keywordAircraft || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.manufactureAircraft !== undefined && data?.aircraft?.manufactureAircraft !== null">
                <div class="text-secondary small">
                    {{ 'manufactureAircraft' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.manufactureAircraft || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.manufactureDate !== undefined && data?.aircraft?.manufactureDate !== null">
                <div class="text-secondary small">
                    {{ 'manufactureDate' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.manufactureDate || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.manufactureEngine !== undefined && data?.aircraft?.manufactureEngine !== null">
                <div class="text-secondary small">
                    {{ 'manufactureEngine' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.manufactureEngine || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.manufacturedBy !== undefined && data?.aircraft?.manufacturedBy !== null">
                <div class="text-secondary small">
                    {{ 'manufacturedBy' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.manufacturedBy || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.oldActype !== undefined && data?.aircraft?.oldActype !== null">
                <div class="text-secondary small">
                    {{ 'oldActype' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.oldActype || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.oldId !== undefined && data?.aircraft?.oldId !== null">
                <div class="text-secondary small">
                    {{ 'oldId' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.oldId || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.purchasedate !== undefined && data?.aircraft?.purchasedate !== null">
                <div class="text-secondary small">
                    {{ 'purchasedate' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.purchasedate || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.reasonRegschange !== undefined && data?.aircraft?.reasonRegschange !== null">
                <div class="text-secondary small">
                    {{ 'reasonRegschange' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.reasonRegschange || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.registrationNumber !== undefined && data?.aircraft?.registrationNumber !== null">
                <div class="text-secondary small">
                    {{ 'registrationNumber' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.registrationNumber || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.aircraft?.serialNumber !== undefined && data?.aircraft?.serialNumber !== null">
                <div class="text-secondary small">
                    {{ 'serialNumber' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.serialNumber || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.statusAc !== undefined && data?.aircraft?.statusAc !== null">
                <div class="text-secondary small">
                    {{ 'statusAc' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag nzColor="green">{{ data?.aircraft.statusAc }}</nz-tag>

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.tendurance !== undefined && data?.aircraft?.tendurance !== null">
                <div class="text-secondary small">
                    {{ 'tendurance' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.tendurance | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.updatedAt !== undefined && data?.aircraft?.updatedAt !== null">
                <div class="text-secondary small">
                    {{ 'updatedAt' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.updatedAt | date: 'yyyy-MM-dd' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.aircraft?.yearMade !== undefined && data?.aircraft?.yearMade !== null">
                <div class="text-secondary small">
                    {{ 'yearMade' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.aircraft?.yearMade || '-' }}

                </div>
            </div>

        </div>
    </div>
    <div class="col-12 {{ expand_part.hidden ? 'mb-0' : 'mb-4' }} " *ngIf="data?.part">
    <div class="fw-bold border-bottom mb-2">
      {{ 'part' | translate }}
      <button class="btn btn-link btn-sm" (click)="expand_part.hidden = !expand_part.hidden">
        <span *ngIf="expand_part.hidden">Expand</span>
        <span *ngIf="!expand_part.hidden">Collapse</span>
        <span *ngIf="expand_part.hidden" nz-icon nzType="down" nzTheme="outline"></span>
        <span *ngIf="!expand_part.hidden" nz-icon nzType="up" nzTheme="outline"></span>
      </button>
    </div>
    <div class="row" #expand_part hidden>

            <div class="col-md-3" *ngIf="data?.part?.dateInstall !== undefined && data?.part?.dateInstall !== null">
                <div class="text-secondary small">
                    {{ 'dateInstall' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.dateInstall || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.parent !== undefined && data?.part?.parent !== null">
                <div class="text-secondary small">
                    {{ 'parent' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.parent || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsiCycle !== undefined && data?.part?.tsiCycle !== null">
                <div class="text-secondary small">
                    {{ 'tsiCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsiCycle | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsiHours !== undefined && data?.part?.tsiHours !== null">
                <div class="text-secondary small">
                    {{ 'tsiHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsiHours | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsiVal !== undefined && data?.part?.tsiVal !== null">
                <div class="text-secondary small">
                    {{ 'tsiVal' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsiVal | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsiVar !== undefined && data?.part?.tsiVar !== null">
                <div class="text-secondary small">
                    {{ 'tsiVar' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsiVar || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsnCycle !== undefined && data?.part?.tsnCycle !== null">
                <div class="text-secondary small">
                    {{ 'tsnCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsnCycle | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsnHours !== undefined && data?.part?.tsnHours !== null">
                <div class="text-secondary small">
                    {{ 'tsnHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsnHours | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsnVal !== undefined && data?.part?.tsnVal !== null">
                <div class="text-secondary small">
                    {{ 'tsnVal' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsnVal | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsnVar !== undefined && data?.part?.tsnVar !== null">
                <div class="text-secondary small">
                    {{ 'tsnVar' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsnVar || '-' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsoCycle !== undefined && data?.part?.tsoCycle !== null">
                <div class="text-secondary small">
                    {{ 'tsoCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsoCycle | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsoHours !== undefined && data?.part?.tsoHours !== null">
                <div class="text-secondary small">
                    {{ 'tsoHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsoHours | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsoVal !== undefined && data?.part?.tsoVal !== null">
                <div class="text-secondary small">
                    {{ 'tsoVal' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsoVal | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3" *ngIf="data?.part?.tsoVar !== undefined && data?.part?.tsoVar !== null">
                <div class="text-secondary small">
                    {{ 'tsoVar' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsoVar || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.part?.warantyStartCycle !== undefined && data?.part?.warantyStartCycle !== null">
                <div class="text-secondary small">
                    {{ 'warantyStartCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.warantyStartCycle | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.part?.warantyStartDate !== undefined && data?.part?.warantyStartDate !== null">
                <div class="text-secondary small">
                    {{ 'warantyStartDate' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.warantyStartDate || '-' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.part?.warantyStartDays !== undefined && data?.part?.warantyStartDays !== null">
                <div class="text-secondary small">
                    {{ 'warantyStartDays' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.warantyStartDays | number:'1.0-0' }}

                </div>
            </div>

            <div class="col-md-3"
                *ngIf="data?.part?.warantyStartHours !== undefined && data?.part?.warantyStartHours !== null">
                <div class="text-secondary small">
                    {{ 'warantyStartHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.warantyStartHours | number:'1.0-0' }}

                </div>
            </div>

        </div>
    </div>
</div>