



<!-- ✅ Start rendering -->
<div class="row">
  
    
  
    
  <div class="col-md-3" *ngIf="data?.calculatedCycle !== undefined && data?.calculatedCycle !== null">
    <div class="text-secondary small">
      {{ 'calculatedCycle' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.calculatedCycle || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.calculatedHours !== undefined && data?.calculatedHours !== null">
    <div class="text-secondary small">
      {{ 'calculatedHours' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.calculatedHours || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.childname !== undefined && data?.childname !== null">
    <div class="text-secondary small">
      {{ 'childname' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.childname || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.codeAtaMentah !== undefined && data?.codeAtaMentah !== null">
    <div class="text-secondary small">
      {{ 'codeAtaMentah' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.codeAtaMentah || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.createdAt !== undefined && data?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.createdAt | date:'short' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.descriptionMpart !== undefined && data?.descriptionMpart !== null">
    <div class="text-secondary small">
      {{ 'descriptionMpart' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.descriptionMpart || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.forAc !== undefined && data?.forAc !== null">
    <div class="text-secondary small">
      {{ 'forAc' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.forAc | number:'1.0-0' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idAta !== undefined && data?.idAta !== null">
    <div class="text-secondary small">
      {{ 'idAta' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.idAta || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idConditionMonitoring !== undefined && data?.idConditionMonitoring !== null">
    <div class="text-secondary small">
      {{ 'idConditionMonitoring' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.idConditionMonitoring || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idGroup !== undefined && data?.idGroup !== null">
    <div class="text-secondary small">
      {{ 'idGroup' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.idGroup || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idLifeTimeLimit !== undefined && data?.idLifeTimeLimit !== null">
    <div class="text-secondary small">
      {{ 'idLifeTimeLimit' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.idLifeTimeLimit || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idMpart !== undefined && data?.idMpart !== null">
    <div class="text-secondary small">
      {{ 'idMpart' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.idMpart || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idPartCategory !== undefined && data?.idPartCategory !== null">
    <div class="text-secondary small">
      {{ 'idPartCategory' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.idPartCategory || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.idPartid !== undefined && data?.idPartid !== null">
    <div class="text-secondary small">
      {{ 'idPartid' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.idPartid || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.isDeleted !== undefined && data?.isDeleted !== null">
    <div class="text-secondary small">
      {{ 'isDeleted' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.isDeleted" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.isDeleted">-</span>
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.isMandatory !== undefined && data?.isMandatory !== null">
    <div class="text-secondary small">
      {{ 'isMandatory' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.isMandatory" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.isMandatory">-</span>
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.ismayor !== undefined && data?.ismayor !== null">
    <div class="text-secondary small">
      {{ 'ismayor' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.ismayor" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.ismayor">-</span>
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.keyword !== undefined && data?.keyword !== null">
    <div class="text-secondary small">
      {{ 'keyword' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.keyword || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.lifeLimitCycle !== undefined && data?.lifeLimitCycle !== null">
    <div class="text-secondary small">
      {{ 'lifeLimitCycle' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.lifeLimitCycle | number:'1.0-0' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.lifeLimitHours !== undefined && data?.lifeLimitHours !== null">
    <div class="text-secondary small">
      {{ 'lifeLimitHours' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.lifeLimitHours | number:'1.0-0' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.lifeLimitVal !== undefined && data?.lifeLimitVal !== null">
    <div class="text-secondary small">
      {{ 'lifeLimitVal' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.lifeLimitVal | number:'1.0-0' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.lifeLimitVar !== undefined && data?.lifeLimitVar !== null">
    <div class="text-secondary small">
      {{ 'lifeLimitVar' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.lifeLimitVar || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.manufactureMpart !== undefined && data?.manufactureMpart !== null">
    <div class="text-secondary small">
      {{ 'manufactureMpart' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.manufactureMpart || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.mat_82 !== undefined && data?.mat_82 !== null">
    <div class="text-secondary small">
      {{ 'mat_82' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mat_82 || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.mfigureIndex !== undefined && data?.mfigureIndex !== null">
    <div class="text-secondary small">
      {{ 'mfigureIndex' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mfigureIndex || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.minQty !== undefined && data?.minQty !== null">
    <div class="text-secondary small">
      {{ 'minQty' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.minQty | number:'1.0-0' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.mitemIndex !== undefined && data?.mitemIndex !== null">
    <div class="text-secondary small">
      {{ 'mitemIndex' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mitemIndex || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.mtboCycle !== undefined && data?.mtboCycle !== null">
    <div class="text-secondary small">
      {{ 'mtboCycle' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mtboCycle | number:'1.0-0' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.mtboHours !== undefined && data?.mtboHours !== null">
    <div class="text-secondary small">
      {{ 'mtboHours' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mtboHours | number:'1.0-0' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.mtboVal !== undefined && data?.mtboVal !== null">
    <div class="text-secondary small">
      {{ 'mtboVal' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mtboVal | number:'1.0-0' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.mtboVar !== undefined && data?.mtboVar !== null">
    <div class="text-secondary small">
      {{ 'mtboVar' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.mtboVar || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.oldAtachapter !== undefined && data?.oldAtachapter !== null">
    <div class="text-secondary small">
      {{ 'oldAtachapter' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.oldAtachapter || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.oldId !== undefined && data?.oldId !== null">
    <div class="text-secondary small">
      {{ 'oldId' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.oldId || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.parent !== undefined && data?.parent !== null">
    <div class="text-secondary small">
      {{ 'parent' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.parent || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.partNumber !== undefined && data?.partNumber !== null">
    <div class="text-secondary small">
      {{ 'partNumber' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.partNumber || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.partname !== undefined && data?.partname !== null">
    <div class="text-secondary small">
      {{ 'partname' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.partname || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.refMel !== undefined && data?.refMel !== null">
    <div class="text-secondary small">
      {{ 'refMel' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.refMel || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.statusMpart !== undefined && data?.statusMpart !== null">
    <div class="text-secondary small">
      {{ 'statusMpart' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag nzColor="green">{{ data.statusMpart }}</nz-tag>
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.unit !== undefined && data?.unit !== null">
    <div class="text-secondary small">
      {{ 'unit' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.unit || '-' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    
  <div class="col-md-3" *ngIf="data?.updatedAt !== undefined && data?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.updatedAt | date:'short' }}
      
    </div>
  </div>

  
 <br> 
  
    
  
    <div class="col-12 mt-4" *ngIf="data?.ata">
      <div class="fw-bold border-bottom mb-2">
        {{ 'ata' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.ata?.ata !== undefined && data.ata?.ata !== null">
    <div class="text-secondary small">
      {{ 'ata' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.ata.ata || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.ata?.ataType !== undefined && data.ata?.ataType !== null">
    <div class="text-secondary small">
      {{ 'ataType' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.ata.ataType || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.ata?.codeAta !== undefined && data.ata?.codeAta !== null">
    <div class="text-secondary small">
      {{ 'codeAta' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.ata.codeAta || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.ata?.createdAt !== undefined && data.ata?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.ata.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.ata?.idAta !== undefined && data.ata?.idAta !== null">
    <div class="text-secondary small">
      {{ 'idAta' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.ata.idAta || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.ata?.isDeleted !== undefined && data.ata?.isDeleted !== null">
    <div class="text-secondary small">
      {{ 'isDeleted' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.ata.isDeleted" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.ata.isDeleted">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.ata?.keywordAta !== undefined && data.ata?.keywordAta !== null">
    <div class="text-secondary small">
      {{ 'keywordAta' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.ata.keywordAta || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.ata?.oldId !== undefined && data.ata?.oldId !== null">
    <div class="text-secondary small">
      {{ 'oldId' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.ata.oldId || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.ata?.updatedAt !== undefined && data.ata?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.ata.updatedAt | date:'short' }}
      
    </div>
  </div>

  

        
      </div>
    </div>
  
 <br> 
  
    
  
    <div class="col-12 mt-4" *ngIf="data?.conditionMonitoring">
      <div class="fw-bold border-bottom mb-2">
        {{ 'conditionMonitoring' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.conditionMonitoring?.childnameConditionMonitoring !== undefined && data.conditionMonitoring?.childnameConditionMonitoring !== null">
    <div class="text-secondary small">
      {{ 'childnameConditionMonitoring' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.conditionMonitoring.childnameConditionMonitoring || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.conditionMonitoring?.code !== undefined && data.conditionMonitoring?.code !== null">
    <div class="text-secondary small">
      {{ 'code' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.conditionMonitoring.code || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.conditionMonitoring?.conditionMonitoring !== undefined && data.conditionMonitoring?.conditionMonitoring !== null">
    <div class="text-secondary small">
      {{ 'conditionMonitoring' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.conditionMonitoring.conditionMonitoring || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.conditionMonitoring?.idConditionMonitoring !== undefined && data.conditionMonitoring?.idConditionMonitoring !== null">
    <div class="text-secondary small">
      {{ 'idConditionMonitoring' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.conditionMonitoring.idConditionMonitoring || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.conditionMonitoring?.isDeleted !== undefined && data.conditionMonitoring?.isDeleted !== null">
    <div class="text-secondary small">
      {{ 'isDeleted' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.conditionMonitoring.isDeleted" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.conditionMonitoring.isDeleted">-</span>
      
    </div>
  </div>

  

        
      </div>
    </div>
  
 <br> 
  
    
  
    <div class="col-12 mt-4" *ngIf="data?.group">
      <div class="fw-bold border-bottom mb-2">
        {{ 'group' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.group?.createdAt !== undefined && data.group?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.group.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.group?.deskripsi !== undefined && data.group?.deskripsi !== null">
    <div class="text-secondary small">
      {{ 'deskripsi' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.group.deskripsi || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.group?.idUserGroup !== undefined && data.group?.idUserGroup !== null">
    <div class="text-secondary small">
      {{ 'idUserGroup' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.group.idUserGroup || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.group?.namaUserGroup !== undefined && data.group?.namaUserGroup !== null">
    <div class="text-secondary small">
      {{ 'namaUserGroup' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.group.namaUserGroup || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.group?.status !== undefined && data.group?.status !== null">
    <div class="text-secondary small">
      {{ 'status' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag nzColor="green">{{ data.group.status }}</nz-tag>
      
    </div>
  </div>

  

        
          
  
    <div class="col-12 mt-4" *ngIf="data.group?.userGroup">
      <div class="fw-bold border-bottom mb-2">
        {{ 'group.userGroup' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.group.userGroup?.createdAt !== undefined && data.group.userGroup?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.group.userGroup.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.group.userGroup?.deskripsi !== undefined && data.group.userGroup?.deskripsi !== null">
    <div class="text-secondary small">
      {{ 'deskripsi' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.group.userGroup.deskripsi || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.group.userGroup?.idUserGroup !== undefined && data.group.userGroup?.idUserGroup !== null">
    <div class="text-secondary small">
      {{ 'idUserGroup' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.group.userGroup.idUserGroup || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.group.userGroup?.namaUserGroup !== undefined && data.group.userGroup?.namaUserGroup !== null">
    <div class="text-secondary small">
      {{ 'namaUserGroup' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.group.userGroup.namaUserGroup || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.group.userGroup?.status !== undefined && data.group.userGroup?.status !== null">
    <div class="text-secondary small">
      {{ 'status' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag nzColor="green">{{ data.group.userGroup.status }}</nz-tag>
      
    </div>
  </div>

  

        
      </div>
    </div>
  

        
      </div>
    </div>
  
 <br> 
  
    
  
    <div class="col-12 mt-4" *ngIf="data?.lifeTimeLimit">
      <div class="fw-bold border-bottom mb-2">
        {{ 'lifeTimeLimit' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.lifeTimeLimit?.childnameLifeTimeLimit !== undefined && data.lifeTimeLimit?.childnameLifeTimeLimit !== null">
    <div class="text-secondary small">
      {{ 'childnameLifeTimeLimit' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.lifeTimeLimit.childnameLifeTimeLimit || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.lifeTimeLimit?.idLifeTimeLimit !== undefined && data.lifeTimeLimit?.idLifeTimeLimit !== null">
    <div class="text-secondary small">
      {{ 'idLifeTimeLimit' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.lifeTimeLimit.idLifeTimeLimit || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.lifeTimeLimit?.isDeleted !== undefined && data.lifeTimeLimit?.isDeleted !== null">
    <div class="text-secondary small">
      {{ 'isDeleted' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.lifeTimeLimit.isDeleted" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.lifeTimeLimit.isDeleted">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.lifeTimeLimit?.lifeTimeLimit !== undefined && data.lifeTimeLimit?.lifeTimeLimit !== null">
    <div class="text-secondary small">
      {{ 'lifeTimeLimit' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.lifeTimeLimit.lifeTimeLimit || '-' }}
      
    </div>
  </div>

  

        
      </div>
    </div>
  
 <br> 
  
    
  
    <div class="col-12 mt-4" *ngIf="data?.partCategory">
      <div class="fw-bold border-bottom mb-2">
        {{ 'partCategory' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.partCategory?.category !== undefined && data.partCategory?.category !== null">
    <div class="text-secondary small">
      {{ 'category' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.partCategory.category || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.partCategory?.createdAt !== undefined && data.partCategory?.createdAt !== null">
    <div class="text-secondary small">
      {{ 'createdAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.partCategory.createdAt | date:'short' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.partCategory?.descriptionCat !== undefined && data.partCategory?.descriptionCat !== null">
    <div class="text-secondary small">
      {{ 'descriptionCat' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.partCategory.descriptionCat || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.partCategory?.idPartCategory !== undefined && data.partCategory?.idPartCategory !== null">
    <div class="text-secondary small">
      {{ 'idPartCategory' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.partCategory.idPartCategory || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.partCategory?.isDeleted !== undefined && data.partCategory?.isDeleted !== null">
    <div class="text-secondary small">
      {{ 'isDeleted' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.partCategory.isDeleted" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.partCategory.isDeleted">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.partCategory?.parentCat !== undefined && data.partCategory?.parentCat !== null">
    <div class="text-secondary small">
      {{ 'parentCat' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.partCategory.parentCat | number:'1.0-0' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.partCategory?.updatedAt !== undefined && data.partCategory?.updatedAt !== null">
    <div class="text-secondary small">
      {{ 'updatedAt' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.partCategory.updatedAt | date:'short' }}
      
    </div>
  </div>

  

        
      </div>
    </div>
  
 <br> 
  
    
  
    <div class="col-12 mt-4" *ngIf="data?.partid">
      <div class="fw-bold border-bottom mb-2">
        {{ 'partid' | translate }}
      </div>
      <div class="row">
        
        
          
  
    
  <div class="col-md-3" *ngIf="data.partid?.childnamePartid !== undefined && data.partid?.childnamePartid !== null">
    <div class="text-secondary small">
      {{ 'childnamePartid' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.partid.childnamePartid || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.partid?.description !== undefined && data.partid?.description !== null">
    <div class="text-secondary small">
      {{ 'description' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.partid.description || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.partid?.idPartid !== undefined && data.partid?.idPartid !== null">
    <div class="text-secondary small">
      {{ 'idPartid' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.partid.idPartid || '-' }}
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.partid?.isDeleted !== undefined && data.partid?.isDeleted !== null">
    <div class="text-secondary small">
      {{ 'isDeleted' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.partid.isDeleted" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.partid.isDeleted">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.partid?.issingle !== undefined && data.partid?.issingle !== null">
    <div class="text-secondary small">
      {{ 'issingle' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.partid.issingle" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.partid.issingle">-</span>
      
    </div>
  </div>

  

        
          
  
    
  <div class="col-md-3" *ngIf="data.partid?.partid !== undefined && data.partid?.partid !== null">
    <div class="text-secondary small">
      {{ 'partid' | translate }}
    </div>
    <div class="fw-semibold text-dark">
      
        {{ data.partid.partid || '-' }}
      
    </div>
  </div>

  

        
      </div>
    </div>
  
 <br> 
  
</div>
