<nz-card nzTitle="{{filter.status|titlecase}} ({{ total }})" [nzExtra]="extraTemplate" [nzBodyStyle]="{padding:0}">
    <div class="filter" [hidden]="!filter_extra">
        <form nz-form [nzLayout]="'vertical'" role="form">
            <div nz-row [nzGutter]="8">
                <div nz-col [nzXl]="{ span: 6}" [nzLg]="{ span: 8}" [nzMd]="{ span: 12}" [nzXs]="{ span: 24}">
                    <nz-form-item>
                        <nz-form-label>&nbsp;</nz-form-label>
                        <nz-form-control>
                            <nz-input-group nzSearch [nzAddOnBefore]="addOnBeforeTemplate"
                                [nzAddOnAfter]="suffixIconButton" style="width: 100%;">
                                <input type="text" nz-input placeholder="{{'search'|translate|titlecase}}"
                                    [(ngModel)]="search" name="search" (keyup.enter)="searchData()" />
                            </nz-input-group>
                            <ng-template #suffixIconButton>
                                <button nz-button nzType="default" nzSearch (click)="searchData()"><span nz-icon
                                        nzType="search"></span></button>
                            </ng-template>
                            <ng-template #addOnBeforeTemplate>
                                <span nz-icon nzTheme="twotone" nzType="question-circle" nz-popover
                                    nzPopoverTitle="Pencarian berdasarkan" [nzPopoverContent]="tipsPencarian"
                                    nzPopoverPlacement="top"></span>
                                <ng-template #tipsPencarian>
                                    <div>
                                        <ul>
                                            <li *ngFor="let item of search_field">{{ item | translate }}</li>
                                        </ul>
                                    </div>
                                </ng-template>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                        <nz-form-label>{{ 'effectiveDate' | translate }}</nz-form-label>
                        <nz-form-control>
                            <nz-range-picker [(ngModel)]="filter.effectiveDateRange" name="effectiveDateRange"
                                nzFormat="YYYY-MM-DD" nzPlaceHolder="['Dari', 'Sampai']" style="width: 100%;">
                            </nz-range-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                        <nz-form-label>{{ 'idMcurrency' | translate }}</nz-form-label>
                        <nz-form-control>
                            <nz-select [(ngModel)]="filter.idMcurrency" name="idMcurrency" nzAllowClear>
                                <nz-option *ngFor="let item of listMcurrency" [nzValue]="item.idMcurrency"
                                    [nzLabel]="item.namaMcurrency"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                        <nz-form-label>{{ 'idUser' | translate }}</nz-form-label>
                        <nz-form-control>
                            <nz-select [(ngModel)]="filter.idUser" name="idUser" nzAllowClear>
                                <nz-option *ngFor="let item of listUser" [nzValue]="item.idUser"
                                    [nzLabel]="item.namaUser"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                        <nz-form-label>{{ 'newValue' | translate }}</nz-form-label>
                        <nz-form-control>
                            <div nz-row [nzGutter]="8">
                                <div nz-col nzSpan="12">
                                    <input nz-input type="number" [(ngModel)]="filter.newValueMin" name="newValueMin"
                                        placeholder="Min" />
                                </div>
                                <div nz-col nzSpan="12">
                                    <input nz-input type="number" [(ngModel)]="filter.newValueMax" name="newValueMax"
                                        placeholder="Max" />
                                </div>
                            </div>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                        <nz-form-label>{{ 'oldValue' | translate }}</nz-form-label>
                        <nz-form-control>
                            <div nz-row [nzGutter]="8">
                                <div nz-col nzSpan="12">
                                    <input nz-input type="number" [(ngModel)]="filter.oldValueMin" name="oldValueMin"
                                        placeholder="Min" />
                                </div>
                                <div nz-col nzSpan="12">
                                    <input nz-input type="number" [(ngModel)]="filter.oldValueMax" name="oldValueMax"
                                        placeholder="Max" />
                                </div>
                            </div>
                        </nz-form-control>
                    </nz-form-item>
                </div>


                <div nz-col nzSpan="24">

                    <nz-form-item>
                        <nz-form-control>
                            <button nz-button nzType="primary" (click)="print()" style="margin-right: 5px;">
                                <span nz-icon nzType="printer"></span>
                                Print
                            </button>
                            <button nz-button nzType="primary" (click)="searchData()" [nzLoading]="loading"
                                style="margin-right: 10px;"><span nz-icon nzType="filter"></span>Filter</button>
                            <button nz-button nzType="default" (click)="resetData()" [nzLoading]="loading"
                                style="margin-right: 10px;"><span nz-icon nzType="reload"></span>Reset</button>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </div>
    <div style="overflow: auto; background-color: white;">
        <nz-table nzShowSizeChanger [nzData]="listOfData" [nzFrontPagination]="false" [nzLoading]="loading"
            [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
            (nzQueryParams)="onQueryParamsChange($event)" nzSize="small">
            <thead>
                <tr>
                    <th [nzAlign]="'right'">#ID</th>

                    <th [nzSortFn]="true" nzColumnKey="createdAt" *ngIf="isColVisible('createdAt')">
                        {{ 'createdAt' | translate }}
                    </th>

                    <th [nzSortFn]="true" nzColumnKey="effectiveDate" *ngIf="isColVisible('effectiveDate')">
                        {{ 'effectiveDate' | translate }}
                    </th>

                    <th [nzSortFn]="true" nzColumnKey="forcurrency" *ngIf="isColVisible('forcurrency')">
                        {{ 'forcurrency' | translate }}
                    </th>

                    <th [nzSortFn]="true" nzColumnKey="newValue" *ngIf="isColVisible('newValue')">
                        {{ 'newValue' | translate }}
                    </th>

                    <th [nzSortFn]="true" nzColumnKey="noteCurrency" *ngIf="isColVisible('noteCurrency')">
                        {{ 'noteCurrency' | translate }}
                    </th>

                    <th [nzSortFn]="true" nzColumnKey="oldValue" *ngIf="isColVisible('oldValue')">
                        {{ 'oldValue' | translate }}
                    </th>
 

                    <th nzWidth="7%" [nzAlign]="'right'">Action</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let data of listOfData" style="vertical-align: top;">
                    <tr>
                        <td [nzExpand]="expandSet.has(data.idCurrency)"
                            (nzExpandChange)="onExpandChange(data.idCurrency, $event)">
                            <nz-badge *ngIf="data.idCurrency!=null"
                                nzColor="{{ data.idCurrency?.toLowerCase() | status }}"
                                nzText="{{data.idCurrency?.toLowerCase() }}"></nz-badge>
                        </td>


                        <td *ngIf="isColVisible('createdAt')">

                            {{ data.createdAt | date: 'short' }}

                        </td>

                        <td *ngIf="isColVisible('effectiveDate')">

                            {{ data.effectiveDate }}

                        </td>

                        <td *ngIf="isColVisible('forcurrency')">

                            {{ data?.mcurrency?.code }}

                        </td>

                        <td *ngIf="isColVisible('newValue')" class="text-right">

                            {{ data.newValue | number}}

                        </td>

                        <td *ngIf="isColVisible('noteCurrency')">

                            {{ data.noteCurrency }}

                        </td>

                        <td *ngIf="isColVisible('oldValue')" class="text-right">

                            {{ data.oldValue | number }}

                        </td>
 


                        <td [nzAlign]="'right'">
                            <button nz-button nz-dropdown [nzDropdownMenu]="menu">
                                Actions
                                <span nz-icon nzType="down"></span>
                            </button>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item (click)="detail(data)">
                                        <span nz-icon nzType="pic-center" nzTheme="outline"></span>&nbsp;&nbsp;Detail
                                    </li>
                                    <!--  -->
                                    <li nz-menu-item (click)="update(data)" *ngIf="data.status=='draft'">
                                        <span nz-icon nzType="edit" nzTheme="outline"></span>&nbsp;&nbsp;Update
                                    </li>
                                    <li nz-menu-divider *ngIf="data.status=='draft'"></li>
                                    <li nz-menu-item nz-menu-item nz-popconfirm class="text-danger"
                                        *ngIf="data.status=='draft'"
                                        nzPopconfirmTitle="Apakah Anda yakin akan menghapus data ini?"
                                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data.idCurrency)"><span
                                            nz-icon nzType="delete" nzTheme="outline"></span>
                                        <a class="m-1 text-danger">&nbsp;&nbsp;Delete</a>
                                    </li>
                                </ul>
                            </nz-dropdown-menu>
                        </td>
                    </tr>
                    <tr [nzExpand]="expandSet.has(data.idCurrency)">
                        <app-currency-share-header [data]="data"></app-currency-share-header>
                    </tr>
                </ng-container>

            </tbody>
        </nz-table>
    </div>
</nz-card>
<ng-template #extraTemplate>
    <ng-container *ngIf="!filter_extra">
        <nz-input-group nzSearch [nzAddOnBefore]="addOnBeforeTemplate" [nzAddOnAfter]="suffixIconButton"
            style="max-width: 180px;">
            <input type="text" nz-input placeholder="{{'search'|translate|titlecase}}" [(ngModel)]="search"
                name="search" (keyup.enter)="searchData()" />
        </nz-input-group>
        <ng-template #suffixIconButton>
            <button nz-button nzType="default" nzSearch (click)="searchData()"><span nz-icon
                    nzType="search"></span></button>
        </ng-template>
        <ng-template #addOnBeforeTemplate>
            <span nz-icon nzTheme="twotone" nzType="question-circle" nz-popover nzPopoverTitle="Pencarian berdasarkan"
                [nzPopoverContent]="tipsPencarian" nzPopoverPlacement="top"></span>
            <ng-template #tipsPencarian>
                <div>
                    <ul>
                        <li *ngFor="let item of search_field">{{ item | translate }}</li>
                    </ul>
                </div>
            </ng-template>
        </ng-template>
    </ng-container>
    <button nz-button [nzType]="filter_extra ? 'primary' :'default'" style="margin-bottom: 8px;margin-left: 10px;"
        (click)="filter_extra=!filter_extra">
        <span nz-icon nzType="filter" nzTheme="outline"></span> Filter
    </button>
    <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzTy [nzPlacement]="'topRight'"><i nz-icon
            nzType="appstore"></i></button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item *ngFor="let col of columns">
                <label nz-checkbox [(ngModel)]="col.show" (ngModelChange)="onColumnToggle()">
                    {{ col.key | translate }}
                </label>
            </li>
        </ul>
    </nz-dropdown-menu>
    <button nz-button nzType="link" (click)="resetColumns()" nz-tooltip
        nzTooltipTitle="{{ 'Reset Kolom' | translate }}"><i nz-icon nzType="undo"></i></button>

    <button nz-button style="margin-bottom: 8px;margin-left: 10px;" nzType="primary" (click)="add()">
        <span nz-icon nzType="plus" nzTheme="outline"></span> Add New
    </button>
</ng-template>