
  <div class="mb-3">
    <div class="text-secondary small">Address</div>
    <div class="fw-semibold text-dark">
      
        {{ data.address || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Created At</div>
    <div class="fw-semibold text-dark">
      
        {{ data.createdAt ? (data.createdAt | date:'short') : '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Lat</div>
    <div class="fw-semibold text-dark">
      
        {{ data.lat || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Lon</div>
    <div class="fw-semibold text-dark">
      
        {{ data.lon || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Name Location</div>
    <div class="fw-semibold text-dark">
      
        {{ data.nameLocation || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Status Location</div>
    <div class="fw-semibold text-dark">
      
        <nz-tag  nzColor="green">statusLocation </nz-tag> 
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Updated At</div>
    <div class="fw-semibold text-dark">
      
        {{ data.updatedAt || '-' }}
      
    </div>
  </div>

