
  <div class="mb-3">
    <div class="text-secondary small">Ata</div>
    <div class="fw-semibold text-dark">
      
        {{ data.ata || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Ata Type</div>
    <div class="fw-semibold text-dark">
      
        {{ data.ataType || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Code Ata</div>
    <div class="fw-semibold text-dark">
      
        {{ data.codeAta || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Created At</div>
    <div class="fw-semibold text-dark">
      
        {{ data.createdAt ? (data.createdAt | date:'short') : '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Is Deleted</div>
    <div class="fw-semibold text-dark">
      
        <nz-tag *ngIf="data.isDeleted" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.isDeleted">-</span>
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Keyword Ata</div>
    <div class="fw-semibold text-dark">
      
        {{ data.keywordAta || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Old Id</div>
    <div class="fw-semibold text-dark">
      
        {{ data.oldId || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Updated At</div>
    <div class="fw-semibold text-dark">
      
        {{ data.updatedAt || '-' }}
      
    </div>
  </div>

