<!-- ✅ Start rendering -->
<div class="row">

    
    
    
    
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'installedOverhaulC' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.installedOverhaulC | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'installedOverhaulH' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.installedOverhaulH | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'installedOverhaulValue' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.installedOverhaulValue | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'installedParentC' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.installedParentC | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'installedParentH' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.installedParentH | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'installedParentValue' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.installedParentValue | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'installedTsnC' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.installedTsnC | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'installedTsnH' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.installedTsnH | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'isfeatured' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            <nz-tag *ngIf="data?.isfeatured" nzColor="blue">Ya</nz-tag>
            <span *ngIf="!data?.isfeatured">-</span>

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'itemIndex' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.itemIndex || '-' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'newParen' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.newParen || '-' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'oldId' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.oldId || '-' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'oldIdPart' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.oldIdPart || '-' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'oldParent' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.oldParent || '-' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'onPris' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.onPris || '-' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'parent' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.parent || '-' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'qtyInstall' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.qtyInstall | number:'1.0-0' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'refTechLog' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.refTechLog || '-' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'statusInstall' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            <nz-tag nzColor="green">{{ data?.statusInstall }}</nz-tag>

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'topParent' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.topParent || '-' }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="text-secondary small">
            {{ 'updatedAt' | translate }}
        </div>
        <div class="fw-semibold text-dark">

            {{ data?.updatedAt }}

        </div>
    </div>

    <div class="col-12 {{ part.hidden ? 'mb-0' : 'mb-4' }} " *ngIf="data?.part">
        <div class="fw-bold border-bottom mb-2">
            {{ 'Part' | translate }}
            <button class="btn btn-link btn-sm" (click)="part.hidden = !part.hidden">
                <span *ngIf="part.hidden">Expand</span>
                <span *ngIf="!part.hidden">Collapse</span>
                <span *ngIf="part.hidden" nz-icon nzType="down" nzTheme="outline"></span>
                <span *ngIf="!part.hidden" nz-icon nzType="up" nzTheme="outline"></span>
            </button>
        </div>
        <div class="row" #part hidden>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'isDeleted' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag *ngIf="data?.part?.isDeleted" nzColor="blue">Ya</nz-tag>
                    <span *ngIf="!data?.part?.isDeleted">-</span>

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'lifeLimitCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.lifeLimitCycle | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'lifeLimitHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.lifeLimitHours | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'lifeLimitVal' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.lifeLimitVal | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'lifeLimitVar' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.lifeLimitVar || '-' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'manufacture' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.manufacture || '-' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'manufactureDate' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.manufactureDate || '-' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'newFirstInstallH' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.newFirstInstallH | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'oldId' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.oldId || '-' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'oldParent' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.oldParent || '-' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'partParent' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.partParent || '-' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'position' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.position || '-' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'price' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.price | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'purchaseDate' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.purchaseDate || '-' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'qty' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.qty | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'sn' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.sn || '-' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'startInstallC' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.startInstallC | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'startInstallDate' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.startInstallDate || '-' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'startInstallH' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.startInstallH | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'statusOnInventory' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag nzColor="green">{{ data?.part?.statusOnInventory }}</nz-tag>

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'tbiCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tbiCycle | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'tbiHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tbiHours | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'tbiVal' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tbiVal | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'tbiVar' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tbiVar || '-' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'tboCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tboCycle | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'tboHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tboHours | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'tboVal' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tboVal | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'tboVar' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tboVar || '-' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'tempUse' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tempUse | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'tsiCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsiCycle | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'tsiHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsiHours | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'tsiVal' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsiVal | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'tsiVar' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsiVar || '-' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'tsnCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsnCycle | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'tsnHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsnHours | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'tsnVal' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsnVal | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'tsnVar' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsnVar || '-' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'tsoCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsoCycle | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'tsoHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsoHours | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'tsoVal' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsoVal | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'tsoVar' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.tsoVar || '-' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'updatedAt' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.updatedAt | date: 'yyyy-MM-dd' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'useableStatus' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag nzColor="green">{{ data?.part?.useableStatus }}</nz-tag>

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'warrantyCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.warrantyCycle | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'warrantyDays' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.warrantyDays | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'warrantyHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.warrantyHours | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'warrantyStartCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.warrantyStartCycle | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'warrantyStartDate' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.warrantyStartDate || '-' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'warrantyVal' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.warrantyVal | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="text-secondary small">
                    {{ 'warrantyYears' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.warrantyYears | number:'1.0-0' }}

                </div>
            </div>
        </div>
    </div>

    <div class="col-12 {{ expand_mpart.hidden ? 'mb-0' : 'mb-4' }} " *ngIf="data?.part?.mpart">
        <div class="fw-bold border-bottom mb-2">
            {{ 'mpart' | translate }}
            <button class="btn btn-link btn-sm" (click)="expand_mpart.hidden = !expand_mpart.hidden">
                <span *ngIf="expand_mpart.hidden">Expand</span>
                <span *ngIf="!expand_mpart.hidden">Collapse</span>
                <span *ngIf="expand_mpart.hidden" nz-icon nzType="down" nzTheme="outline"></span>
                <span *ngIf="!expand_mpart.hidden" nz-icon nzType="up" nzTheme="outline"></span>
            </button>
        </div>
        <div class="row" #expand_mpart hidden>

            <div class="col-md-3"
                *ngIf="data?.part?.mpart?.calculatedCycle !== undefined && data?.part?.mpart?.calculatedCycle !== null">
                <div class="text-secondary small">
                    {{ 'calculatedCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.calculatedCycle || '-' }}

                </div>
            </div>
            <div class="col-md-3"
                *ngIf="data?.part?.mpart?.calculatedHours !== undefined && data?.part?.mpart?.calculatedHours !== null">
                <div class="text-secondary small">
                    {{ 'calculatedHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.calculatedHours || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.childname !== undefined && data?.part?.mpart?.childname !== null">
                <div class="text-secondary small">
                    {{ 'childname' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.childname || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.codeAtaMentah !== undefined && data?.part?.mpart?.codeAtaMentah !== null">
                <div class="text-secondary small">
                    {{ 'codeAtaMentah' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.codeAtaMentah || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.createdAt !== undefined && data?.part?.mpart?.createdAt !== null">
                <div class="text-secondary small">
                    {{ 'createdAt' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.createdAt | date: 'yyyy-MM-dd' }}

                </div>
            </div>
            <div class="col-md-3"
                *ngIf="data?.part?.mpart?.descriptionMpart !== undefined && data?.part?.mpart?.descriptionMpart !== null">
                <div class="text-secondary small">
                    {{ 'descriptionMpart' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.descriptionMpart || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.forAc !== undefined && data?.part?.mpart?.forAc !== null">
                <div class="text-secondary small">
                    {{ 'forAc' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.forAc | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.isDeleted !== undefined && data?.part?.mpart?.isDeleted !== null">
                <div class="text-secondary small">
                    {{ 'isDeleted' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag *ngIf="data?.part?.mpart?.isDeleted" nzColor="blue">Ya</nz-tag>
                    <span *ngIf="!data?.part?.mpart?.isDeleted">-</span>

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.isMandatory !== undefined && data?.part?.mpart?.isMandatory !== null">
                <div class="text-secondary small">
                    {{ 'isMandatory' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag *ngIf="data?.part?.mpart?.isMandatory" nzColor="blue">Ya</nz-tag>
                    <span *ngIf="!data?.part?.mpart?.isMandatory">-</span>

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.ismayor !== undefined && data?.part?.mpart?.ismayor !== null">
                <div class="text-secondary small">
                    {{ 'ismayor' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag *ngIf="data?.part?.mpart?.ismayor" nzColor="blue">Ya</nz-tag>
                    <span *ngIf="!data?.part?.mpart?.ismayor">-</span>

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.keyword !== undefined && data?.part?.mpart?.keyword !== null">
                <div class="text-secondary small">
                    {{ 'keyword' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.keyword || '-' }}

                </div>
            </div>
            <div class="col-md-3"
                *ngIf="data?.part?.mpart?.lifeLimitCycle !== undefined && data?.part?.mpart?.lifeLimitCycle !== null">
                <div class="text-secondary small">
                    {{ 'lifeLimitCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.lifeLimitCycle | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3"
                *ngIf="data?.part?.mpart?.lifeLimitHours !== undefined && data?.part?.mpart?.lifeLimitHours !== null">
                <div class="text-secondary small">
                    {{ 'lifeLimitHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.lifeLimitHours | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.lifeLimitVal !== undefined && data?.part?.mpart?.lifeLimitVal !== null">
                <div class="text-secondary small">
                    {{ 'lifeLimitVal' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.lifeLimitVal | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.lifeLimitVar !== undefined && data?.part?.mpart?.lifeLimitVar !== null">
                <div class="text-secondary small">
                    {{ 'lifeLimitVar' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.lifeLimitVar || '-' }}

                </div>
            </div>
            <div class="col-md-3"
                *ngIf="data?.part?.mpart?.manufactureMpart !== undefined && data?.part?.mpart?.manufactureMpart !== null">
                <div class="text-secondary small">
                    {{ 'manufactureMpart' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.manufactureMpart || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.mat_82 !== undefined && data?.part?.mpart?.mat_82 !== null">
                <div class="text-secondary small">
                    {{ 'mat_82' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.mat_82 || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.mfigureIndex !== undefined && data?.part?.mpart?.mfigureIndex !== null">
                <div class="text-secondary small">
                    {{ 'mfigureIndex' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.mfigureIndex || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.minQty !== undefined && data?.part?.mpart?.minQty !== null">
                <div class="text-secondary small">
                    {{ 'minQty' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.minQty | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.mitemIndex !== undefined && data?.part?.mpart?.mitemIndex !== null">
                <div class="text-secondary small">
                    {{ 'mitemIndex' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.mitemIndex || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.mtboCycle !== undefined && data?.part?.mpart?.mtboCycle !== null">
                <div class="text-secondary small">
                    {{ 'mtboCycle' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.mtboCycle | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.mtboHours !== undefined && data?.part?.mpart?.mtboHours !== null">
                <div class="text-secondary small">
                    {{ 'mtboHours' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.mtboHours | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.mtboVal !== undefined && data?.part?.mpart?.mtboVal !== null">
                <div class="text-secondary small">
                    {{ 'mtboVal' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.mtboVal | number:'1.0-0' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.mtboVar !== undefined && data?.part?.mpart?.mtboVar !== null">
                <div class="text-secondary small">
                    {{ 'mtboVar' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.mtboVar || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.oldAtachapter !== undefined && data?.part?.mpart?.oldAtachapter !== null">
                <div class="text-secondary small">
                    {{ 'oldAtachapter' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.oldAtachapter || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.oldId !== undefined && data?.part?.mpart?.oldId !== null">
                <div class="text-secondary small">
                    {{ 'oldId' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.oldId || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.parent !== undefined && data?.part?.mpart?.parent !== null">
                <div class="text-secondary small">
                    {{ 'parent' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.parent || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.partNumber !== undefined && data?.part?.mpart?.partNumber !== null">
                <div class="text-secondary small">
                    {{ 'partNumber' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.partNumber || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.partname !== undefined && data?.part?.mpart?.partname !== null">
                <div class="text-secondary small">
                    {{ 'partname' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.partname || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.refMel !== undefined && data?.part?.mpart?.refMel !== null">
                <div class="text-secondary small">
                    {{ 'refMel' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.refMel || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.statusMpart !== undefined && data?.part?.mpart?.statusMpart !== null">
                <div class="text-secondary small">
                    {{ 'statusMpart' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    <nz-tag nzColor="green">{{ data?.part?.mpart?.statusMpart }}</nz-tag>

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.unit !== undefined && data?.part?.mpart?.unit !== null">
                <div class="text-secondary small">
                    {{ 'unit' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.unit || '-' }}

                </div>
            </div>
            <div class="col-md-3" *ngIf="data?.part?.mpart?.updatedAt !== undefined && data?.part?.mpart?.updatedAt !== null">
                <div class="text-secondary small">
                    {{ 'updatedAt' | translate }}
                </div>
                <div class="fw-semibold text-dark">

                    {{ data?.part?.mpart?.updatedAt | date: 'yyyy-MM-dd' }}

                </div>
            </div>

        </div>
    </div>

</div>