<nz-card nzTitle="{{filter.status|titlecase}} ({{ total }})" [nzExtra]="extraTemplate" [nzBodyStyle]="{padding:0}">
    <div class="filter" [hidden]="!filter_extra">
        <form nz-form [nzLayout]="'vertical'" role="form">
            <div nz-row [nzGutter]="8">
                <div nz-col [nzXl]="{ span: 6}" [nzLg]="{ span: 8}" [nzMd]="{ span: 12}" [nzXs]="{ span: 24}">
                    <nz-form-item>
                        <nz-form-label>&nbsp;</nz-form-label>
                        <nz-form-control>
                            <nz-input-group nzSearch [nzAddOnBefore]="addOnBeforeTemplate"
                                [nzAddOnAfter]="suffixIconButton" style="width: 100%;">
                                <input type="text" nz-input placeholder="{{'search'|translate|titlecase}}"
                                    [(ngModel)]="search" name="search" (keyup.enter)="searchData()" />
                            </nz-input-group>
                            <ng-template #suffixIconButton>
                                <button nz-button nzType="default" nzSearch (click)="searchData()"><span nz-icon
                                        nzType="search"></span></button>
                            </ng-template>
                            <ng-template #addOnBeforeTemplate>
                                <span nz-icon nzTheme="twotone" nzType="question-circle" nz-popover
                                    nzPopoverTitle="Pencarian berdasarkan" [nzPopoverContent]="tipsPencarian"
                                    nzPopoverPlacement="top"></span>
                                <ng-template #tipsPencarian>
                                    <div>
                                        <ul>
                                            <li *ngFor="let item of search_field">{{ item | translate }}</li>
                                        </ul>
                                    </div>
                                </ng-template>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'dateInstall' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-range-picker
                            [(ngModel)]="filter.dateInstallRange"
                            name="dateInstallRange"
                            nzFormat="YYYY-MM-DD"
                            nzPlaceHolder="['Dari', 'Sampai']"
                            style="width: 100%;">
                        </nz-range-picker>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'dueOverhaulC' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.dueOverhaulCMin" name="dueOverhaulCMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.dueOverhaulCMax" name="dueOverhaulCMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'dueOverhaulH' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.dueOverhaulHMin" name="dueOverhaulHMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.dueOverhaulHMax" name="dueOverhaulHMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'dueOverhaulValue' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.dueOverhaulValueMin" name="dueOverhaulValueMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.dueOverhaulValueMax" name="dueOverhaulValueMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'idAircraft' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-select [(ngModel)]="filter.idAircraft" name="idAircraft" nzAllowClear>
                            <nz-option *ngFor="let item of listAircraft" [nzValue]="item.idAircraft" [nzLabel]="item.namaAircraft"></nz-option>
                        </nz-select>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'idEngineerPrisItem' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-select [(ngModel)]="filter.idEngineerPrisItem" name="idEngineerPrisItem" nzAllowClear>
                            <nz-option *ngFor="let item of listEngineerPrisItem" [nzValue]="item.idEngineerPrisItem" [nzLabel]="item.namaEngineerPrisItem"></nz-option>
                        </nz-select>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'idPart' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-select [(ngModel)]="filter.idPart" name="idPart" nzAllowClear>
                            <nz-option *ngFor="let item of listPart" [nzValue]="item.idPart" [nzLabel]="item.namaPart"></nz-option>
                        </nz-select>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'idPartInstall' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <nz-select [(ngModel)]="filter.idPartInstall" name="idPartInstall" nzAllowClear>
                            <nz-option *ngFor="let item of listPartInstall" [nzValue]="item.idPartInstall" [nzLabel]="item.namaPartInstall"></nz-option>
                        </nz-select>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'installedInspectionC' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.installedInspectionCMin" name="installedInspectionCMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.installedInspectionCMax" name="installedInspectionCMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'installedInspectionH' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.installedInspectionHMin" name="installedInspectionHMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.installedInspectionHMax" name="installedInspectionHMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'installedInspectionValue' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.installedInspectionValueMin" name="installedInspectionValueMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.installedInspectionValueMax" name="installedInspectionValueMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'installedOverhaulC' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.installedOverhaulCMin" name="installedOverhaulCMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.installedOverhaulCMax" name="installedOverhaulCMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'installedOverhaulH' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.installedOverhaulHMin" name="installedOverhaulHMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.installedOverhaulHMax" name="installedOverhaulHMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'installedOverhaulValue' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.installedOverhaulValueMin" name="installedOverhaulValueMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.installedOverhaulValueMax" name="installedOverhaulValueMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'isfeatured' | translate }}</nz-form-label>
                    <nz-form-control>
                                                    <label nz-checkbox [(ngModel)]="filter.isfeatured" name="isfeatured">Yes</label> 
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                                <div nz-col [nzXl]="{ span: 6 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }">
                    <nz-form-item>
                    <nz-form-label>{{ 'qtyInstall' | translate }}</nz-form-label>
                    <nz-form-control>
                                                <div nz-row [nzGutter]="8">
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.qtyInstallMin" name="qtyInstallMin" placeholder="Min" />
                            </div>
                            <div nz-col nzSpan="12">
                            <input nz-input type="number" [(ngModel)]="filter.qtyInstallMax" name="qtyInstallMax" placeholder="Max" />
                            </div>
                        </div>
                                            </nz-form-control>
                    </nz-form-item>
                </div>
                
 
                <div nz-col nzSpan="24">

                    <nz-form-item>
                        <nz-form-control>
                            <button nz-button nzType="primary" (click)="print()" style="margin-right: 5px;">
                                <span nz-icon nzType="printer"></span>
                                Print
                            </button>
                            <button nz-button nzType="primary" (click)="searchData()" [nzLoading]="loading"
                                style="margin-right: 10px;"><span nz-icon nzType="filter"></span>Filter</button>
                            <button nz-button nzType="default" (click)="resetData()" [nzLoading]="loading"
                                style="margin-right: 10px;"><span nz-icon nzType="reload"></span>Reset</button>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </div>
    <div style="overflow: auto; background-color: white;">
        <nz-table nzShowSizeChanger [nzData]="listOfData" [nzFrontPagination]="false" [nzLoading]="loading"
            [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
            (nzQueryParams)="onQueryParamsChange($event)" nzSize="small">
            <thead>
                <tr>
                    <th   [nzAlign]="'right'">#ID</th>
                    
                    <th [nzSortFn]="true" nzColumnKey="bin" *ngIf="isColVisible('bin')">
                        {{ 'bin' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="createdAt" *ngIf="isColVisible('createdAt')">
                        {{ 'createdAt' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="dateInstall" *ngIf="isColVisible('dateInstall')">
                        {{ 'dateInstall' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="dueOverhaulC" *ngIf="isColVisible('dueOverhaulC')">
                        {{ 'dueOverhaulC' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="dueOverhaulH" *ngIf="isColVisible('dueOverhaulH')">
                        {{ 'dueOverhaulH' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="dueOverhaulValue" *ngIf="isColVisible('dueOverhaulValue')">
                        {{ 'dueOverhaulValue' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="figureIndex" *ngIf="isColVisible('figureIndex')">
                        {{ 'figureIndex' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="installedInspectionC" *ngIf="isColVisible('installedInspectionC')">
                        {{ 'installedInspectionC' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="installedInspectionH" *ngIf="isColVisible('installedInspectionH')">
                        {{ 'installedInspectionH' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="installedInspectionValue" *ngIf="isColVisible('installedInspectionValue')">
                        {{ 'installedInspectionValue' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="installedOverhaulC" *ngIf="isColVisible('installedOverhaulC')">
                        {{ 'installedOverhaulC' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="installedOverhaulH" *ngIf="isColVisible('installedOverhaulH')">
                        {{ 'installedOverhaulH' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="installedOverhaulValue" *ngIf="isColVisible('installedOverhaulValue')">
                        {{ 'installedOverhaulValue' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="isfeatured" *ngIf="isColVisible('isfeatured')">
                        {{ 'isfeatured' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="itemIndex" *ngIf="isColVisible('itemIndex')">
                        {{ 'itemIndex' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="oldId" *ngIf="isColVisible('oldId')">
                        {{ 'oldId' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="parent" *ngIf="isColVisible('parent')">
                        {{ 'parent' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="qtyInstall" *ngIf="isColVisible('qtyInstall')">
                        {{ 'qtyInstall' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="statusInstall" *ngIf="isColVisible('statusInstall')">
                        {{ 'statusInstall' | translate }}
                     </th>
                    
                    <th [nzSortFn]="true" nzColumnKey="updatedAt" *ngIf="isColVisible('updatedAt')">
                        {{ 'updatedAt' | translate }}
                     </th>
                    
                    <th nzWidth="7%" [nzAlign]="'right'">Action</th>
                </tr> 
            </thead>
            <tbody>
                <ng-container *ngFor="let data of listOfData" style="vertical-align: top;">
                    <tr>
                        <td [nzExpand]="expandSet.has(data.idPartInstallOld)"
                            (nzExpandChange)="onExpandChange(data.idPartInstallOld, $event)">
                            <nz-badge *ngIf="data.idPartInstallOld!=null" nzColor="{{ data.idPartInstallOld?.toLowerCase() | status }}"
                                nzText="{{data.idPartInstallOld?.toLowerCase() }}"></nz-badge>  
                        </td>
                        
                        
                            <td *ngIf="isColVisible('bin')">
                                
                                                        {{ data.bin  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('createdAt')">
                                
                                        {{ data.createdAt | date: 'short' }}
                                            
                            </td>
                            
                            <td *ngIf="isColVisible('dateInstall')">
                                
                                                        {{ data.dateInstall  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('dueOverhaulC')">
                                
                                                        {{ data.dueOverhaulC  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('dueOverhaulH')">
                                
                                                        {{ data.dueOverhaulH  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('dueOverhaulValue')">
                                
                                                        {{ data.dueOverhaulValue  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('figureIndex')">
                                
                                                        {{ data.figureIndex  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('installedInspectionC')">
                                
                                                        {{ data.installedInspectionC  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('installedInspectionH')">
                                
                                                        {{ data.installedInspectionH  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('installedInspectionValue')">
                                
                                                        {{ data.installedInspectionValue  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('installedOverhaulC')">
                                
                                                        {{ data.installedOverhaulC  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('installedOverhaulH')">
                                
                                                        {{ data.installedOverhaulH  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('installedOverhaulValue')">
                                
                                                        {{ data.installedOverhaulValue  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('isfeatured')">
                                
                                    <nz-tag *ngIf="data.isfeatured" nzColor="blue">Ya</nz-tag>
                                    <span *ngIf="!data.isfeatured">-</span>
                                    
                            </td>
                            
                            <td *ngIf="isColVisible('itemIndex')">
                                
                                                        {{ data.itemIndex  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('oldId')">
                                
                                                        {{ data.oldId  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('parent')">
                                
                                                        {{ data.parent  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('qtyInstall')">
                                
                                                        {{ data.qtyInstall  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('statusInstall')">
                                
                                                        {{ data.statusInstall  }}
                                                            
                            </td>
                            
                            <td *ngIf="isColVisible('updatedAt')">
                                
                                        {{ data.updatedAt | date: 'short' }}
                                            
                            </td>
                            

                        <td [nzAlign]="'right'">
                            <button nz-button nz-dropdown [nzDropdownMenu]="menu">
                                Actions
                                <span nz-icon nzType="down"></span>
                            </button>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item (click)="detail(data)">
                                        <span nz-icon nzType="pic-center" nzTheme="outline"></span>&nbsp;&nbsp;Detail
                                    </li>
                                    <!--  -->
                                    <li nz-menu-item (click)="update(data)" *ngIf="data.status=='draft'">
                                        <span nz-icon nzType="edit" nzTheme="outline"></span>&nbsp;&nbsp;Update
                                    </li>
                                    <li nz-menu-divider *ngIf="data.status=='draft'"></li>
                                    <li nz-menu-item nz-menu-item nz-popconfirm class="text-danger"
                                        *ngIf="data.status=='draft'"
                                        nzPopconfirmTitle="Apakah Anda yakin akan menghapus data ini?"
                                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data.idPartInstallOld)"><span
                                            nz-icon nzType="delete" nzTheme="outline"></span>
                                        <a class="m-1 text-danger">&nbsp;&nbsp;Delete</a>
                                    </li>
                                </ul>
                            </nz-dropdown-menu>
                        </td>
                    </tr>
                    <tr [nzExpand]="expandSet.has(data.idPartInstallOld)">
                        <app-part-install-old-share-header [data]="data"></app-part-install-old-share-header> 
                    </tr>
                </ng-container>
                 
            </tbody>
        </nz-table>
    </div>
</nz-card>
<ng-template #extraTemplate>
    <ng-container *ngIf="!filter_extra">
        <nz-input-group nzSearch [nzAddOnBefore]="addOnBeforeTemplate" [nzAddOnAfter]="suffixIconButton"
            style="max-width: 180px;">
            <input type="text" nz-input placeholder="{{'search'|translate|titlecase}}" [(ngModel)]="search"
                name="search" (keyup.enter)="searchData()" />
        </nz-input-group>
        <ng-template #suffixIconButton>
            <button nz-button nzType="default" nzSearch (click)="searchData()"><span nz-icon
                    nzType="search"></span></button>
        </ng-template>
        <ng-template #addOnBeforeTemplate>
            <span nz-icon nzTheme="twotone" nzType="question-circle" nz-popover nzPopoverTitle="Pencarian berdasarkan"
                [nzPopoverContent]="tipsPencarian" nzPopoverPlacement="top"></span>
            <ng-template #tipsPencarian>
                <div>
                    <ul>
                        <li *ngFor="let item of search_field">{{ item | translate }}</li>
                    </ul>
                </div>
            </ng-template>
        </ng-template>
    </ng-container>
    <button nz-button [nzType]="filter_extra ? 'primary' :'default'" style="margin-bottom: 8px;margin-left: 10px;"
        (click)="filter_extra=!filter_extra">
        <span nz-icon nzType="filter" nzTheme="outline"></span> Filter
    </button>
    <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzTy [nzPlacement]="'topRight'"><i nz-icon nzType="appstore"></i></button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item *ngFor="let col of columns">
                <label nz-checkbox [(ngModel)]="col.show" (ngModelChange)="onColumnToggle()">
                    {{ col.key | translate }}
                </label>
            </li>
        </ul>
    </nz-dropdown-menu> 
    <button nz-button nzType="link" (click)="resetColumns()" nz-tooltip nzTooltipTitle="{{ 'Reset Kolom' | translate }}"><i nz-icon nzType="undo"></i></button>

    <button nz-button style="margin-bottom: 8px;margin-left: 10px;" nzType="primary" (click)="add()">
        <span nz-icon nzType="plus" nzTheme="outline"></span> Add New
    </button>
</ng-template>