
  <div class="mb-3">
    <div class="text-secondary small">Day</div>
    <div class="fw-semibold text-dark">
      
        {{ data.day || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Description Mel</div>
    <div class="fw-semibold text-dark">
      
        {{ data.descriptionMel || '-' }}
      
    </div>
  </div>

  <div class="mb-3">
    <div class="text-secondary small">Mel</div>
    <div class="fw-semibold text-dark">
      
        {{ data.mel || '-' }}
      
    </div>
  </div>

