<nz-spin [nzSpinning]="is_loading">
    <form [formGroup]="form" (ngSubmit)="submit()" nz-form [nzLayout]="'vertical'">
        
        <nz-form-item>
            <nz-form-label nzFor="childnamePartCondition">{{ 'childnamePartCondition' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="childnamePartCondition" formControlName="childnamePartCondition" placeholder="Masukkan {{ 'childnamePartCondition' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-control>
                <label nz-checkbox formControlName="isDeleted">{{ 'isDeleted' | translate }}</label>
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-label nzFor="partCondition">{{ 'partCondition' | translate }}</nz-form-label>
            <nz-form-control>
                <input nz-input  id="partCondition" formControlName="partCondition" placeholder="Masukkan {{ 'partCondition' | translate }}" />
            </nz-form-control>
        </nz-form-item>
            

        <nz-form-item>
            <nz-form-control>
                <button nz-button nzType="primary" [disabled]="form.invalid">Simpan</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-spin>